{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin-ext" rel="stylesheet"/>
    
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
     <!-- Kliq CSS -->
    <link href="{% static 'css/kliq.css' %}" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <style>
        .container {
            margin-top: 50px;
        }
        hr {
            margin-top: 20px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #eee;
            width: 350px;
        }
        input[type='email'], input[type='password'] {
            border: none;
            padding-bottom: 10px;
            margin-bottom: 10px;
            text-align: center;
            padding-top: 10px;
            text-align: center;
            width: 236px;
            height: 44px;
            /* margin: 0 auto; */
            border-bottom: 1px solid #ccc;
            background: transparent;
            display: inline-block;
            text-align: center;
        }
        
        input[type=submit] {
            -webkit-appearance: button;
            cursor: pointer;
            background: -webkit-linear-gradient(left, #9357cc 0%,#2989d8 50%,#2cc99d 100%);
            padding: 12px 55px;
            color: white;
            border: none;
            margin-top: 20px;
            border-radius: 5px;
            font-family: 'Poppins', 'Muli', 'Helvetica Neue', Arial, sans-serif;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 30px;
            margin-top: 15px;
        }

    </style>
    
    {% block topjs %} {% endblock %}
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-57XT3ZL');</script>
    
    <!-- heap tracking plugin -->
    <script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("2543832801");
    </script>
    
</head>

<body style="background-color:#f7f7f7">
    
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-57XT3ZL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div class='container'> 
        <div class="row" style="text-align:center">
            <div class='col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4'>
                <div class="logo-container">
                     <div class="hoja">Kliq</div>
                 </div>
                 
    
                {% block content %} {% endblock %}
                
            </div> 
        </div>
    </div>
    
{% block bottomjs %} {% endblock %}

</body>
</html>