{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset successful" %}{% endblock %}


{% block content %}
    
<div>
    <h2>{% trans "Email sent" %}</h2>
    <p>
        {% trans "You should receive an email shortly with instructions on setting your password." %}
        <br><br>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
    </p>
</div>

{% endblock %}

</div>
