{% extends "registration/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}

    
<p>{% trans "Your password has been set. You may go ahead and log in now." %}</p>
<p>
    {% if LANGUAGE_CODE == "fr" or LANGUAGE_CODE == "fr-CA" %}
	<a href="{% url 'signinup' 'fr' %}">Connexion</a>
    {% else %}
        <a href="{% url 'signinup' 'en' %}">Login</a>
    {% endif %}
</p>

</div>

{% endblock %}