{% extends "registration/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Setting New Password" %}{% endblock %}



{% block topjs %}

<script>

$(document).ready(function() {

     $("#id_new_password1").attr("required", "true");
     $("#id_new_password2").attr("required", "true");
	
    $('form').h5Validate({
      errorClass:'error-select'
    });  
    

    /* password strength tutorail: http://www.webdesignerdepot.com/2012/01/password-strength-verification-with-jquery/ */
    $('#id_new_password1').keyup(function() {
        var pswd = $(this).val();
        //validate the length
        if ( pswd.length < 8 ) {
            $('#length').removeClass('valid').addClass('invalid');
        } else {
            $('#length').removeClass('invalid').addClass('valid');
        }

    });
    
});

</script>

{% endblock %}


{% block content %}

    {% if validlink %}
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            
            <div class="contentColumns">
                
             <div class="conWrap">
                <div class="conItemlbl"><label for="id_new_password1">{% trans "New password" %}</label></div>
                <div class="conItem">{{ form.new_password1 }}
                
                <div id="pswd_info">
                    <h4>{% trans "Password must be at least 8 characters" %}</h4>
                </div>
                <span class="error legend">{{ form.new_password1.errors }}</span>
                </div>
            </div>
                
                
            <div class="conWrap">
                <div class="conItemlbl"><label for="id_new_password2">{% trans "Confirm password" %}</label></div>
                 <div class="conItem">{{ form.new_password2 }}
                 <span class="error legend"> {{ form.new_password2.errors }} </span>
                 </div>
            </div>
                        
              <input type="submit" value="{% trans 'Change my password' %}" />
              
             </div>
             
        </form>
    {% else %}
        <h2>{% trans "Password reset unsuccessful" %}</h2>
        <p>{% trans "The password reset link was invalid," %}<br />
        {% trans "possibly because it has already been used." %} <br />
        {% trans "Please request a new password reset." %}</p>
    {% endif %}
    
{% endblock %}

{% block bottomjs %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/h5validate.js' %}"></script> 
{% endblock %}

