{% extends "registration/base.html" %}
{% load i18n %}

{% block title%}{% trans "Password Reset" %}{% endblock %}
                 
                {% block content %}
                <p style="text-align:center">{% trans "Forgot your password?" %} <br>{% trans "Enter your email." %}</p>
                <hr/>
        
                <form action="" method="post">
                    {% csrf_token %}
            		{{ form.email }}
            		<br>
            	    {% for error in form.email.errors %}
                        <div class="alert alert-danger"><p>{{ error }}</p></div>
                    {% endfor %}
            	    <br>
            		<input type="submit" value="{% trans 'Reset password' %}" class="btn-primary" />
                </form> <!-- end of sign in form -->
            

{% endblock %}
            