{% extends "registration/base.html" %}
{% load i18n %}

{% block title%}{% trans "Activate your account" %}{% endblock %}
                 
{% block content %}
                <div>
    <h2>{% trans "We've sent you an email" %}</h2>
    <p>
        {% trans "Complete your registration by following the link sent by us to your email." %}
    </p>
</div>

{% endblock %}
            