{% extends "registration/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title%}{% trans "Activate your account" %}{% endblock %}
                 
{% block content %}

{% if valid %}
<div>
    <h2>{% trans "Account activated!" %}</h2>
    <p>
        {% trans "Thank you for activating your account. Go ahead and" %} 
        {% if LANGUAGE_CODE == 'fr' %}
            <a href="{% url '/fr/' %}">{% trans "explore your path!" %}</a>
        {% else %}
            <a href="{% url 'home' %}">{% trans "explore your path!" %}</a>
        {% endif %}
    </p>
</div>

{% else %}

<div>
    <h2>{% trans "Invalid link" %}</h2>
    <p>
        {% trans "Activation link is invalid." %}
    </p>
</div>

{% endif %}


{% endblock %}
            