/* base.css */

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Muli', 'Helvetica Neue', Arial, sans-serif;
    background-color: #ffffff;
    background-image: url(/static/img/pattern4.png);
    background-repeat: repeat;
    min-height:100%;
    margin:0;
}

#navbarCollapse {
    float: right;
}
.icon-set{
    background: #f5f5f5;
}

.fa {
    color: #666666;
}
.navbar-left {
 margin-top:-50px;
}
@media (max-width: 480px) {
  #brand {left:-30px;}
}
@media (max-width:767px){
  .icon-set { display: none; }
  .navbar-left {
 margin-top:0px;
  bottom:-40px;
}
}
.navbar-brand{
  font-size:22px;
  color:#555;
  font-family: 'mensch-bold', 'Poppins', sans-serif;
}
.navbar-brand:hover{
   background: -webkit-linear-gradient(left, #9357cc 0%,#2989d8 50%,#2cc99d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#reg{
    background: #f4f7f6 !important;
    font-family: 'Muli', 'Open Sans', Arial, sans-serif;
}

#log{
  width: 15%;
}
#menuNav {height:55px;}
.nav > li.facebook > a:hover {
    background: #3b5998 !important;
    height: 40px;
}

.nav > li.twitter > a:hover {
    background: #55acee !important;
}

.nav > li.youtube > a:hover {
    background: #ff0000 !important;
    color:white !important;
}

.nav > li.linkedin > a:hover {
    background: #0077B5 !important;
}

.lineborder { border-bottom: 1px solid #ddd; width: 100%;}
.sidenav{background-color:#f4f7f6;height:100%;left:0;overflow-x:hidden;padding-top:60px;position:fixed;top:0;transition:.5s;width:0;z-index:1;}
.sidenavR{background-color:#f4f7f6;height:100%;overflow-x:hidden;padding-top:60px;position:fixed;right:0;top:0;transition:.5s;width:0;z-index:1;}
.sidenav a,.sidenavR a{color:#555;display:block;font-size:15px;padding:20px 8px 20px 32px;text-decoration:none;transition:.3s;}
.sidenav a:hover,.offcanvas a:focus,.sidenavR a:hover,.offcanvas a:focus{ background: -webkit-linear-gradient(left, #9357cc 0%,#2989d8 50%,#2cc99d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
.sidenav .closebtn,.sidenavR .closebtn{font-size:36px;margin-left:50px;position:absolute;right:25px;top:0;}

  
  
.sidenav,.sidenavR{padding-top:15px;}
.sidenav a,.sidenavR a{font-size:15px; text-transform: uppercase; font-weight:700; }

.menubutton{
  margin-top:17px;
  font-size:15px;
  cursor:pointer; 
  font-weight:700; 
  color:#555;
}

.menubutton:hover {
  background: -webkit-linear-gradient(left, #9357cc 0%,#2989d8 50%,#2cc99d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




.nav > li.instagram > a:hover {
    background: #405de6;
    background: -webkit-linear-gradient(left top, #405de6, #833ab4, #fd1d1d, #f56040, #fcaf45);
    background: -o-linear-gradient(bottom right, #405de6, #833ab4, #fd1d1d, #f56040, #fcaf45);
    background: -moz-linear-gradient(bottom right, #405de6, #833ab4, #fd1d1d, #f56040, #fcaf45);
    background: linear-gradient(to bottom right, #405de6, #833ab4, #fd1d1d, #f56040, #fcaf45);
}

.navbar {
    /* background-color: transparent; */
    /*border-color: rgba(255, 255, 255, 0.3);*/
    left: 0;
    right: 0;
    z-index: 1030;
    top: 25px;
    padding: 15px 50px;
    font-size: 17px;
    border-bottom-color: #e7e7e7;
    border-top: none;
    background: white;
    margin-top: -25px;
}

.nav>li>a {
    display: inline;
    color:#666666;
}

  .navbar-default .navbar-nav>li>a:hover{
    font-size: 15px;
    background: -webkit-linear-gradient(top, #9357cc 25%,#2989d8 50%,#2cc99d 80%);
    letter-spacing: 0px;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: #e95095;
     font-family: 'Muli', 'Helvetica Neue', Arial, sans-serif;
     font-weight:300;

  }
.navbar-default .navbar-nav>li {
        font-family: 'Muli', 'Helvetica Neue', Arial, sans-serif;
     font-weight:100;
     color:#666666;
}


.signinbutton {
    padding: 10px 10px;
    background: -webkit-linear-gradient(left, #9357cc 0%, #2989d8 50%, #2cc99d 100%);
    color: white;
    letter-spacing: 1px;
    border: none;
    border-radius: 2px;
    font-size: 12px;
}

.signinbutton:hover {
    text-decoration: none;
    color: white;
}

.logo {
    margin-left: 20px;
    margin-top: -30px;}
    
.question {
    font-size: 95%;
    float: right;
    margin-top: -40px;
    padding-right: 20px;
    padding-right: 20px;
}

.question-button {
      margin-top: -55px;
    margin-bottom: 5px;
    padding-right:20px;
    float: right;
  
}

#welcomeMessage {
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.alert {
    margin-bottom: 6px;
}

.language{
    float:right;
    padding-right:20px;
}

.languagepicker {
	display: inline-block;
	padding: 0;
	height: 40px;
	overflow: hidden;
	margin: 0 20px 0px 0;
	vertical-align: top;
	float: right;
	padding: 0px 20px;
	line-height: 40px;
}

.languagepicker a:hover{
	color: #000;
	text-decoration: none;
}

#footer {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgb(247, 247, 247);
    padding-bottom: 25px;
    padding-top: 25px;
    color: #9d9d9d;
    margin-top: 80px;
}



/****************************************************************************************/

/*********************** All mobiles upright AND landscape ******************************/

@media screen and (max-width: 767px) {
       #menuNav {height:4px;}
  #log { display: none; }
  #reg { display: none; }
    .navbar {
        padding-left: 10px;
        padding-right: 10px;
    }

    #logo {
        width: 80px;
    }

    .question {
        font-size: 83%;
    }

    .question-button {
        margin-top: -35px;
    }

    #welcomeMessage {
        font-family: 'Muli', Arial, sans-serif;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 35px;
    }

}

/**********************************************************************************/

/********************* Tablets and iPad upright AND landscape **************************/

@media screen and (min-width: 768px) {
    .question {
        margin-top: 45px;
        text-align: right;
        font-size: 83%;
        float: right;
        margin-top: -30px;
        padding-right: 20px;
    }
    .question-button {
        font-size: 12px;
        margin-top: -55px;
        float: right;
    }
}

/**********************************************************************************/

/***************************** Desktops *******************************************/

@media screen and (min-width: 1024px) {

}
 @media (max-width: 1200px) and (min-width: 900px) {
   #brand {left:36px;}
  
 }
 
 @media (min-width: 1200px) {
 #brand {left:-69px;}
 }

/***************************** IE CSS *******************************************/


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
    
    
    .signinbutton {
    
    background: #286090;
    }
    
}

