/*!
 * Start Bootstrap - Creative v3.3.7+1 (http://startbootstrap.com/template-overviews/creative)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet');*/
/*
@font-face {
    font-family: mensch-bold;
    src: url('../fonts/mensch-bold.ttf');
}
*/
@font-face {
 font-family: 'mensch-bold';
    src: url('../fonts/mensch-bold.eot');
    src: url('../fonts/mensch-bold.eot?#iefix')
             format('embedded-opentype'),
         url('../fonts/mensch-bold.woff') format('woff'),
         url('../fonts/mensch-bold.ttf') format('truetype');
}         
         
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Muli', 'Open Sans', Arial, sans-serif;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  /*color: #F05F40;*/
}
hr{
  margin: 0px;
}
a:hover,
a:focus {
  color: #eb3812;
  /*border-bottom:1px solid #2cc99d;*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;*/
  font-family: 'Muli', 'Open Sans', Arial, sans-serif;
  font-weight: 300;

}
h2{
  font-size:25px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: 'Muli', 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  letter-spacing:1px;
  color:#333;
}


.bg-primary {
  background-color: #F05F40;
}
.bg-dark {
  background-color: #222222;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding: 50px 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}

/* my additions */

.top-10 { margin-top:10px; }
.top-20 { margin-top:20px; }
.top-30 { margin-top:30px; }
.top-40 { margin-top:40px; }
.top-50 { margin-top:50px; }
.top-60 { margin-top:60px; }
.top-70 { margin-top:70px; }
.top-80 { margin-top:80px; }
.top-100 { margin-top:100px; }
.top-200 { margin-top:200px; }

.bottom-10 { margin-bottom:10px; }
.bottom-20 { margin-bottom:20px; }
.bottom-30 { margin-bottom:30px; }
.bottom-40 { margin-bottom:40px; }
.bottom-50 { margin-bottom:50px; }
.bottom-100 { margin-bottom:100px; }
.bottom-200 { margin-bottom:200px; }

.grey-text { color: #9FA4CE; }
.light-grey-text { color: #777777; font-size:15px; }
.dark-blue-text { color: #2f9dc4; line-height:30px; margin-top:-60px;}
.green-text { color: #1ca184; margin-top:-90px; } 
.red-text { color: #df3b54; }
.orange-text { color: #fba552; }
.uppercase { text-transform: uppercase; }

.btn-orange { background-color: #fece35; color: #fff;}
.btn-green { background-color: #59c673; color: #fff; }
.btn-white { background-color: #fff; color: #000; }
.btn-disabled { background-color: #ccc !important; }
a.btn-disabled { pointer-events: none; cursor: not-allowed; }


#betabar{
  top: 0;
  background: #777777;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 10px;
  display: block;
  position: fixed;
  z-index: 999;
}

#bar-popup {
  top: 0;
  background: #444444;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 13px;
  display: block;
  position: fixed;
  z-index: 999;
}
#bar-popup input {
  color:#000;
}

 #navbarCollapse {
  float:right;
  margin-right: 50px;
  margin-top: 20px;
 }  
 
#signin-btn {
  float:right;
  color: #fff;
  z-index: 1030;
}
#scrollUp {
    position: fixed;
    z-index: 2147483647;
    display: block;
    bottom: 20px;
    right: 20px;
    width: 38px;
    height: 38px;
    background: url(../img/top.png) no-repeat;
}

.logo-container {
  /*
  position: absolute;
  top:11%;
  left:45%;
  */
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:50px;
}
.hoja {
  display: block;
  color: #acabab;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /*top: -115%;
  left: 45%;*/
  width: 160px;
  height: 160px;
  text-align: center;
  font-family: 'mensch-bold', 'Poppins', sans-serif;
  font-size: 40px;
  line-height: 140px;
  -webkit-font-smoothing: antialiased;
}
.hoja:after,
.hoja:before {
  content: "";
  border-radius: 40%;
  position: absolute;
  top: -10%;
  /*left: 0;*/
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.hoja:after {
  box-shadow: inset 0 10px 0 rgba(253, 166, 73, 0.6), inset 10px 0 0 rgba(225, 56, 81, 0.6), inset 0 -10px 0 rgba(140, 84, 179, 0.6), inset -10px 0 0 rgba(47, 158, 196, 0.6);
  -webkit-animation: rotar 3s -0.5s linear infinite;
          animation: rotar 3s -0.5s linear infinite;
}
.hoja:before {
  box-shadow: inset 0 8.75px 0 rgba(28, 161, 132, 0.6), inset 8.75px 0 0 rgba(253, 166, 73, 0.6), inset 0 -8.75px 0 rgba(73, 159, 133, 0.6), inset -8.75px 0 0 rgba(225, 56, 81, 0.6);
  -webkit-animation: rotarIz 3s -0.5s linear infinite;
          animation: rotarIz 3s -0.5s linear infinite;
}
@-webkit-keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
            transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
            transform: rotateZ(360deg) scaleX(1) scaleY(1);
  }
}
@keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
            transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
            transform: rotateZ(360deg) scaleX(1) scaleY(1);
  }
}
@-webkit-keyframes rotarIz {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
            transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
            transform: rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}
@keyframes rotarIz {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
            transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
            transform: rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}

.diagonal-background {
    width: 100%;
    height: 0;
    padding: 10% 0 0;
    background-image: url(../img/diagonal.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
}  
.diagonal-background-top {
    width: 100%;
    height: 0;
    padding: 13% 0 2%;
    background-image: url(../img/diagonal-purple.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
}
.strip {
  width: 100%;
  height: 0;
  padding: 31% 0 1%;
  /*background-image: url(../img/strip-green.svg);*/
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -40px;
}

.strip h1, .strip h2 {
  position: absolute;
  top: 44%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: 400;
}

.error-select {
	border-color:#c60f13 !important;
	border-width: 3px !important;
}

.errorlist
{
  /*border:solid 1px #FBD3C6;*/
  background:#FDE4E1;
  color: #B10009;
  width: auto;
  height: auto;
  margin: 0px;
  padding: 13px;
  border-radius: 6px 6px 6px 6px;
	list-style-type: none;
	font-size: 16px;
}



.number { 
  font-size: 30px;
  color: #3073CD;
  /*margin-bottom:-15px;*/
}

.btn-xxl {
  padding: 15px 40px;
  font-size: 20px; 
  cursor: pointer;
}
.slider-td {
  padding-top: 33px !important;
  width: 30%;
}

.course-td {
  width:20%;
}

.num-td {
  width: 12%;
}
/*
output { 
  font-size: 28px; 
}
*/

.gradient-btn:not(.btn-disabled) {
    background: -webkit-linear-gradient(left, #9357cc 0%,#2989d8 50%,#2cc99d 100%);
}
#startjourney-btn {
  font-size: 13px;
  padding: 14px 27px;
}


/** Grades section **/

.sk-double-bounce {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 27.5px auto; 
  
}
.sk-double-bounce .sk-child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3073CD;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
          animation: sk-doubleBounce 2s infinite ease-in-out; 
}
.sk-double-bounce .sk-double-bounce2 {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s; 
}
  
@-webkit-keyframes sk-doubleBounce {
    0%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0); }
    50% {
      -webkit-transform: scale(1);
              transform: scale(1); } 
}
      
@keyframes sk-doubleBounce {
    0%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0); }
    50% {
      -webkit-transform: scale(1);
              transform: scale(1); } 
}

.loading {
  margin-bottom: 39px;
}
                  
#grades {
  min-height: 100%;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 50px;
}

#grades .strip {
  background-image: url(../img/strip-blue.svg);
}

#grades input {
  text-align: center;
  /*border-radius: 5px;*/
  border: 0;
  border-bottom: solid 1px #ccc;
  height: 50px;
}
.autocomplete-suggestion {
  background: #fff;
  text-align: center;
}
#output-row {
  color: #9d9d9d;
  font-size: 11px;
}
.outputcontent {
  padding-right: 5px;
  padding-left: 5px;
}
#gradesForm {
  padding-bottom: 40px;
  margin: 0;
  width: auto;
}
.courses-table input, #gradesForm input {
  width: 100%;
  outline: none;
  margin-bottom:7px;
}

#gradesForm select {
  width: 100%;
  border-color: #ccc; 
  background-color:#fff; 
  height: 48px; 
  text-align: center;
}

#gradesForm input[disabled] {
    background: none;
}

input.ng-invalid {
  border-bottom: solid 2px #4eba6e !important;
}

/** End of grades section **/


/*** Personality Section ***/ 

section#personality {
  padding-top: 0;
  display:none;
}

#personality .strip {
  background-image: url(../img/strip-green.svg);
}

/**** toggle slider ****/



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 31px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


.checkedon.slider {
  background-color: #2196F3;
}

.checkedon.slider:before {
  -webkit-transform: translateX(29px);
  -ms-transform: translateX(29px);
  transform: translateX(29px);
}
/*
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(29px);
  -ms-transform: translateX(29px);
  transform: translateX(29px);
}
*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/**** end of toggle slider ****/

#choice-div {
  height: 250px;
}
#choice-div:before {
  content: 'or';
  color: gray;
  position: relative;
  margin: auto;
  height: 0.5em;
  width: 0.5em;
  left: 32.6%;
  top: 7.5em;
  z-index: 900;
  font-size: 16px;
}
#choice-div:after {
    content: '';
    position: relative;
    background: rgba(128, 128, 128, 0.3);
    float: left;
    left: 33.3%;
    bottom: 22.7em;
    margin: auto;
    height: 5em;
    width: 0.1em;
    -moz-box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
    -webkit-box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
    box-shadow: 0 6.5em 0 0 rgba(128, 128, 128, 0.3);
}
#choice-row {
  height: 330px;
}
#choice-row:before {
  content: 'or';
  color: gray;
  position: relative;
  margin: auto;
  height: 0.5em;
  width: 0.5em;
  left: 16%;
  top: 6.2em;
  z-index: 900;
  font-size: 16px;
}
#choice-row:after {
    content: '';
    position: relative;
    background: rgba(128, 128, 128, 0.3);
    float: left;
    left: 66%;
    bottom: 12.2em;
    margin: auto;
    height: 5em;
    width: 0.1em;
    -moz-box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
    -webkit-box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
    box-shadow: 0 6.5em 0 0 rgba(128, 128, 128, 0.3);
}
#right-personality, #left-personality, #middle-personality {
  height: 180px;
  vertical-align: middle;
  line-height: 180px;
  text-align: center;
}
section#personality .item{
  cursor: pointer;
  width: 100%;
	padding: 25% 0px;
	margin: 10px 0;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	opacity: 1;
	transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

#overlayTest {
  display: block; /* Hidden by default */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-image : url('../img/Sign_up_Lock-03.svg');
  align-items:center;
  background-size: 300px 100px;
  background-color: rgba(255,255,255,255); /* Black background with opacity */
  text-align: center;
  background-attachment: fixed;
  background-position: center; 
}

#popup_this {
    top: 50%;
    left: 50%;
    text-align:center;
    margin-top: -50px;
    margin-left: -100px;
    position: fixed;
    background: #fff;
    padding: 30px;
}
.b-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: #fff;
    background: #ff0000;
    padding: 5px 10px;
}

.careershiding{
  text-shadow: 180px 180px 180px rgba(90, 115, 142, 0.9);
	opacity: 0.1;
	color: #FFFFFF;
	-webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

}

.provincial{
  text-align:center;
  display:block;
  margin:0 auto;
}

/*section#personality .item h3,
section#personality .item h4 {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
section#personality .item:before,
section#personality .item:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
}

section#personality .item:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}


section#personality .item:after {
    content: attr(data-active);
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
}

section#personality .item:hover h3,
section#personality .item:active h3,
section#personality .item:hover h4,
section#personality .item:active h4{
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}


section#personality .item:hover:before,
section#personality .item:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
    font-size: 110%;
}

section#personality .item:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
} */
section#personality .item:hover {
    opacity: 0.5;
} 
/*
section#personality .item img{
	width: auto;
	margin: 0 auto;
	display: block;
}
*/
section#personality .item h3{
	font-size: 28px;
	font-weight: 300;
	/*margin: 25px 0 0;*/
	margin: 0;
}
section#personality .item h4{
	margin: 5px 0 0;
	font-size: 18px;
}
h4{

	font-size: 15px;
	line-height: 20px;
}

h3{font-size:20px;}
.item h1{
	margin: inherit;
}

.orange{
	background: #fda649;
}
.blue{
	background: #2f9ec4;
}
.green{
	background: #1ca184;
}
.red {
	background: #e13851;
}
.purple {
	background: #8c54b3;
}
.grey {
  background :#ccc;
}
/*** end of personality section ***/

/*** Careers section ***/
section#careers {
  min-height: 80%;
  padding-top: 0px;
  display:none;
}
section#careers .strip {
  background-image: url(../img/strip-red.svg);
}

.filter-list, .sorts-list {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 30px;
}
.filter-list > li, .sorts-list > li {
  display: inline;
  margin: 0px;
  cursor: pointer;
}
.filter-list > li a, .sorts-list > li a {
  padding: 5px;
}

.filter-list .active, .sorts-list .active {
  background-color: #ccc;
  color: #fff;
  /*border-bottom: 2px #111 solid;*/
}
section#careers .well {
    background: #fff;
    margin-bottom: 5px;
    color: #5A738E;
    padding: 3px 9px 7px 14px;
}
section#careers .well:not(.blurred):hover {
  background: #f9f9f9;
  cursor: pointer;
  /*margin-bottom: 10px;*/
}
section#careers a {
    text-decoration: none;
}
.loading-img {
  width: 50px;
  height: 50px;
}
.lock{
  background: rgba(255, 255, 255, 0.72);
   border: 1px solid #2f9ec4;
   padding: 10px;
    position:absolute;
  	top: 9%;
    margin-left:25%;
    margin-right:25%;
    z-index: 10;
    align-content: center;
    text-align: center;
}
.lock .lock-img{
  	width: 70px;
    height: 70px;

}
.lock .lock-text{
		margin-top: 18px;
		font-size: 20px;
}
.resting-img{
  width: 62px;
  height: 62px;
}
#isotopeContainer .col-md-3 {
  /*width:24%;*/ 
}

li.isotope-element { height: 192px; }
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
#careers .isotope-item {
  padding: 0;
  padding-left: 15px;
  margin-top: 10px;
}

#careers .isotope-item.selected > .well{
  background: #f1f1f1;
}
#careers .well:not(.blurred).selected {
  background: #f1f1f1;
}

.info-link{
  float:right;
}
a.info-link:hover, a.info-link:focus {
  border: none;
}
.info-icon {
  height: 15px;
  margin-top:6px;
  /*
    position: absolute;
    right: 10px;
    top: 15px;
  */
}
.plus-icon {
  position: absolute;
  bottom: 17px;
  right: 10px;
  height: 15px;
}
.info-icon:hover {
  content: url('../img/icon-info-hover.png');
}
.plus-icon:hover {
  content: url('../img/like-hover.svg');
}
.minus-icon {
  position: absolute;
  bottom: 20px;
  right: 10px;
  height: 15px;
}

.minus-icon:hover{
  content: url('../img/round-delete-button-hover.svg');
}

section#careers .career-item {
  margin-top:10px;
  padding-right: 0;
}
section#careers .career-item .jobs, section#careers .career-item .travel {
  visibility: hidden;
}
section#careers .career-wells-container {
  min-height: 350px;
  
}

.lineborder { border-bottom: 1px solid #ddd; width: 100%;}

.sidenav{background-color:#f4f7f6;height:100%;left:0;overflow-x:hidden;padding-top:60px;position:fixed;top:0;transition:.5s;width:0;z-index:1;}
.sidenavR{background-color:#f4f7f6;height:100%;overflow-x:hidden;padding-top:60px;position:fixed;right:0;top:0;transition:.5s;width:0;z-index:1;}
.sidenav a,.sidenavR a{color:#555;display:block;font-size:15px;padding:20px 8px 20px 32px;text-decoration:none;transition:.3s;}
.sidenav a:hover,.offcanvas a:focus,.sidenavR a:hover,.offcanvas a:focus{ background: -webkit-linear-gradient(left, #9357cc 0%,#2989d8 50%,#2cc99d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
.sidenav .closebtn,.sidenavR .closebtn{font-size:36px;margin-left:50px;position:absolute;right:25px;top:0;}

  
  
.sidenav,.sidenavR{padding-top:15px;}
.sidenav a,.sidenavR a{font-size:15px; text-transform: uppercase; font-weight:700; }




#careers .blurred {
  box-shadow: 0px 0px 20px 10px rgba(255,255,255,1);
  opacity: 0.5;
}
#careers .well.blurred h4, #careers .well.blurred span {
  text-shadow: 14px 13px 14px rgba(90, 115, 142, 0.9);
	opacity: 0.6;
	color: #FAF8F8;
	-webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.well.outlook1 {
  border-left: 6px solid #cc2027;
}

.well.outlook2 {
  border-left: 6px solid #f3971f;
}

.well.outlook3 {
  border-left: 6px solid #6fbe44;
}

.well.outlook0 {
  border-left: 6px solid #999999;
}



.filtertag {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 9px;
}
.filtertagcancel {
 display: block;
  background-image: url(../img/cancel_image.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer; 
  
}


/* End of careers section */

/* Programs section */


section#programs .strip {
  background-image: url(../img/strip-orange.svg);
}

section#programs {
  min-height: 80%;
  padding-top: 0;
  padding-bottom: 0;
  display:none;
}
#programs .section1 {
  text-align: center;
}
#programs .section2 {
  padding-left: 0;
}
section#programs .logo-col {
 padding-right: 0;
 padding-left: 0; /* added later for apply now btn */
 padding-top: 13px;
}
section#programs .name {
 padding-right: 0;
 padding-top: 13px;
}
.programs-table .program-row {
  padding-top: 10px;
  padding-bottom: 20px;
}
.programs-table .col-md-1:not(.logo-col), .programs-table .col-md-2, .program-row .col-md-3 {
  padding-top: 25px;
}
.programs-table .program-row:nth-child(even):not(:first-child) {
  background-color: #f9f9f9;
}
section#programs a {
  cursor: pointer;
}
.programs-table a.disabled {
  color: #777;
  /*font-style: italic;*/
  pointer-events: none;
  cursor: default;
}
.program-block {
    display: block;
    min-height: 100px;
    position: relative;
    outline: none;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#programs img.yes {
  content: url('../img/yes.svg');
  width: 22px;
}
#programs img.no {
  content: url('../img/no.svg');
  width: 22px;
}
#programs img.sort-arrows {
  content: url('../img/sort-arrows.svg');
  width: 22px;
  cursor: pointer;
}
.programs-table .row:first-child .col-md-1, .programs-table .row:first-child .col-md-2 {
  padding: 0;
}
.programs-table .info-headers{
  display:none;
}
.program-row.blurred {
  box-shadow: 0px 0px 20px 10px rgba(255,255,255,1);
  opacity: 0.7;
}
.program-row.blurred img {
  box-shadow: 0px 0px 20px 10px rgba(255,255,255,1);
  opacity: 0.1;
}
.program-row.blurred div, .program-row.blurred div span {
  text-shadow: 0px 0px 10px rgba(50, 50, 50, 0.9);
	color: transparent;
	opacity: 0.7;
	-webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.icon-set-sign{
    background: #f5f5f5;
}

.icon-set{
    height:60px;
}

.fa {
    color: #666666;
}


.nav > li.facebook > a:hover {
    background: #3b5998 !important;
    height: 40px;
}

.nav > li.twitter > a:hover {
    background: #55acee !important;
}

.nav > li.youtube > a:hover {
    background: #ff0000 !important;
    color:white !important;
}

.nav > li.linkedin > a:hover {
    background: #0077B5 !important;
}





.nav > li.instagram > a:hover {
    background: #405de6;
    background: -webkit-linear-gradient(left top, #405de6, #833ab4, #fd1d1d, #f56040, #fcaf45);
    background: -o-linear-gradient(bottom right, #405de6, #833ab4, #fd1d1d, #f56040, #fcaf45);
    background: -moz-linear-gradient(bottom right, #405de6, #833ab4, #fd1d1d, #f56040, #fcaf45);
    background: linear-gradient(to bottom right, #405de6, #833ab4, #fd1d1d, #f56040, #fcaf45);
}


 
#selectCity {
   
   
    border-color: #e03751;
    height: 30%;
    width: 290px;
    font-size: 160%;
    padding: 10px 10px 10px 10px;
    /* margin-bottom: 30px; */
    margin-top: 25px;
    background-color: white;
    color: #808080;
}

.filterselects{
  background-color:white;
  height: 34px;
  font-weight: bold;
}


/* End of programs section */

#footer {
  text-align: center;
  background-color: rgb(247, 247, 247);
  padding-bottom: 25px;
  padding-top: 25px;
  color: #9d9d9d;;
  margin-top: 80px;
}

#sharing {
  text-align: center;
  background-color: #8c54b3;
  padding-bottom: 50px;
  padding-top: 3px;
  color: #fff;
  margin-top: 0;
}
#sharing h2 {
  margin-top: 0;
}
.navbar-custom .navbar-nav .dropdown-menu  { 
  background-color: #f4f7f6;
}
.navbar-brand{

  font-size:22px;
  color:#555;
  font-family: 'mensch-bold', 'Poppins', sans-serif;
}
.navbar-brand:hover{
   background: -webkit-linear-gradient(left, #9357cc 0%,#2989d8 50%,#2cc99d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

#reg{
    background: #f4f7f6 !important;
    font-family: 'Muli', 'Open Sans', Arial, sans-serif;
}

#log{
  width: 15%;
}
#menuNav {height:55px;}
@media (max-width:767px){
.element-item{
  width:90%;
  margin-left:30px;
}
  
  .icon-set { display: none; }
#menuNav {height:4px;}
  .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }
}


@media (min-width: 768px) {
  
  
.element-item{
  width:23%;
  margin-left:10px;
}
    .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

  .navbar-header {
    margin-top:-25px;
    padding-top: 15px;
  }

  #homeHeading {
    font-family: 'Muli', 'Open Sans', Arial, sans-serif;
    color:rgb(114,114,114);
   font-size:20px;
   letter-spacing:0.5px;

  }

  .courses-table, .courses-table td {
    border: none !important;
  }

#sticky-bucket {
  position: fixed;
  top: 60px;
  right: 25px;
  background: #f9f9f9;
  border: solid 1px #ccc;
  height: auto;
  width: 230px;
  padding: 10px;
  z-index: 9999;
  line-height: 30px;
}
#sticky-bucket hr {
  border-color: #ccc;
  margin: 5px 0;
  width: 75%;
}
#sticky-bucket img {
  height: 15px;
  float: right;
  margin-right: 10px;
}
#sticky-bucket img:hover {
  cursor: pointer;
  height: 15px;
  float: right;
  content: url('../img/three-dots-green.svg');
}

#feedbackform {
  background-color: #fff;
  display: none;
}

/* end of my additions */
  
.navbar-default {
    background-color: white;
    /*border-color: rgba(255, 255, 255, 0.3);*/
    border: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1030;
    top:19px;
  }
  
  #grades .col-lg-1 {
    padding-right: 7px;
    padding-left: 7px;
  }
  
}



header {
  /*height: 121%;*/
  
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
 /* background-image: url('../img/background3.png'); */
  background-color: white;
  text-align: center;
  color: #1c1c1c;
  letter-spacing: 1.5px;
  font-weight: 400;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  /*font-weight: 700;*/

  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 20px;
    width:600px;
    margin: 0 auto;
   /* letter-spacing: 1.5px;*/
    line-height: 25px;
    font-weight: 400;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

 

.section-heading {
  margin-top: 0;
}
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}

.service-box p {
  margin-bottom: 0;
}

.text-primary {
  color: #F05F40;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-default {
  color: #222222;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #222222;
  background-color: #f2f2f2;
  border-color: #ededed;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
/*
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: white;
}
*/
.btn-default .badge {
  color: white;
  background-color: #222222;
}
.btn-primary {
  color: white;
  /* background-color: #F05F40; */
  border-radius: 3px !important;
  background-color: #49A0D5;
  border-color: #F05F40;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
/*.btn-primary:focus,
.btn-primary.focus,*/
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  /*background-color: #ee4b28;*/
  background-color: #97c7e7;
  border-color: #ed431f;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

/***************************** IE CSS *******************************************/


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
    
    
    .btn-primary {
    background: #0facd6;
    }
    
}
/***************************** END IE CSS *******************************************/

/*
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #49A0D5;
  border-color: #49A0D5;
}
*/
.btn-primary .badge {
  color: #49A0D5;
  background-color: white;
}
.btn {
  font-family: 'Muli', 'Open Sans', Arial, sans-serif;
  border: none;
  border-radius: 10px;
  /*font-weight: 700;*/
  text-transform: uppercase;
      font-size: 15px;
    letter-spacing: 1px;
    padding: 14px 35px;
}
.btn-xl {
  padding: 15px 30px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}

.hovertip {
    position: relative;
    display: inline-block;
  
}

.hovertip .hovertiptext {
     visibility: hidden;
    width: 120px;
    background-color: #f1f1f1;
    color: #1c1c1c;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.hovertip .hovertiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #f1f1f1 transparent transparent transparent;
}

.hovertip:hover .hovertiptext {
    visibility: visible;
    
}


.nav>li>a{
  display: inline;}
  
  .navbar-default .navbar-nav>li>a:hover{
    font-size: 15px;
    background: -webkit-linear-gradient(top, #9357cc 25%,#2989d8 50%,#2cc99d 80%);
    letter-spacing: 0px;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: #e95095;
    font-family: 'Muli', 'Open Sans', Arial, sans-serif;
     font-weight:300;

  }
  
  .navbar-default .navbar-nav>li>a{
   font-family: 'Muli', 'Open Sans', Arial, sans-serif;
   font-weight:100;
   color:#666666;
  }
  
/*** Login Page ***/
.slogan{
    color:rgb(86,86,86);
    margin-top: -40px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size:22px;
  }

#loginForm {
  text-align:center;
}
.formItem > input {
    border: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    text-align: center;
    width: 200px;
    /* margin: 0 auto; */
    border-bottom: 1px solid #ccc;
    background: transparent;
    display: inline-block;
    text-align: center;
}
.registerhere{
    font-size: 18px;
    line-height: 30px;
    color: white;
    float: left;
    padding-left: 60px;
    margin-top: -7px;
}
.errormsg {
  color: #f55661;
  font-weight: bold;
}

.navbar-default {
    background-color: white;
    border: none;
    /*margin-top: 30px;*/
}

.navbar{
  margin-top:10px;
  min-height: 50px;
  margin-bottom:-80px;
}



/*----------------------------------------------------------------------------*/
/*------------------     @media max width 767 (2)    -------------------------*/
/*----------------------------------------------------------------------------*/

@media (max-width: 767px) {
  
  .strip {
    padding: 45% 0 1%;
  }
  
  .strip h1, .strip h2 {
    font-size: 30px;
    font-weight: 400;
  }

  .navbar-default {
    background-color: white;
    height: 50px;
   }
   
   .navbar {
    /*margin-top: 80px;*/
    min-height: 50px;
    margin-bottom: 0px;
   }
    
  #betabar{
      padding: 20px;
  }
  
  .col-md-12{
 /* margin-bottom:50px;*/
}
    .filterselects{
  width:150px;
  }

}

/*--------------------------- All phones in upright position -----------------*/

@media (max-width: 415px) {
  .strip h1, .strip h2 {
    font-size: 27px;
    font-weight: 300;
    top: 40%;
    line-height:29px;
  }
  h3 {
    font-size: 20px;
    padding-left:15px;
    padding-right:15px;
    line-height:29px;
    
  }
  
  #sorting{
  
padding:25px; 
margin-top:-20px;
  
}
  
}

/*----------------------------------------------------------------------------*/
/*------------------     @media max width 480  (5)    ------------------------*/
/*----------------------------------------------------------------------------*/
@media (max-width: 480px) {
  #brand {left:-30px;}
  #homeHeading {
  font-family: 'Muli', 'Open Sans', Arial, sans-serif;
   font-size: 20px;
   color:rgb(114,114,114);
   line-height:29px;
   font-weight:300;
      letter-spacing: 0px;
    padding-right: 25px;
    padding-left: 25px;
  }
  
  textarea {
    width: 100%;
  }

  .strip{
    padding: 45% 0 1%;
    margin-bottom:0px;
  }
  


  .navbar-default {
    background-color: white;
    height: 50px;
  }
  
  .navbar-nav>li>a {
    padding-top: 0;
    line-height: 0;
    font-weight:300;
    color:#666666;
  }
  
  #navbarCollapse {
    margin-top: 0;
  }
  
  header .header-content {
    padding-top: 65px;
  }
  
  .navbar {
    /*margin-top: 80px;*/
    min-height: 50px;
    margin-bottom: 0px;
  }
    
  #betaba {
      padding: 20px;
    }
    
     #sorting{
  
padding:25px; 
margin-top:-20px;
  
}
  
    
section#careers .career-wells-container {
text-align: center;
    min-height: 350px;
    width: 100%;
    margin-top: 30px;
    margin-left: -7px;

}
/*
.col-md-12{
  margin-bottom:50px;
}
*/
}

.filterselects{
  background-color:white;
  height: 34px;
  width:150px;
  font-weight: bold;
}

/*----------------------------------------------------------------------------*/
/*------------------     @media max width 992 (2)    -------------------------*/
/*----------------------------------------------------------------------------*/
                        /******PROGRAM SECTION*******/
                       
@media (max-width: 992px) {
   
  
    #log { display: none; }
  #reg { display: none; }
  /*
  .programs-table .row:first-child, .programs-table .logo-col img, .programs-table .logo-col, .programs-table .col-md-2:not(.name), .programs-table .col-md-1:not(.duration):not(.cost):not(.coop) {
    visibility: hidden;
    height: 0;
    padding-top: 0 !important;
  }
  */
  .programs-table .row:first-child, .programs-table .logo-col img, .programs-table .logo-col, .programs-table .admissionavg, .programs-table .section1 {
    visibility: hidden;
    display: none;
    height: 0;
    padding-top: 0 !important;
  }
  .programs-table .col-md-2:not(.name) {
    padding-top: 0;
    font-size: 14px;
    color: #666;
  }
  .programs-table {
    text-align: center;
    font-size: 16px;
  }
  .programs-table .name {
    font-size: 18px;
  }
  .coop:before {
    content: 'Coop:  ';
  }
  .programs-table .city, .programs-table .duration, .programs-table .cost, .programs-table .scholarship-avg {
    font-size:12px;
    color: #888 !important;
  }
  .programs-table .city, .programs-table .duration {
    margin-bottom: 25px;
  }
  .programs-table .info-headers {
    display:block;
    font-size:12px;
    color: #ccc;
    margin-bottom:5px;
  }
  .filterselects{
  background-color:white;
  height: 34px;
  width:150px;
  font-weight: bold;
}

  /*
  .cost:before {
    content: 'Cost/Year\A';
    display:block;
    font-size:12px;
    color: #ccc;
  }
  .scholarship-num:before {
    content: 'Number of Scholarships\A';
    display:block;
    font-size:12px;
    color: #ccc;
  }
  .scholarship-avg:before {
    content: 'Avg. value of Scholarships\A';
    display:block;
    font-size:12px;
    color: #ccc;
  }
  */
  
  /*****GRADES SECTION*******/
  #grades #output-row {
    /*
    visibility: hidden;
    height: 0;
    */
    display: none;
  }
  #grades h2 {
    font-size: 24px;
  }
  #grades h3 {
    font-size: 22px;
  }
  
/*
.col-md-12{
  margin-bottom:50px;
}
*/
}
/*----------------------------------------------------------------------------*/
/*------------------     @media min width 992 (1)    -------------------------*/
/*----------------------------------------------------------------------------*/

@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  
  }
  /*
  .col-md-12{
  margin-bottom:50px;
  }*/
  
}
/*----------------------------------------------------------------------------*/
/*------------------     @media min width 1200 (2)    ------------------------*/
/*----------------------------------------------------------------------------*/

 @media (max-width: 1200px) and (min-width: 900px) {
   #brand {left:25px;}
  
 }
@media (min-width: 1200px) {
 #brand {left:-69px;}
  section#personality .container {
    width: 970px;}

  #programs .container {
    width: 1100px; /*was 1288px*/ 
  }
  
  /*.col-md-12{
    margin-bottom:50px;
  }*/
  

#sorting{
  
padding:25px; 
margin-top:0px;
  
}

}


#circle1 {
    width: 15px;
    height: 15px;
    background: #cc2027;}

#circle2 {
    width: 15px;
    height: 15px;
    background: #f3971f;}
    
#circle3 {
    width: 15px;
    height: 15px;
    background: #6fbe44;}
    
#circle4 {
    width: 15px;
    height: 15px;
    background: grey;}
    
.circle {
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;}
    
#careerLabels{
   /*  margin-top: 30px; */
    margin-left: 0px;
    text-align: left;
}
/*
.col-md-12{
  margin-bottom:50px;
}
*/

.signinbutton {
    padding: 10px 10px;
    background: -webkit-linear-gradient(left, #9357cc 0%, #2989d8 50%, #2cc99d 100%);
    color: white;
    letter-spacing: 1px;
    border: none;
    border-radius: 2px;
    font-size: 12px;
}

.signinbutton:hover {
    text-decoration: none;
    color: white;
}


.dropdownmenu #hiding .hidetemp{
  display:block;
  margin: 0 auto;
}

.navbar-default .navbar-collapse{
  background-color:white;
}

.menubutton{
  margin-top:17px;
  font-size:15px;
  cursor:pointer; 
  font-weight:700; 
  color:#555;
}

.menubutton:hover {
  background: -webkit-linear-gradient(left, #9357cc 0%,#2989d8 50%,#2cc99d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menubutton:active {
  background: -webkit-linear-gradient(left, #9357cc 0%,#2989d8 50%,#2cc99d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}