@font-face {
    font-family: 'mensch-bold';
    src: url('../fonts/mensch-bold.eot');
    src: url('../fonts/mensch-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/mensch-bold.woff') format('woff'), url('../fonts/mensch-bold.ttf') format('truetype');
}

.container {
    margin-top: 80px;
    /* width: 700px; */
    background-color: white;
    padding-bottom: 40px;
}

legend {
    letter-spacing: 2px;
    /* margin-bottom: 60px;*/
    padding-top: 30px;
    text-align: left;
    float: left;
}

.form-control {
    color: #777;
    border: 0.5px solid #eee;
    border-left: 3px solid #38a3ff;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    height: 44px;
}

label {
    margin-top: 15px;
}

.titles {
    margin-top: 170px;
    margin-bottom: 70px;
    border-bottom: 1px solid #ccc;
    letter-spacing: 2px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #777;
    opacity: 1;
    /* Firefox */
    letter-spacing: 1px;
    font-size: 13px;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #777;
    letter-spacing: 1px;
    font-size: 13px;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #777;
    letter-spacing: 1px;
    font-size: 13px;
}

.gendersection {
    text-align: left !important;
    margin-left: 30px;
    line-height: 30px;
}

input[type=radio] {
    margin-right: 15px;
    border: 4px solid #0DFF92;
}

.payment {
    border-top: 1px solid #E8EBEF;
    border-bottom: 1px solid #E8EBEF;
    width: 540px;
    position: relative;
    margin: 0 auto;
    height: 70px;
    padding-top: 17px;
}

.smallpayment {
    font-size: 13px;
    color: #777;
    vertical-align: super;
}

.paymentammount {
    display: inline;
    font-size: 30px;
    padding-top: 10px;
}

.paymenttitle {
    display: inline;
    line-height: 25px;
}

.button {
    background: -webkit-linear-gradient(left, #9357cc 0%, #2989d8 50%, #2cc99d 100%);
    font-size: 13px;
    padding: 15px 50px;
    color: white;
    letter-spacing: 1px;
    border: none;
    border-radius: 2px;
}

.form-control.error {
    border-color: #dc3545;
}

label.error {
    font-weight: normal;
    color: #dc3545;
}

#id_gender li,
#id_school_language li {
    list-style-type: none;
}

#id_gender label,
#id_school_language label {
    font-weight: normal;
}

#id_gender,
#id_school_language {
    padding-left: 0;
}

.gender-group,
.language-group {
    text-align: left;
}

.captcha-col {
    margin-right: auto;
    margin-left: auto;
    width: 304px;
}

h3 {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 40px;
}

#submitbtn {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}


/****************************************************************************************/
/*********************** all mobiles upright AND landscape ******************************/

@media screen and (min-width: 320px) and (max-width: 767px) {
    #welcomeMessage {
        font-family: 'Muli', Arial, sans-serif;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 35px;
    }
    .payment {
        width: 100%;
    }
    .paymentammount {
        font-size: 25px;
    }
    .paymenttitle {
        font-size: 14px;
    }
}


/***************************************************************************************/
/********************* Tablets and iPad upright AND landscape **************************/

@media (min-width: 768px) and (max-width: 1024px) {}


/**********************************************************************************/
/***************************** Desktops *******************************************/

@media (min-width: 1024px) {
    .g-recaptcha div:nth-child(1) {
        height: 80px !important;
    }
}


/***************************** IE CSS *******************************************/

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .button {
        background: #286090;
    }
}


/***************************** END IE CSS *******************************************/