@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico.ttf');
}
@font-face {
font-family: 'mensch-bold';
src: url('../fonts/mensch-bold.eot');
src: url('../fonts/mensch-bold.eot?#iefix')
format('embedded-opentype'),
url('../fonts/mensch-bold.woff') format('woff'),
url('../fonts/mensch-bold.ttf') format('truetype');
}

body {
    font-family: 'Muli', 'Helvetica Neue', Arial, sans-serif;
}

.container {
    margin-top: 80px;
    text-align: center;
    background-color: white;
    padding-bottom: 40px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    width: 350px;
}

#id_username,
#id_password {
    border: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    text-align: center;
    width: 236px;
    height: 44px;
    /* margin: 0 auto; */
    border-bottom: 1px solid #ccc;
    background: transparent;
}

input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    background: -webkit-linear-gradient(left, #9357cc 0%, #2989d8 50%, #2cc99d 100%);
    padding: 12px 55px;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    font-family: 'Poppins', 'Muli', 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 15px;
}

.form-control.error {
    border-color: #dc3545;
}

label.error {
    font-weight: normal;
    color: #dc3545;
}

.welcome {
    font-size: 40px;
    font-family: 'Pacifico', sans-serif;
    line-height: 80px;
    background: #7b4397;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dc2430, #7b4397);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/****************************************************************************************/
/*********************** all mobiles upright AND landscape ******************************/

@media screen and (min-width: 320px) and (max-width: 767px) {
    
    .welcome {
        font-size: 30px;
        font-family: 'Pacifico', sans-serif;
        line-height: 60px;
        color: #9d9d9d;
    }
    
}

/***************************************************************************************/
/********************* Tablets and iPad upright AND landscape **************************/

@media screen and (min-width: 768px) and (max-width: 1024px) {}

/**********************************************************************************/
/***************************** Desktops *******************************************/

@media screen and (min-width: 1024px) {}

/***************************** IE CSS *******************************************/


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
    
    
    .welcome {
        color:#286090;
    background: none;
    }
    
}
/***************************** END IE CSS *******************************************/

