/*<body {
    background: #f6f7fa;
    background-image: url('../img/Particles.png');
}*/
canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background:
    background: rgba(255, 255, 255, 0);
}


#dashboard-container {
    margin-top: 60px;
    width: 100%;
}
.x_panel {
    width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background:rgba(255, 255, 255, 0.82);
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
    min-height:300px;

}
.x_panel, .x_title {
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom:5px;

}

.titletxt{
    font-size:13px;
    margin:0px;
    color: grey;
    margin-top:20px;
    margin-bottom:5px;
}


.user {
    height: 700px;
    text-align: center;
    font-size:16px;
    background-color: rgba(245, 245, 245, 0.77);
}
.panel {
    padding: 0 !important;
}
.title {
    margin-left: 17px;
}
.overflow_hidden, .tile {
    overflow: hidden;
}
.whitebutton {
    padding: 15px 15px;
    margin-top:30px;
   background: -webkit-linear-gradient(left, #9357cc 0%,#2989d8 50%,#2cc99d 100%);
    color: white;
    font-family: 'Poppins', 'Muli', 'Helvetica Neue', Arial, sans-serif;
    font-size: 12pt;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    
}
.school {
    font-size: 1em;
    color: #666666;
}

.userprofile {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
 border: 1px solid #E6E9ED;
  object-fit: cover;
  margin-top:20px;
}

.box_content {
 height:289px;
 overflow:auto;
}

button.list-group-item {
  
    border: 1px #E6E9ED;
  border-style: solid none solid none;
  border-radius: 0px;
}

.navbtn{
     font-size: 15px;
    background: -webkit-linear-gradient(top, #9357cc 25%,#2989d8 50%,#2cc99d 80%);
    letter-spacing: 1px;
    float:right;
    display: inline;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     font-family: 'Muli', 'Helvetica Neue', Arial, sans-serif;
     /*margin-top:30px;*/
     padding-right: 10px;
     padding-left: 10px;
     margin-right: 0;
     z-index: 99999;
}
.navgroup{
    position: absolute;
    width: 100%;
    padding-right: 20px;
    float: right;
    top: 0;
    margin-top: 30px;
    margin-bottom: 10px;
}
a:hover,
a:focus {
  color: #eb3812;
  border-bottom:1px solid #2cc99d;
}

.infotext{
   font-size: 12px;
    color: #9d9d9d;
    letter-spacing: 1px;
     font-family: 'Muli', 'Helvetica Neue', Arial, sans-serif;
}

.top-link {
    z-index: 99999;
}


@media (max-width: 768px) {
    .user {
        height: 540px;
    }
}