{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{% trans "400 Error" %}{% endblock %}


{% block content %}

{{ data }}
    
<div>
    <h2>{% trans "400 Error" %}</h2>
    <p>
        {% trans "Something went wrong." %}
        <br><br>
        <a href="{% url 'home' %}">{% trans "Return to home" %}</a>
    </p>
</div>

{% endblock %}

</div>