{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{% trans "400 Error" %}{% endblock %}


{% block content %}
    
<div>
    <h2>{% trans "404 Error" %}</h2>
    <p>
        {% trans "We can't seem to find the page you are looking for." %}
        <br><br>
        <a href="{% url 'home' %}">{% trans "Return to home" %}</a>
    </p>
</div>

{% endblock %}

</div>