{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
    <head>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="KLIQ.CA" />
        <meta property="og:description" content="KLIQ is The cognitive modeling tool integrating grades, personality, probability, and decision trees, for the educational and career journey." /> 
        
        <title>{% block title %}  {% endblock %}</title>
        
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
        <link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/angular-ui-bootstrap/dist/ui-bootstrap-csp.css' %}" rel="stylesheet" type="text/css">
        
        {% block topcss %}  {% endblock topcss %}
        
        <script>
            (function(i,s,o,g,r,a,m){
            i['GoogleAnalyticsObject']=r;
            i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},
            i[r].l=1*new Date();
            a=s.createElement(o),m=s.getElementsByTagName(o)[0];
            a.async=1;
            a.src=g;
            m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
            ga('create', 'UA-132112457-1', 'auto');
            ga('send', 'pageview');
        </script>

         <!-- Google Tag Manager -->
          <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-57XT3ZL');</script>
         <!-- End Google Tag Manager -->
    
        {% block topjs %} {% endblock topjs %}
        
    </head>
    
    <body>
             
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-57XT3ZL"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        
        {% block gtmpush %} {% endblock gtmpush %}
        


<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    {% if user.is_authenticated %}
      <a class="lineborder" >{% trans "Close" %}</a>
    <a class="lineborder" href="{% url 'profile' %}">Profile</a>
    {% if LANGUAGE_CODE == 'fr' %}
    <a class="lineborder" href="{% url 'home' 'fr' %}">MYKLIQ</a>
    <a class="lineborder" href="https://kliq.ca/conditions-dutilisation/">{% trans "Terms Of Use" %}</a>
    <a class="lineborder"  href="https://kliq.ca/fr-team/">{% trans "About Us" %}</a>
    {% else %}
    <a class="lineborder" href="{% url 'home'%}">MYKLIQ</a>
    <a class="lineborder" href="https://kliq.ca/terms/">{% trans "Terms Of Use" %}</a>
    <a class="lineborder" href="https://kliq.ca/team/">{% trans "About Us" %}</a>
    {% endif %}
    <a class="lineborder" href="https://kliq.ca/blog/">Blog</a>
    <a class="lineborder" href="{% url 'logout' %}">{% trans "Logout" %}</a>
    {% else %}
    <a class="lineborder" >{% trans "Close" %}</a>
    <a class="lineborder" href="{% url 'signin' LANGUAGE_CODE %}">{% trans "Log in" %}</a>
    {% if LANGUAGE_CODE == 'fr' %}
    <a class="lineborder" href="{% url 'home' 'fr' %}">MYKLIQ</a>
    <a class="lineborder" href="https://kliq.ca/conditions-dutilisation/">{% trans "Terms Of Use" %}</a>
    <a class="lineborder"  href="https://kliq.ca/fr-team/">{% trans "About Us" %}</a>
    {% else %}
    <a class="lineborder" href="{% url 'home'%}">MYKLIQ</a>
    <a class="lineborder" href="https://kliq.ca/terms/">{% trans "Terms Of Use" %}</a>
    <a class="lineborder" href="https://kliq.ca/team/">{% trans "About Us" %}</a>
    {% endif %}
    <a class="lineborder" href="{% url 'signup' LANGUAGE_CODE %}">{% trans "Register" %}</a>
    <a class="lineborder" href="https://kliq.ca/blog/">Blog</a>
    {% endif %}
</div>
<div class="container-fluid">
    <div class="row" style="background-color:#f4f7f6;">
        <div class="col-md-12 text-center" id="menuNav">
            <div class="row" style="height:36px;">
                <div class="col-xs-4 col-md-5 col-lg-6" style="text-align: left;">
                                   
                    <div class="menubutton" onclick="openNav()">☰ MENU</div>
                     <!--<div style="margin-top:-40px;border-right: 1px solid grey; height: 55px;"></div>-->
                  </div> 
                <div class="col-xs-4 col-md-2 col-lg-1" id="brand" style="text-align: left; margin-top:5px;">
                 <a class="navbar-brand" href="/">KLIQWorld</a>
                </div>  
                {% if user.is_authenticated %}
               <div class="col-xs-2 col-md-2 col-lg-1" style=" left:15px; text-align: right;  height:60px;" id="log">
               
                 <div class="menubutton" onclick="window.location.href='{% url 'logout' %}'">LOGOUT<img src="/static/img/Logout-icon.png" style="margin-left:5px;" width="15px";> </div>
                </div>
            <div class="col-xs-1 col-md-2 col-lg-1 green" style="left:0px; text-align: right; height:60px;" id="reg">
                  <div class="menubutton" onclick="window.location.href='{% url 'profile' %}'" >{% trans "PROFILE" %}</div>
                  </div> 
                
                <div class="col-xs-4 col-md-2 col-lg-1" style="text-align: center;">
                    {% if LANGUAGE_CODE == 'fr' %}
                        <div class="menubutton"onclick="window.location.href='{% url 'home' 'en' %}'">ENGLISH</div> 
                   {% else %}
                        <div class="menubutton" onclick="window.location.href='{% url 'home' 'fr' %}'">{% trans "FRANÇAIS" %}</div> 
                    {% endif %}
                </div>
               {% else %}
                <div class="col-xs-2 col-md-2 col-lg-1" {% if LANGUAGE_CODE == 'fr' %} style="left:15px; text-align: right;height:60px;" {% else %} style="left:15px; text-align: right;height:60px;" {% endif %} id="log">
                  <div class="menubutton" onclick="window.location.href='{% url 'signin' LANGUAGE_CODE %}'">{% trans 'LOG IN' %}</div>
                </div>
                <div class="col-xs-1 col-md-2 col-lg-2" {% if LANGUAGE_CODE == 'fr' %}style="left:10px; text-align: center; height:60px;" {% else %} style="left:8px; text-align: center; height:55px;"{% endif %} id="reg">
                  <div class="menubutton" onclick="window.location.href='{% url 'signup' LANGUAGE_CODE %}'">{% trans "REGISTER" %}</div>
                </div>   
                
                <div class="col-xs-4 col-md-2 col-lg-1" style="text-align: left;">
                  {% if LANGUAGE_CODE == 'fr' %}
                      {% if request.path == '/fr/signup/' %}
                        <div class="menubutton" onclick="window.location.href='{% url 'signup' 'en' %}'">{% trans "ENGLISH" %}</div> 
                      {% endif %}
                      {% if request.path == '/fr/signin/' %}
                        <div class="menubutton" onclick="window.location.href='{% url 'signin' 'en' %}'">{% trans "ENGLISH" %}</div> 
                      {% endif %}
                  {% else %}
                      {% if request.path == '/en/signup/' %}
                        <div class="menubutton" onclick="window.location.href='{% url 'signup' 'fr' %}'">{% trans "FRANÇAIS" %}</div> 
                      {% endif %}
                      {% if request.path == '/en/signin/' %}
                        <div class="menubutton" onclick="window.location.href='{% url 'signin' 'fr' %}'">{% trans "FRANÇAIS" %}</div> 
                      {% endif %}
                  {% endif %}
                </div>
               {% endif %}
            </div>
        </div>
    </div>
</div>


    <script>       
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

    function openNavR() {
        document.getElementById("mySidenavR").style.width = "250px";
    }

    function closeNavR() {
        document.getElementById("mySidenavR").style.width = "0";
    }
   </script>
        
        <div class='container'> 
                              
        {% block content %}
        {% endblock content %}
        
        </div> <!-- end of container -->
        
        <div id="footer">
            <span>{% trans "Made with ❤︎ and lots of" %}
              <img draggable="false" class="emoji" alt="☕" src="https://s.w.org/images/core/emoji/2.3/svg/2615.svg" style="width: 15px; text-align: inherit; margin: 0px 1px; font-size: 16px;">
              {% trans "in Ottawa/Toronto-" %} &copy; {% trans "2019 Kliq.ca Inc | All rights reserved" %}
              </span>
        </div>
        
        {% block bottomjs %}
        {% endblock bottomjs %}
        
    </body>
        
</html>
        
        
    
    
    