{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kliq</title>

    <!-- Custom Fonts -->
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>-->
   <!-- <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'> -->
    <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->
    <!--<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">-->

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/kliq.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css" >


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
    <style>
      section#personality, section#programs {
        display:none;
      }
      
    /*
     *  Usage:
     *
          <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
          </div>
     *
     */
    .sk-double-bounce {
      width: 40px;
      height: 40px;
      position: relative;
      margin: 27.5px auto; }
    .sk-double-bounce .sk-child {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #3073CD;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
              animation: sk-doubleBounce 2s infinite ease-in-out; }
    .sk-double-bounce .sk-double-bounce2 {
      -webkit-animation-delay: -1.0s;
              animation-delay: -1.0s; }
  
      @-webkit-keyframes sk-doubleBounce {
        0%, 100% {
          -webkit-transform: scale(0);
                  transform: scale(0); }
        50% {
          -webkit-transform: scale(1);
                  transform: scale(1); } }
      
      @keyframes sk-doubleBounce {
        0%, 100% {
          -webkit-transform: scale(0);
                  transform: scale(0); }
        50% {
          -webkit-transform: scale(1);
                  transform: scale(1); } }
          
    </style>

</head>

<body id="body">


    <nav id="mainNav" class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
               
              <!-- <a class="logo" href="#page-top"> <img src="img/logo-myfuture.png" /> </a> -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-toggleable-md" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="page-scroll" href="">SIGN IN</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
    </nav>


    <header id="question">
    
     <div class="header-content">
       
      <div class="header-content-inner">
        
          <!--<h1 id="homeSubHeading" class="uppercase">What is your dream career? <h1>-->
            <div class="hoja">Kliq</div>
          <br> <h1 id="homeSubHeading" class="uppercase">Find Your <strong>Dream</strong> Career<h1>
              <br><br>
            <a class="btn btn-white btn-xl page-scroll" id="startjourney-btn" href="#grades">Start your journey</a>
      </div>
      </div>
      
      <div class="diagonal-background">
        <!-- this is an empty element for the diagonal bg image -->
      </div>
    
    </header>
    
    <!-- Grades section -->
    <section id="grades">
      
      <div class="strip">
        <h1>Grades</h1>
      </div>
  
  
      <div class="container">
            <div class="row top-30">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading uppercase dark-blue-text">Enter your grade 12 grades</h2>
                </div>
            </div>
        </div>
        
        
        
        <div class="container top-30 bottom-30">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <h2 class="number" id="programs-result"> {{ num_programs }} </h2>
                        <img id="programs-circle" src="{% static 'img/rolling.svg' %}" style="display:none; margin-bottom:19px;"></span>
                        <div class="sk-double-bounce" id="programs-bubble">
                          <div class="sk-child sk-double-bounce1"></div>
                          <div class="sk-child sk-double-bounce2"></div>
                        </div>
                        <h3 class="light-grey-text">PROGRAMS</h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <h2 class="number" id="careers-result"> {{ num_careers }} </h2>
                        <img id="careers-circle" src="{% static 'img/rolling.svg' %}" style="display:none; margin-bottom:19px;"></span>
                        <div class="sk-double-bounce" id="careers-bubble">
                          <div class="sk-child sk-double-bounce1"></div>
                          <div class="sk-child sk-double-bounce2"></div>
                        </div>
                        <h3 class="light-grey-text">CAREERS</h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <h2 class="number" id="salary-result"> </h2>
                        <img id="salary-circle" src="{% static 'img/rolling.svg' %}" style="display:none; margin-bottom:19px;"></span>
                        <div class="sk-double-bounce" id="salary-bubble">
                          <div class="sk-child sk-double-bounce1"></div>
                          <div class="sk-child sk-double-bounce2"></div>
                        </div>
                        <h3 class="light-grey-text">AVERAGE SALARY</h3>
                    </div>
                </div>
            </div>
        </div>


  <!-- 
  <b>total:</b> {{ total }} <br>
  <b>average:</b> {{ average }} <br>
  <b>programs:</b> {{ num_programs }} <br>
  <b>careers:</b> {{ num_careers }} <br>
  <b>courses:</b> {{ courses }} <br>
  <b>grades:</b> {{ grades }} <br>
-->


<div id="message-container" style="display:none; margin-bottom:30px;" class="row text-center">
  <div class="col-lg-12">
    <span id="message" class="errorlist"></span>
  </div>
</div>
  
<form method="post">
  {% csrf_token %}
         
    <div id="courses-grid" class="container">
        
     
 
         <!-- <div class="row" id="courses-row"> -->
          <div class="col-md-12 col-sm-6 col-xs-6">
            <div class="col-lg-1 col-lg-offset-2 col-md-1 col-md-offset-2 col-sm-12">
              <input type="text" id="course1" name="course1" class="course" data-coursenum="1" placeholder="Course" value="{{ courses.course1 }}" />
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12">
              <input type="text" id="course2" name="course2" class="course" data-coursenum="2" placeholder="Course" value="{{ courses.course2 }}" />
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12">
              <input type="text" id="course3" name="course3" class="course" data-coursenum="3" placeholder="Course" value="{{ courses.course3 }}" />
            </div>
             <div class="col-lg-1 col-md-1 col-sm-12">
              <input type="text" id="course4" name="course4" class="course" data-coursenum="4" placeholder="Course" placeholder="Course" value="{{ courses.course4 }}" />
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12">
              <input type="text" id="course5" name="course5" class="course" data-coursenum="5" placeholder="Course" placeholder="Course" value="{{ courses.course5 }}" />
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12">
              <input type="text" id="course6" name="course6" class="course" data-coursenum="6" placeholder="Course" placeholder="Course" value="{{ courses.course6 }}" />
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12">
              <input type="text" id="course7" name="course7" class="course" data-coursenum="7" placeholder="Course" placeholder="Course" value="{{ courses.course7 }}" />
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12">
              <input type="text" id="course8" name="course8" class="course" data-coursenum="8" placeholder="Course" placeholder="Course" value="{{ courses.course8 }}" />
            </div>
          </div>
        
        
          <div class="text-center" id="output-row">
            <div class="col-lg-1 col-lg-offset-2 col-md-1 col-md-offset-2">
              <span id="outputcontent1"> </span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
              <span id="outputcontent2"> </span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
              <span id="outputcontent3"> </span>
            </div>
             <div class="col-lg-1 col-md-1 col-sm-1">
              <span id="outputcontent4"> </span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
              <span id="outputcontent5"> </span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
              <span id="outputcontent6"> </span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
              <span id="outputcontent7"> </span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
              <span id="outputcontent8"> </span>
            </div>
          </div>
   <!--   </div> -->
        
     <!-- <div class="row" id="grades-row"> -->
        <div class="col-md-12 col-sm-6 col-xs-6">
          <div class="col-lg-1 col-lg-offset-2 col-md-1 col-md-offset-2 col-sm-12">
            <input type="number" max="100" min="0" id="grade1" name="grade1" class="grade" placeholder="Grade" value="{{ grades.grade1 }}" />
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12">
            <input type="number" max="100" min="0" id="grade2" name="grade2" class="grade" placeholder="Grade" value="{{ grades.grade2 }}" />
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12">
            <input type="number" max="100" min="0" id="grade3" name="grade3" class="grade" placeholder="Grade" value="{{ grades.grade3 }}" />
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12">
            <input type="number" max="100" min="0" id="grade4" name="grade4" placeholder="Grade" value="{{ grades.grade4 }}" />
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12">
            <input type="number" max="100" min="0" id="grade5" name="grade5" placeholder="Grade" value="{{ grades.grade5 }}" />
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12">
            <input type="number" max="100" min="0" id="grade6" name="grade6" placeholder="Grade" value="{{ grades.grade6 }}" />
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12">
            <input type="number" max="100" min="0" id="grade7" name="grade7" placeholder="Grade" value="{{ grades.grade7 }}" />
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12">
            <input type="number" max="100" min="0" id="grade8" name="grade8" placeholder="Grade" value="{{ grades.grade8 }}" />
          </div>
        </div>
    <!--  </div> -->
        
    </div> 
      
      <div class="row text-center top-70 bottom-50">
        <!-- 	<a id="calculate">Calculate</button> -->
          <a id="login-btn" class="btn btn-primary btn-xxl popup-button" href="#login-block">Find out more</a>
          <a id="refresh-grades-btn" class="btn btn-primary btn-xxl page-scroll" href="#personality" style="display:none">Refresh</a>
      </div>   
    
    </form>
    
    
   <br><br>

  filtered programs: <br>
  {% for p in programs %}
  {{ p.id }} {{ p.name }} {{ p.admission_avg }} <br> 
  {% endfor %}
  

<br><br>
filtered careers: <br>
  {% for c in careers %}
  {{ c.id }} {{ c.name }} {{ c.code }} <br> 
  {% endfor %}



</section>
    
   <div id="login-block" class="mfp-hide" style="width: 90%">
 
    <form action="#" id="login-form">
      <div class="heading">Login to MyFuture</div>
      <div class="col-lg-6 col-sm-6 col-xs-12 left">
        <label for="email">Email</label> <br />
        <input type="email" name="email" id="email" /> <br />
        <label for="password">Password</label> <br />
        <input type="password" name="password" id="pass" /> <br />
        <a id="close-login-btn" href="#personality" class="mfp-close btn">Login</a>
      </div>
      <div class="col-lg-6 col-sm-6 col-xs-12 right">
        <div class="connect">Connect with</div>
        <a href="" class="facebook">
          <!--<span class="fontawesome-facebook"></span>-->
          <i class="fa fa-1x fa-facebook"></i>
        </a> <br />
        <a href="" class="twitter">
          <!--<span class="fontawesome-twitter"></span>-->
          <i class="fa fa-1x fa-twitter"></i>
        </a> <br />
        <a href="" class="google-plus">
          <!--<span class="fontawesome-google-plus"></span>-->
          <i class="fa fa-1x fa-google-plus"></i>
        </a>
      </div>
    </form>  

  </div>
  

<section id="personality">
  
    <div class="strip">
      <h1 class="green-text">Personality</h1>
    </div>
  
  <div class="container bottom-100">
    
    <div class="row text-center">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 class="green-text">Select your personality type</h2>
        <p class="bottom-30 top-30">Not sure which one you are? take a more <a href="https://www.16personalities.com/free-personality-test" target="_blank">detailed test here</a> </p>
        </div>
    </div>
    
    
    <div id="personality-myersbriggs">
    
      
      <div class="row top-10">
        <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-0 col-xs-5 col-xs-offset-1">
          <div class="item green" id="ijtj">
             <!-- <img src="img/personality/touch.png" alt="INTJ"> -->
              <h3>INTJ</h3>
              <h4>Architect</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
          <div class="item green" id="intp">
              <h3>INTP</h3>
              <h4>Logician</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-sm-offset-0 col-xs-5 col-xs-offset-1">
          <div class="item green" id="entj">
              <h3>ENTJ</h3>
              <h4>Commander</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
          <div class="item green" id="entp">
              <h3>ENTP</h3>
              <h4>Debater</h4>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-0 col-xs-5 col-xs-offset-1">
          <div class="item blue">
             <!-- <img src="img/personality/touch.png" alt="INTJ"> -->
              <h3>INFJ</h3>
              <h4>Advocate</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
          <div class="item blue">
              <h3>INFP</h3>
              <h4>Mediator</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-sm-offset-0 col-xs-5 col-xs-offset-1">
          <div class="item blue">
              <h3>ENFJ</h3>
              <h4>Protagonist</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
          <div class="item blue">
              <h3>ENFP</h3>
              <h4>Campaigner</h4>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-0 col-xs-5 col-xs-offset-1">
          <div class="item orange">
              <h3>ISTJ</h3>
              <h4>Logistician</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
          <div class="item orange">
              <h3>ISFJ</h3>
              <h4>Defender</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-sm-offset-0 col-xs-5 col-xs-offset-1">
          <div class="item orange">
              <h3>ESTJ</h3>
              <h4>Executive</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
          <div class="item orange">
              <h3>ESFJ</h3>
              <h4>Consul</h4>
          </div>
        </div>
      </div>
      
       <div class="row">
        <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-0 col-xs-5 col-xs-offset-1">
          <div class="item red">
              <h3>ISTP</h3>
              <h4>Virtuoso</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
          <div class="item red">
              <h3>ISFP</h3>
              <h4>Adventurer</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-sm-offset-0 col-xs-5 col-xs-offset-1">
          <div class="item red">
              <h3>ESTP</h3>
              <h4>Entrepreneur</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
          <div class="item red">
              <h3>ESFP</h3>
              <h4>Entertainer</h4>
          </div>
        </div>
      </div>

    </div> <!-- end of personality-myersbriggs -->
    

  </div>
  
</section>
    
<section id="careers">
  
  {% include "careers.html" %}
    
</section>



  

<section id="programs">
  
    <div class="strip">
      <h1>Programs</h1>
    </div>
    
     <div id="programs-group-1" class="container top-30">
        <div class="row">
            <div class="col-md-12">
                <p>Based on your selected choices, you can enter into <b>87 programs</b> accross Canada <br> </p>
            </div>
          </div>
          
        <div id="filters-area" class="top-30 bottom-30">
          <div class="row" id="filters">
            <div class="col-md-12">
              <ul class="filter-list">
                Filters: 
                <li><a class="active">Show all</a></li>|
                <li><a>Coop</a></li>|
                <li><a>Scholarships</a></li>|
                <li><a>In same city</a></li>
              </ul>
            </div>
          </div>
          <br>
          <!--
          <div class="row" id="sorts">
            <ul class="sorts-list">
            Sort by:
            <li><a class="button is-checked active" data-sort-by="original-order">Closest match</a></li>|
            <li><a class="button">Duration</a></li>|
            <li><a class="button">Distance</a></li>|
            <li><a class="button">Cost</a></li>
            </ul>
          </div>
          -->
        </div>

          
        <div class="programs-table">
          <div class="row bottom-10">
            <div class="col-md-1"> &nbsp; </div>
            <div class="col-md-2"><img class="sort-arrows"></img> <b>Name</b> </div>
            <div class="col-md-2"><img class="sort-arrows"></img><b>Faculty</b> </div> 
            <div class="col-md-2"><img class="sort-arrows"></img><b>City, Province</b> </div>
            <div class="col-md-1"><img class="sort-arrows"></img><b>Distance (Km)</b> </div>
            <div class="col-md-1"><img class="sort-arrows"></img><b>Duration</b> </div>
            <div class="col-md-1"><img class="sort-arrows"></img><b>Cost<br>(per year)</b> </div>
            <div class="col-md-1"><img class="sort-arrows"></img><b>Coop</b> </div>
            <div class="col-md-1"><img class="sort-arrows"></img><b>Scholarships & Bursaries</b> </div>
          </div>
          
          <div class="row">
            <div class="col-md-1 logo-col"> <img src="{% static 'img/uofo-logo.png' %}" /> </div>
            <div class="col-md-2 name"> <a>English as a Second Language</a><br>
                  University of Ottawa </div>
            <div class="col-md-2"> Arts </div> 
            <div class="col-md-2"> Ottawa, ON </div>
            <div class="col-md-1"> 12 </div>
            <div class="col-md-1 col-xs-4 duration"> 4 years </div>
            <div class="col-md-1 col-xs-4 cost"> $6 000 </div>
            <div class="col-md-1 col-xs-4 coop"> <img class="yes"></img> </div>
            <div class="col-md-1"> Entrance Scholarship </div>
          </div>
          
          <div class="row">
            <div class="col-md-1 logo-col"> <img src="{% static 'img/uofo-logo.png' %}" /> </div>
            <div class="col-md-2 name"> <a>Environmental Studies</a><br>
                  University of Ottawa</div>
            <div class="col-md-2"> Science </div> 
            <div class="col-md-2"> Ottawa, ON </div>
            <div class="col-md-1"> 12 </div>
            <div class="col-md-1 col-xs-4 duration"> 4 years </div>
            <div class="col-md-1 col-xs-4 cost"> $6 000 </div>
            <div class="col-md-1 col-xs-4 coop"> <img class="no"></img> </div>
            <div class="col-md-1"> -- </div>
          </div>
          
          <div class="row">
            <div class="col-md-1 logo-col"> <img src="{% static 'img/uoft-logo.png' %}" /> </div>
            <div class="col-md-2 name"> <a>Interactive Digital Media</a><br>
                  University of Toronto </div>
            <div class="col-md-2"> Technology and Engineering </div> 
            <div class="col-md-2"> Toronto, ON </div>
            <div class="col-md-1"> 350 </div>
            <div class="col-md-1 col-xs-4 duration"> 4 years </div>
            <div class="col-md-1 col-xs-4 cost"> $6 000 </div>
            <div class="col-md-1 col-xs-4 coop"> <img class="yes"></img> </div>
            <div class="col-md-1"> -- </div>
          </div>
          <div class="row">
            <div class="col-md-1 logo-col"> <img src="{% static 'img/cu-logo.png' %}" /> </div>
            <div class="col-md-2 name"> <a>Journalism</a><br>
                  Carleton University </div>
            <div class="col-md-2"> Public Affairs </div> 
            <div class="col-md-2"> Ottawa, ON </div>
            <div class="col-md-1"> 9 </div>
            <div class="col-md-1 col-xs-4 duration"> 4 years </div>
            <div class="col-md-1 col-xs-4 cost"> $6 000 </div>
            <div class="col-md-1 col-xs-4 coop"> <img class="yes"></img> </div>
            <div class="col-md-1"> <a>Sprott Scholarship</a> </div>
          </div>  
          <div class="row">
            <div class="col-md-1 logo-col"> <img src="{% static 'img/uoft-logo.png' %}" /> </div>
            <div class="col-md-2 name"> <a>Human Biology</a><br>
                  University of Toronto </div>
            <div class="col-md-2"> Science </div> 
            <div class="col-md-2"> Toronto, ON </div>
            <div class="col-md-1"> 350 </div>
            <div class="col-md-1 duration"> 4 years </div>
            <div class="col-md-1 cost"> $6 000 </div>
            <div class="col-md-1 coop"> <img class="no"></img> </div>
            <div class="col-md-1"> -- </div>
          </div>
          <div class="row">
            <div class="col-md-1 logo-col"> <img src="{% static 'img/uofo-logo.png' %}" /> </div>
            <div class="col-md-2 name"> <a>Communication</a><br>
                  University of Ottawa </div>
            <div class="col-md-2"> Public Affairs </div> 
            <div class="col-md-2"> Ottawa, ON </div>
            <div class="col-md-1"> 12 </div>
            <div class="col-md-1 duration"> 4 years </div>
            <div class="col-md-1 cost"> $6 000 </div>
            <div class="col-md-1 coop"> <img class="no"></img> </div>
            <div class="col-md-1"> -- </div>
          </div>  
          <div class="row">
            <div class="col-md-1 logo-col"> <img src="{% static 'img/cu-logo.png' %}" /> </div>
            <div class="col-md-2 name"> <a>International Business</a><br>
                  Carleton University </div>
            <div class="col-md-2"> Business </div> 
            <div class="col-md-2"> Ottawa, ON </div>
            <div class="col-md-1"> 9 </div>
            <div class="col-md-1 duration"> 4 years </div>
            <div class="col-md-1 cost"> $6 000 </div>
            <div class="col-md-1 coop"> <img class="yes"></img> </div>
            <div class="col-md-1"> -- </div>
          </div>  
          
        </div>
    </div>
    
    
    <div id="programs-group-2" class="container top-30">
        <div class="row">
            <div class="col-md-12">
                <p>Based on your selected choices, you can enter into <b>102 programs</b> accross Canada <br><br> </p>
            </div>
          </div>
          
          <div id="filters-area" class="top-10 bottom-10">
          <div class="row" id="filters">
            <ul class="filter-list">
              Filters: 
              <li><a class="active">Show all</a></li>|
              <li><a>Coop</a></li>|
              <li><a>Scholarships</a></li>|
              <li><a>In same city</a></li>
            </ul>
          </div>
          <br>
          <div class="row" id="sorts">
            <ul class="sorts-list">
            Sort by:
            <li><a class="button is-checked active" data-sort-by="original-order">Closest match</a></li>|
            <li><a class="button">Duration</a></li>|
            <li><a class="button">Distance</a></li>|
            <li><a class="button">Dost</a></li>
            </ul>
          </div>
        </div>
          
        <div class="programs-table">
          <div class="row bottom-30">
            <div class="col-md-1"> &nbsp; </div>
            <div class="col-md-2"> <b>Name</b> </div>
            <div class="col-md-2"> <b>Faculty</b> </div> 
            <div class="col-md-2"> <b>City, Province</b> </div>
            <div class="col-md-1"> <b>Distance (Km)</b> </div>
            <div class="col-md-1"> <b>Duration</b> </div>
            <div class="col-md-1"> <b>Cost<br>(per year)</b> </div>
            <div class="col-md-1 coop"> <b>Coop</b> </div>
            <div class="col-md-1"> <b>Scholarships & Bursaries</b> </div>
          </div>
          
          <div class="row">
            <div class="col-md-1 logo-col"> <img src="{% static 'img/cu-logo.png' %}" /> </div>
            <div class="col-md-2 name"> <a>International Business</a><br>
                  Carleton University </div>
            <div class="col-md-2"> Business </div> 
            <div class="col-md-2"> Ottawa, ON </div>
            <div class="col-md-1"> 9 </div>
            <div class="col-md-1 duration"> 4 years </div>
            <div class="col-md-1 cost"> $6 000 </div>
            <div class="col-md-1 coop"> <img class="yes"></img> </div>
            <div class="col-md-1"> -- </div>
          </div>  
          <div class="row">
            <div class="col-md-1 logo-col"> <img src="{% static 'img/uoft-logo.png' %}" /> </div>
            <div class="col-md-2 name"> <a>Interactive Digital Media</a><br>
                  University of Toronto </div>
            <div class="col-md-2"> Technology and Engineering </div> 
            <div class="col-md-2"> Toronto, ON </div>
            <div class="col-md-1"> 350 </div>
            <div class="col-md-1 duration"> 4 years </div>
            <div class="col-md-1 cost"> $6 250 </div>
            <div class="col-md-1 coop"> <img class="yes"></img> </div>
            <div class="col-md-1"> -- </div>
          </div>
          <div class="row">
            <div class="col-md-1 logo-col"> <img src="{% static 'img/uofo-logo.png' %}" /> </div>
            <div class="col-md-2 name"> <a>Communication</a><br>
                  University of Ottawa </div>
            <div class="col-md-2"> Public Affairs </div> 
            <div class="col-md-2"> Ottawa, ON </div>
            <div class="col-md-1"> 12 </div>
            <div class="col-md-1 duration"> 4 years </div>
            <div class="col-md-1 cost"> $6 250 </div>
            <div class="col-md-1 coop"> <img class="no"></img> </div>
            <div class="col-md-1"> -- </div>
          </div>  
          <div class="row">
            <div class="col-md-1 logo-col"> <img src="{% static 'img/uofo-logo.png' %}" /> </div>
            <div class="col-md-2 name"> <a>Environmental Studies</a><br>
                  University of Ottawa </div>
            <div class="col-md-2"> Science </div> 
            <div class="col-md-2"> Ottawa, ON </div>
            <div class="col-md-1"> 12 </div>
            <div class="col-md-1 duration"> 4 years </div>
            <div class="col-md-1 cost"> $6 250 </div>
            <div class="col-md-1 coop"> <img class="no"></img> </div>
            <div class="col-md-1"> -- </div>
          </div>  
          <div class="row">
            <div class="col-md-1 logo-col"> <img src="{% static 'img/uoft-logo.png' %}" /> </div>
            <div class="col-md-2 name"><a>Human Biology</a><br>
                  University of Toronto </div>
            <div class="col-md-2"> Science </div> 
            <div class="col-md-2"> Ottawa, ON </div>
            <div class="col-md-1"> 350 </div>
            <div class="col-md-1 duration"> 4 years </div>
            <div class="col-md-1 cost"> $6 250 </div>
            <div class="col-md-1 coop"> <img class="yes"></img> </div>
            <div class="col-md-1"> -- </div>
          </div>  
          <div class="row">
            <div class="col-md-1 logo-col"> <img src="{% static 'img/cu-logo.png' %}" /> </div>
            <div class="col-md-2 name"><a>Journalism</a><br>
                  Carleton University </div>
            <div class="col-md-2"> Public Affairs </div> 
            <div class="col-md-2"> Ottawa, ON </div>
            <div class="col-md-1"> 9 </div>
            <div class="col-md-1 duration"> 4 years </div>
            <div class="col-md-1 cost"> $6 250 </div>
            <div class="col-md-1 coop"> <img class="yes"></img> </div>
            <div class="col-md-1"> -- </div>
          </div>
          <div class="row">
            <div class="col-md-1 logo-col"> <img src="{% static 'img/uofo-logo.png' %}" /> </div>
            <div class="col-md-2 name"><a>Communication</a><br>
                  University of Ottawa</div>
            <div class="col-md-2"> Public Affairs </div> 
            <div class="col-md-2"> Ottawa, ON </div>
            <div class="col-md-1"> 12 </div>
            <div class="col-md-1 duration"> 4 years </div>
            <div class="col-md-1 cost"> $6 250 </div>
            <div class="col-md-1 coop"> <img class="no"></img> </div>
            <div class="col-md-1"> -- </div>
          </div>
          
        </div>
               
    </div>
    
    
      <div class="diagonal-background-top">
        <!-- this is an empty element for the diagonal bg image -->
      </div>
      
    <div id="sharing">
      
        <h2>Share with your friends</h2>
        <i class="fa fa-3x fa-facebook-square"></i>
        <i class="fa fa-3x fa-google-plus-square" aria-hidden="true"></i>
        <i class="fa fa-3x fa-twitter-square" aria-hidden="true"></i>
        <i class="fa fa-3x fa-linkedin-square" aria-hidden="true"></i>
    </div>
    
</section>


    <!-- jQuery -->
    <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script> 
    <!-- h5validate -->
    <script src="{% static 'js/h5validate.js' %}"></script> 
  
    <!-- Jquery UI only added to animate colors in personality section -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/autocomplete/jquery.autocomplete.js' %}"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" async></script>
    <!--<script src="vendors/scrollreveal/scrollreveal.min.js"></script>-->
    <script src="{% static 'vendors/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/kliq.js' %}"></script>

    <!--<script src="js/masonry.pkgd.min.js"></script>-->
   <script src="{% static 'vendors/masonry/isotope.pkgd.min.js' %}"></script>

    
    
    <!-- autocomplete -->
    <script type="text/javascript">
    
      $(".course").each(function(){
        
        /*
        var courses = [
          { value: 'English (University)', data: 'ENG4U' },
          { value: 'English (College)', data: 'ENG4C' },
          { value: 'Calculus and Vectors (University)', data: 'MCV4U' },
          { value: 'Advanced Functions (University)', data: 'MHF4U' },
          { value: 'Mathematics of Data Management (University)', data: 'MDM4U' },
          { value: 'Physics (University)', data: 'SPH4U' },
          { value: 'Chemistry (University)', data: 'SCH4U' },
          { value: 'Biology (University)', data: 'SBI4U' },
          { value: 'Chemistry (College)', data: 'SCH4C' },
          { value: 'Canadian and World Issues (University)', data: 'CGW4U' },
          { value: 'Canadian and International Law (University)', data: 'CLN4U' },
          { value: 'Financial Accounting Principles (College / University)', data: 'BAT4M' },
        ];
        */
        
        var courses_array = [];
        {% for course in courses %}
          courses_array.push({ value: "{{ course.code }}", data:  "{{ course.name }}" });
        {% endfor %}
        
        var coursenum = $(this).attr("data-coursenum");
        var thefield = $(this);
        
        $(this).autocomplete({
          lookup: courses_array,
           onSelect: function (suggestion) {
            thefield.val(suggestion.value);
            var thehtml = suggestion.data;
            $('#outputcontent' + coursenum).html(thehtml);
          }
        });
        
        
      });
      
    </script>
    
    
    <!-- masonry isotopic -->
    <script>
    
   /* 
    $('.career-container').masonry({
    // options
    itemSelector: '.career-item',
    columnWidth: '.career-item'
    });
    */
    
    
  /************ Isotopic ************/  
  
    var $grid = $('.career-container').isotope({
      itemSelector: '.career-item',
      columnWidth: '.career-item',
      //'gutter': 20,
      layoutMode: 'masonry',
      getSortData: {
        salary: '.salary parseInt',
        travel: '.travel',
        jobs: '.jobs',
      }
    });

    var filterFns = {
    // show if number is greater than 50
    above75: function() {
      var salary = $(this).find('.salary').text();
      return parseInt( salary, 10 ) > 75;
    }
    };
  

    $('#filters').on( 'click', 'a', function() {
      var filterValue = $( this ).attr('data-filter');
      $(".filter-list li a").removeClass("active");
      $( this ).addClass('active');
      // use filterFn if matches value
      filterValue = filterFns[ filterValue ] || filterValue;
      $grid.isotope({ filter: filterValue });
    });
    
    // bind sort button click
    $('#sorts').on( 'click', 'a', function() {
      var sortByValue = $(this).attr('data-sort-by');
      $(".sorts-list li a").removeClass("active");
      $( this ).addClass('active');
      $grid.isotope({ sortBy: sortByValue });
    });
    
  /*********** Isotopic end *************/
      
    $( document ).ready(function() {
        $('#refresh-personality-btn').hide();
        $('#refresh-grades-btn').hide();
        $('#refresh-programs-btn').hide();
        $('#careers-group-1').show();
        $('#careers-group-2').hide();
        $('#programs-group-1').show();
        $('#programs-group-2').hide();
       $( "#personality" ).hide();
       $( "#careers" ).hide();
       $( "#programs" ).hide();
       $('#personality-btn').addClass('btn-disabled');
       $('#done-careers-btn').addClass('btn-disabled');
       
       $('form').h5Validate({
                errorClass:'error-select'
        });  
        
       $( "#course1" ).change(function() { 
         if($("#course1").val().length > 0){ $("#grade1").attr("required", "required");  $("#grade1").addClass("error-select") } else { $("#grade1").removeAttr("required"); $("#grade1").removeClass("error-select"); }
       }); 
       $( "#course2" ).change(function() { 
         if($("#course2").val().length > 0){ $("#grade2").attr("required", "required");  $("#grade2").addClass("error-select") } else { $("#grade2").removeAttr("required"); $("#grade2").removeClass("error-select"); }
       }); 
       $( "#course3" ).change(function() { 
         if($("#course3").val().length > 0){ $("#grade3").attr("required", "required");  $("#grade3").addClass("error-select") } else { $("#grade3").removeAttr("required"); $("#grade3").removeClass("error-select"); }
       }); 
       $( "#course4" ).change(function() { 
         if($("#course4").val().length > 0){ $("#grade4").attr("required", "required");  $("#grade4").addClass("error-select") } else { $("#grade4").removeAttr("required"); $("#grade4").removeClass("error-select"); }
       }); 
       $( "#course5" ).change(function() { 
         if($("#course5").val().length > 0){ $("#grade5").attr("required", "required");  $("#grade5").addClass("error-select") } else { $("#grade5").removeAttr("required"); $("#grade5").removeClass("error-select"); }
       }); 
       $( "#course6" ).change(function() { 
         if($("#course6").val().length > 0){ $("#grade6").attr("required", "required");  $("#grade6").addClass("error-select") } else { $("#grade6").removeAttr("required"); $("#grade6").removeClass("error-select"); }
       }); 
       $( "#course7" ).change(function() { 
         if($("#course7").val().length > 0){ $("#grade7").attr("required", "required");  $("#grade7").addClass("error-select") } else { $("#grade7").removeAttr("required"); $("#grade7").removeClass("error-select"); }
       }); 
       $( "#course8" ).change(function() { 
         if($("#course8").val().length > 0){ $("#grade8").attr("required", "required");  $("#grade8").addClass("error-select") } else { $("#grade8").removeAttr("required"); $("#grade8").removeClass("error-select"); }
       }); 
       
       
       
    })
    
    
    $( "#grade1" ).change(function() { getSummaryAJAX(); }); 
    $( "#grade2" ).change(function() { getSummaryAJAX(); }); 
    $( "#grade3" ).change(function() { getSummaryAJAX(); }); 
    $( "#grade4" ).change(function() { getSummaryAJAX(); }); 
    $( "#grade5" ).change(function() { getSummaryAJAX(); }); 
    $( "#grade6" ).change(function() { getSummaryAJAX(); }); 
    $( "#grade7" ).change(function() { getSummaryAJAX(); }); 
    $( "#grade8" ).change(function() { getSummaryAJAX(); }); 
    
    $( "#startjourney-btn" ).click(function() { scrollToGrades(); });
     //on closing sign in popup, show personality section and scroll down to it
    $( ".mfp-close" ).click(function() { scrollToPersonality(); });
    $( "#refresh-grades-btn" ).click(function() { scrollToPersonality(); });
    //when refresh personality button is clicked, careers refresh
    $( "#refresh-personality-btn" ).click(function() { scrollToCareers(); }); 
    $( "#refresh-programs-btn" ).click(function() { refreshPrograms(); });
    
    $( "#txtarea-personality" ).on('input', function() {
      if ($("#txtarea-personality").val().length > 0) {
        enablePersonalityBtn();   
      }
      else {
        disablePersonalityBtn();
      }
    });

   
   function scrollToGrades() {
        $('html, body').stop().animate({
            scrollTop: ($( "#grades" ).offset().top + 300)
        }, 1250, 'easeInOutExpo');
        event.preventDefault();
   }
    
  function scrollToPersonality() {
      $( "#personality" ).show();
        $('html, body').stop().animate({
            scrollTop: ($( "#personality" ).offset().top + 360)
        }, 1250, 'easeInOutExpo');
        event.preventDefault();
        
        $('#login-btn').hide();
        $('#refresh-grades-btn').show();
    }
    
    $("#personality .item").click(function (event) {
      //alert($(this).attr('id'));
      //$("#personality .item").not(this).animate({ backgroundColor: "#ccc" });
      $(this).removeClass("grey");
      $("#personality .item").not(this).addClass( "grey" , 500 );
      setTimeout( scrollToCareers , 500 );
      getCareersAJAX();
    });
    
    function scrollToCareers() {
      if($("#careers").is(":visible")) {
        
      }
      else {
        $("#careers").show(); 
        $( "#careers-group-2" ).hide();
      }
      $('html, body').stop().animate({
          scrollTop: ($( "#careers" ).offset().top + 360)
      }, 1250, 'easeInOutExpo');
    }
    
    var scroll_to_programs = function(event) {
        $("#programs").show(); 
        $("#done-careers-btn").hide();
        $("#refresh-programs-btn").show();
        $('html, body').stop().animate({
            scrollTop: ($( "#programs" ).offset().top + 360)
        }, 1250, 'easeInOutExpo');
        event.preventDefault();
    }
    
    $("#careers .well").click(function (event) {
        
        if(event.target.tagName != "IMG") {
          $(this).toggleClass("selected");
        }
        
       // alert(event.target.tagName);
        
        if ($('section#careers .well.selected').length > 0) {
            // enable button
            $('#done-careers-btn').on('click', scroll_to_programs);
            $('#done-careers-btn').removeClass('btn-disabled');

        } else {
            //disable button
            $('#done-careers-btn').off('click');
            $('#done-careers-btn').addClass('btn-disabled');
        }

    });


    // toggle different career groups based on refresh clicks
    function refreshCareers() {
        $('#careers-group-1').toggle();
        $('#careers-group-2').toggle();
    }

    // toggle different program groups based on refresh clicks
    function refreshPrograms() {
        $('#programs-group-1').toggle();
        $('#programs-group-2').toggle();
        $('html, body').stop().animate({
            scrollTop: ($( "#programs" ).offset().top + 360)
        }, 1250, 'easeInOutExpo');
        event.preventDefault();
        
    }    
   
    
    //refresh careers section contents // call this after personality has been selected 
    function refreshCareersLoad() {
      $("#careers").load("#careers-container");
    }

  </script>
    
    <script>
    
    // This shoul be called after a personality is selected 
    function getCareersAJAX() {
      
      // Send over the personality type, then get the associated careers
      
    
      // For now just get all the filtered_careers
      $.ajax({
        url: '{% url "get_personality_careers" %}',
        data: {
          'personality': 'INTJ',
        },
        dataType: 'json',
        success: function (data) {
          if (data.message) {
            $("#message-container").show();
            $("#message").html(data.message);
          }
          if (data.careers) {
            $("#career-temp").html(data.careers);
          }
        },
        failure: function(data) { 
          alert('Got an error Miss');
        }
      });
      
      
      
      

    } 
      
    
    function getSummaryAJAX() {
      $("#programs-bubble").hide();
      $("#programs-result").hide();
      $("#careers-bubble").hide();
      $("#careers-result").hide();
      $("#salary-bubble").hide();
      $("#salary-result").hide();
      $("#programs-circle").show();
      $("#careers-circle").show();
      $("#salary-circle").show();
      
      var course1 = $('#course1').val();
      var course2 = $('#course2').val();
      var course3 = $('#course3').val();
      var course4 = $('#course4').val();
      var course5 = $('#course5').val();
      var course6 = $('#course6').val();
      var course7 = $('#course7').val();
      var course8 = $('#course8').val();
      var grade1 = $('#grade1').val();
      var grade2 = $('#grade2').val();
      var grade3 = $('#grade3').val();
      var grade4 = $('#grade4').val();
      var grade5 = $('#grade5').val();
      var grade6 = $('#grade6').val();
      var grade7 = $('#grade7').val();
      var grade8 = $('#grade8').val();
      
      //alert(course1);

      $.ajax({
        url: '{% url "get_summary_data" %}',
        data: {
          'course1': course1,
          'course2': course2,
          'course3': course3,
          'course4': course4,
          'course5': course5,
          'course6': course6,
          'course7': course7,
          'course8': course8,
          'grade1': grade1,
          'grade2': grade2,
          'grade3': grade3,
          'grade4': grade4,
          'grade5': grade5,
          'grade6': grade6,
          'grade7': grade7,
          'grade8': grade8,
        },
        dataType: 'json',
        success: function (data) {
          if (data.message) {
            $("#message-container").show();
            $("#message").html(data.message);
          }
          if (data.num_programs) {
            //alert(data.num_programs)
            $("#programs-result").show();
            $("#programs-result").html(data.num_programs);
            $("#programs-circle").hide();
            //alert(data.average);
          }
          if (data.num_careers) {
            $("#careers-result").show();
            $("#careers-result").html(data.num_careers);
            $("#careers-circle").hide();
            //alert(data.num_careers)
          }
          if (data.salary) {
            $("#salary-result").show();
            $("#salary-result").html("$" + data.salary);
            $("#salary-circle").hide();
          }
        },
        failure: function(data) { 
          alert('Got an error Miss');
        }
      });

    } 
  </script>
  

</body>

</html>
