{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{LANGUAGE_CODE}}">

<head>
  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
  

<meta name="description" content="KLIQ is the only tool you need to Plan your Career and Educational Career. Combine your grades with personality and career set will be presented to you. " />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@KliqNow">
<meta name="twitter:title" content="KLIQ.CA">
<meta name="twitter:description" content="The cognitive modeling tool integrating grades, personality, probability, and decision trees, for the educational and career journey.">
<meta name="twitter:creator" content="@KliqNow">
<meta name="twitter:image" content="/static/img/EmailHeader.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="KLIQ.CA" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://kliq.ca/" />
<meta property="og:image" content="/static/img/EmailHeader.jpg" />
<meta property="og:description" content="KLIQ is The cognitive modeling tool integrating grades, personality, probability, and decision trees, for the educational and career journey." /> 
<meta property="og:site_name" content="KLIQ.CA" />
    
  <script>
  dataLayer = [{
    'programUrl': 'none'
  }];
  </script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-57XT3ZL');</script>
    

    <title>KLIQ World</title>
    
    <!-- Custom Fonts -->
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">

    <!-- FAV ICON -->
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
  

    <!-- Bootstrap Core CSS --> 
    <link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/angular-ui-bootstrap/dist/ui-bootstrap-csp.css' %}">
    <!-- Isotope -->
    <link href="{% static 'vendors/angular-isotope/style.css' %}" rel="stylesheet" type="text/css" >
    <!-- Kliq CSS -->
    <link href="{% static 'css/kliq.css' %}" rel="stylesheet">
    <!-- Magnific Popup ** Replace with Angular -->
    <!-- <link href="{% static 'vendors/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css" >lololololol -->
    <!-- Balloon CSS -->
    <!-- <link href="{% static 'css/balloon.css' %}" rel="stylesheet"> -->
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!--   --------     SHARING BUTTONS      ---------    -->
    <!-- <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=59ca7ef055a6eb0012399f8b&product=sticky-share-buttons' async='async'></script> -->

</head>

<body ng-app="kliq" ng-controller="mainController">
  
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-57XT3ZL"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  <!-- jQuery -->
  <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script> 
  <script src="{% static 'vendors/scrollUp/jquery.scrollUp.js' %}"></script> 
    
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  <script src="{% static 'vendors/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
  
  <!-- Jquery numberic to make number inputs accept only integers -->
  <script type="text/javascript" src="{% static 'vendors/jquery-numeric/jquery.numeric.min.js' %}"></script>
    
  <!-- Isotope -->
  <!--<script src="{% static 'vendors/isotope/jquery.isotope.min.js' %}"></script>-->
  <script src="{% static 'vendors/isotope/isotope.pkgd.min.js' %}"></script>
 <!-- <script src="{% static 'vendors/angular-isotope/angular-isotope.js' %}"></script> -->

  <!-- Our Angular Files -->
  <script src="{% static 'angularapp/app.js' %}"></script>
  <script src="{% static 'angularapp/MainController.js' %}"></script>
 
  <script>
    $(function () {
      $.scrollUp({
        scrollName: 'scrollUp', // Element ID
        scrollDistance: '1500', // Distance from top before showing element (px)
        easingType: 'easeInQuad', // Scroll to top easing (see http://easings.net/)
        scrollSpeed: 300, // Speed back to top (ms)
        animation: 'fade', // Fade, slide, none
        animationSpeed: 200, // Animation in speed (ms)
        scrollTarget: '#gradesContainer',
        scrollText: '', // Text for element
        scrollImg: true,
        activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
      });
    });

  </script>
  
  {% if user.is_authenticated %}
      <div ng-init="getUserData()"></div>
  {% else %}
    <div ng-init="getSessionData()"></div>
  {% endif %}
  
<!-- 
  <a href="https://docs.google.com/forms/d/1QLA2xbw0wmhVs5tZNjhGPDc6tn_7Zw994jgZlqZx9-c/" target="_blank">
    <div id="betabar"><b style="font-size:18px;">BETA &nbsp; </b>We Listen! provide your feedback, and get notified for future career, course, updates</div>
  </a>
-->
  
  
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    {% if user.is_authenticated %}
      <a class="lineborder" >{% trans "Close" %}</a>
    <a class="lineborder" href="{% url 'profile' %}">Profile</a>
      {% if LANGUAGE_CODE == 'fr' %}
      <a class="lineborder" href="{% url 'home' 'fr' %}">MYKLIQ</a>
      <a class="lineborder" href="https://kliq.ca/conditions-dutilisation/">{% trans "Terms Of Use" %}</a>
      <a class="lineborder"  href="https://kliq.ca/fr-team/">{% trans "About Us" %}</a>
      {% else %}
      <a class="lineborder" href="{% url 'home'%}">MYKLIQ</a>
      <a class="lineborder" href="https://kliq.ca/terms/">{% trans "Terms Of Use" %}</a>
      <a class="lineborder" href="https://kliq.ca/team/">{% trans "About Us" %}</a>
      {% endif %}
    <a class="lineborder" href="https://kliq.ca/blog/">Blog</a>
    <a class="lineborder" href="{% url 'logout' %}">{% trans "Logout" %}</a>
    {% else %}
    <a class="lineborder" >{% trans "Close" %}</a>
    <a class="lineborder" href="{% url 'signin' LANGUAGE_CODE %}">{% trans "Log in" %}</a>
    {% if LANGUAGE_CODE == 'fr' %}
    <a class="lineborder" href="{% url 'home' 'fr' %}">MYKLIQ</a>
    <a class="lineborder" href="https://kliq.ca/conditions-dutilisation/">{% trans "Terms Of Use" %}</a>
    <a class="lineborder"  href="https://kliq.ca/fr-team/">{% trans "About Us" %}</a>
    {% else %}
    <a class="lineborder" href="{% url 'home'%}">MYKLIQ</a>
    <a class="lineborder" href="https://kliq.ca/terms/">{% trans "Terms Of Use" %}</a>
    <a class="lineborder" href="https://kliq.ca/team/">{% trans "About Us" %}</a>
    {% endif %}
    <a class="lineborder" href="{% url 'signup' LANGUAGE_CODE %}">{% trans "Register" %}</a>
    <a class="lineborder" href="https://kliq.ca/blog/">Blog</a>
    {% endif %}
</div>
<div class="container-fluid">
    <div class="row" style="background-color:#f4f7f6;">
        <div class="col-md-12 text-center" id="menuNav">
            <div class="row" style="height:36px;">
                <div class="col-xs-4 col-md-5 col-lg-6" style="text-align: left;">
                                   
                    <div class="menubutton" onclick="openNav()">☰ MENU</div>
                     <!--<div style="margin-top:-40px;border-right: 1px solid grey; height: 55px;"></div>-->
                  </div> 
                <div class="col-xs-4  col-md-1 col-lg-1" id="brand" style="text-align: left; margin-top:5px;">
                 <a class="navbar-brand" href="/">KLIQWorld</a>
                </div>  
                {% if user.is_authenticated %}
               <div class="col-xs-2 col-md-2 col-lg-1" style=" left:15px; text-align: right;  height:60px;" id="log">
               
                 <div class="menubutton" onclick="window.location.href='{% url 'logout' %}'">LOGOUT<img src="/static/img/Logout-icon.png" style="margin-left:5px;" width="15px";> </div>
                </div>
                  <div class="col-xs-1 col-md-2 col-lg-1 green" style="left:0px; text-align: right; height:60px;" id="reg">
                    <div class="menubutton" onclick="window.location.href='{% url 'profile' %}'" >{% trans "PROFILE" %}</div>
                 </div> 
                
                <div class="col-xs-4 col-md-2 col-lg-1" style="text-align: center;">
                  {% if LANGUAGE_CODE == 'fr' %}
                      <div class="menubutton"onclick="window.location.href='{% url 'home' 'en' %}'">ENGLISH</div> 
                  {% else %}
                      <div class="menubutton" onclick="window.location.href='{% url 'home' 'fr' %}'">{% trans "FRANÇAIS" %}</div> 
                  {% endif %}
                </div>
               {% else %}
                <div class="col-xs-2 col-md-2 col-lg-1" {% if LANGUAGE_CODE == 'fr' %} style="left:15px; text-align: right;height:60px;" {% else %} style="left:15px; text-align: right;height:60px;" {% endif %} id="log">
                  <div class="menubutton" onclick="window.location.href='{% url 'signin' LANGUAGE_CODE %}'">{% trans 'LOG IN' %}</div>
                </div>
                <div class="col-xs-1 col-md-2 col-lg-2" {% if LANGUAGE_CODE == 'fr' %}style="left:10px; text-align: center; height:60px;" {% else %} style="left:8px; text-align: center; height:60px;"{% endif %} id="reg">
                  <div class="menubutton" onclick="window.location.href='{% url 'signup' LANGUAGE_CODE %}'">{% trans "REGISTER" %}</div>
                </div> 
                
                <div class="col-xs-4 col-md-2 col-lg-1" style="text-align: left;">
                  {% if LANGUAGE_CODE == 'fr' %}
                        <div class="menubutton"onclick="window.location.href='{% url 'home' 'en' %}'">ENGLISH</div> 
                  {% else %}
                        <div class="menubutton" onclick="window.location.href='{% url 'home' 'fr' %}'">{% trans "FRANÇAIS" %}</div> 
                  {% endif %}
                 
                </div>
               {% endif %}
            </div>
        </div>
    </div>
</div>
  
    
    <header id="question">
   
     <div class="header-content">
       
      <div class="logo-container">
          <div class="hoja">KLIQ</div>
      </div>
          
       
      <div class="header-content-inner">
            <br> 
            <div class="row">
                <h4 class="slogan"> {% trans "MANY PATHS. CHOOSE YOURS." %}</h4>
                <h1 id="homeHeading">{% trans "Model your educational and career paths using your academic grades and personality profiles." %}
            </div>
            <br><br>
            <!-- <a class="btn btn-white btn-xl page-scroll" id="startjourney-btn" href="#grades">Start your journey</a> -->
            <button id="startjourney-btn" class="btn btn-primary btn-xxl gradient-btn">{% trans "Start your journey" %}</button>
        </div>
    </div>
      
      <!--
      <div class="diagonal-background">
        <!-- this is an empty element for the diagonal bg image 
      </div>
      -->
    
    
      
    </header>
    
    <!-- Grades section -->
  <section id="grades" ng-cloak>
  
      <div class="strip">
        <h1>{% trans "Grades" %}</h1>
      </div>



<!-- <button id="button-get-position" class="button-demo">Get current position</button> -->

      <div class="container" id="gradesContainer">
            <div class="row top-30">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading dark-blue-text"> {% trans "Enter your most recent grades" %} </h2>
                </div>
            </div>
        </div>
        
        
        
        <div class="container top-30 bottom-30">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                      <div ng-show="loading" style="height:45px"><img class="loading-img" src="{% static 'img/rolling.svg' %}"></div>
                      <div ng-show="resting" style="height:45px">
                        <h2 class="number" ng-if="output.num_programs >= 0" style="padding-top:6px" > {$ output.num_programs $} </h2>
                        <img class="resting-img" style="margin-top: -12px;" ng-if="!(output.num_programs >= 0)" src="{% static 'img/ripple.svg' %}">
                      </div>
                      <h3 class="light-grey-text">{% trans "Programs" %}</h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                      <div ng-show="loading" style="height:45px"><img class="loading-img" src="{% static 'img/rolling.svg' %}"></div>
                      <div ng-show="resting" style="height:45px">
                        <h2 class="number" ng-if="output.num_careers >= 0" style="padding-top:6px"> {$ output.num_careers $} </h2>
                        <img class="resting-img" style="margin-top: -12px;" ng-if="!(output.num_careers >= 0)" src="{% static 'img/ripple.svg' %}">
                      </div>
                      <h3 class="light-grey-text">{% trans "Careers" %}</h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                      <div ng-show="loading" style="height:45px"><img class="loading-img" src="{% static 'img/rolling.svg' %}"></div>
                      <div ng-show="resting" style="height:45px">
                        <h2 class="number" ng-if="output.salary >= 0" style="padding-top:6px"> {$ (output.salary/1000) | number:0 $}K </h2>
                        <img class="resting-img" style="margin-top: -12px;" ng-if="!(output.salary >= 0)" src="{% static 'img/ripple.svg' %}">
                      </div>
                      <h3 class="light-grey-text">{% trans "Average salary" %}</h3>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
          <div class="col-lg-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 text-center" ng-show="noresults_message">
            <div class="alert alert-warning">
                  {% trans "Uh oh! binge watching Netflix? Minimum average to enter university is 70" %}%
            </div>
          </div>
        </div>


<!-- FORM --> 
<form id="gradesForm" name="gradesForm" class="container" novalidate>


          <div class="col-md-12 col-sm-6 col-xs-6">
              <div class="col-lg-1 col-lg-offset-2 col-md-1 col-md-offset-2 col-sm-12">
                <input type="text" placeholder="{% trans 'eg. English' %}" maxlength="25" tabindex="1" ng-model="formData.course1" class="course" ng-change="checkCourse(1)" uib-typeahead="course as course.name_english for course in allcourses | filter:$viewValue | limitTo:8" typeahead-on-select="(formData.grade1.length > 0) && onSelect($item, $model, $label)" typeahead-select-on-exact="true" typeahead-min-length="0">
              </div>
            <div class="col-lg-1 col-md-1 col-sm-12">
              <input type="text" placeholder="{% trans 'eg. Mathematics' %}" maxlength="25" tabindex="3" ng-model="formData.course2" class="course" ng-change="checkCourse(2)" uib-typeahead="course as course.name_english for course in allcourses | filter:$viewValue | limitTo:8" typeahead-on-select="(formData.grade2.length > 0) && onSelect($item, $model, $label)" typeahead-select-on-exact="true" typeahead-min-length="0">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12">
              <input type="text" placeholder="{% trans 'Course name' %}" maxlength="25" tabindex="5" ng-model="formData.course3" class="course" ng-change="checkCourse(3)" uib-typeahead="course as course.name_english for course in allcourses | filter:$viewValue | limitTo:8" typeahead-on-select="(formData.grade3.length > 0) && onSelect($item, $model, $label)" typeahead-select-on-exact="true" typeahead-min-length="0">
            </div>
             <div class="col-lg-1 col-md-1 col-sm-12">
              <input type="text" placeholder="{% trans 'Course name' %}" maxlength="25" tabindex="6" ng-model="formData.course4" class="course" ng-change="checkCourse(4)" uib-typeahead="course as course.name_english for course in allcourses | filter:$viewValue | limitTo:8" typeahead-on-select="(formData.grade4.length > 0) && onSelect($item, $model, $label)" typeahead-select-on-exact="true" typeahead-min-length="0">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12">
              <input type="text" placeholder="{% trans 'Course name' %}" maxlength="25" tabindex="9" ng-model="formData.course5" class="course" ng-change="checkCourse(5)" uib-typeahead="course as course.name_english for course in allcourses | filter:$viewValue | limitTo:8" typeahead-on-select="(formData.grade5.length > 0) && onSelect($item, $model, $label)" typeahead-select-on-exact="true" typeahead-min-length="0">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12">
              <input type="text" placeholder="{% trans 'Course name' %}" maxlength="25" tabindex="11" ng-model="formData.course6" class="course" ng-change="checkCourse(6)" uib-typeahead="course as course.name_english for course in allcourses | filter:$viewValue | limitTo:8" typeahead-on-select="(formData.grade6.length > 0) && onSelect($item, $model, $label)" typeahead-select-on-exact="true" typeahead-min-length="0">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12">
              <input type="text" placeholder="{% trans 'Course name' %}" maxlength="25" tabindex="13" ng-model="formData.course7" class="course" ng-change="checkCourse(7)" uib-typeahead="course as course.name_english for course in allcourses | filter:$viewValue | limitTo:8" typeahead-on-select="(formData.grade7.length > 0) && onSelect($item, $model, $label)" typeahead-select-on-exact="true" typeahead-min-length="0">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12">
              <input type="text" placeholder="{% trans 'Course name' %}" maxlength="25" tabindex="15" ng-model="formData.course8" class="course" ng-change="checkCourse(8)" uib-typeahead="course as course.name_english for course in allcourses | filter:$viewValue | limitTo:8" typeahead-on-select="(formData.grade8.length > 0) && onSelect($item, $model, $label)" typeahead-select-on-exact="true" typeahead-min-length="0">
            </div>
          </div>
        
        
          <div class="text-center" id="output-row">
            <div class="col-lg-1 col-lg-offset-2 col-md-1 col-md-offset-2">
              <span id="outputcontent1" class="outputcontent"> {$ formData.course1.name $} </span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
              <span id="outputcontent2" class="outputcontent"> {$ formData.course2.name $} </span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
              <span id="outputcontent3" class="outputcontent"> {$ formData.course3.name $} </span>
            </div>
             <div class="col-lg-1 col-md-1 col-sm-1">
              <span id="outputcontent4" class="outputcontent"> {$ formData.course4.name $} </span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
              <span id="outputcontent5" class="outputcontent"> {$ formData.course5.name $} </span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
              <span id="outputcontent6" class="outputcontent"> {$ formData.course6.name $} </span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
              <span id="outputcontent7" class="outputcontent"> {$ formData.course7.name $} </span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
              <span id="outputcontent8" class="outputcontent"> {$ formData.course8.name $} </span>
            </div>
          </div>

        <div class="col-md-12 col-sm-6 col-xs-6 bottom-50">
          <div class="col-lg-1 col-lg-offset-2 col-md-1 col-md-offset-2 col-sm-12">
            <input type="tel" maxlength='3' max="100" min="10" name="grade1" class="grade positive-integer" placeholder="eg. 75" tabindex="1" ng-model="formData.grade1" ng-required='formData.course1' ng-disabled="!formData.course1" ng-change='((formData.grade1.length > 1) && checkGrade(1)) || checkEmpty()' />
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12">
            <input type="tel" maxlength='3' max="100" min="10" name="grade2" class="grade positive-integer" placeholder="eg. 75" tabindex="3" ng-model="formData.grade2" ng-required='formData.course2' ng-disabled="!formData.course2" ng-change='((formData.grade2.length > 1) && checkGrade(2)) || checkEmpty()' />
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12">
            <input type="tel" maxlength='3' max="100" min="10" name="grade3" class="grade positive-integer" placeholder="{% trans 'Grade' %}" tabindex="5" ng-model="formData.grade3" ng-required='formData.course3' ng-disabled="!formData.course3" ng-change='((formData.grade3.length > 1) && checkGrade(3)) || checkEmpty()' />
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12">
            <input type="tel" maxlength='3' max="100" min="10" name="grade4" class="grade positive-integer" placeholder="{% trans 'Grade' %}" tabindex="7" ng-model="formData.grade4" ng-required='formData.course4' ng-disabled="!formData.course4" ng-change='((formData.grade4.length > 1) && checkGrade(4)) || checkEmpty()' />
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12">
            <input type="tel" maxlength='3' max="100" min="10" name="grade5" class="grade positive-integer" placeholder="{% trans 'Grade' %}" tabindex="9" ng-model="formData.grade5" ng-required='formData.course5' ng-disabled="!formData.course5" ng-change='((formData.grade5.length > 1) && checkGrade(5)) || checkEmpty()' />
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12">
            <input type="tel" maxlength='3' max="100" min="10" name="grade6" class="grade positive-integer" placeholder="{% trans 'Grade' %}" tabindex="11" ng-model="formData.grade6" ng-required='formData.course6' ng-disabled="!formData.course6" ng-change='((formData.grade6.length > 1) && checkGrade(6)) || checkEmpty()' />
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12">
            <input type="tel" maxlength='3' max="100" min="10" name="grade7" class="grade positive-integer" placeholder="{% trans 'Grade' %}" tabindex="13" ng-model="formData.grade7" ng-required='formData.course7' ng-disabled="!formData.course7" ng-change='((formData.grade7.length > 1) && checkGrade(7)) || checkEmpty()' />
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12">
            <input type="tel" maxlength='3' max="100" min="10" name="grade8" class="grade positive-integer" placeholder="{% trans 'Grade' %}" tabindex="15" ng-model="formData.grade8" ng-required='formData.course8' ng-disabled="!formData.course8" ng-change='((formData.grade8.length > 1) && checkGrade(8)) || checkEmpty()' />
          </div>
        </div>

      <div class="col-md-4 col-md-offset-4 text-center" style="height:0;">  
        {% if user.is_authenticated %}
          <button id="login-btn" class="btn btn-primary btn-xxl gradient-btn" ng-click="saveGrades()" ng-disabled="!(output.salary >= 0 )" ng-class="{ 'btn-disabled' : !(output.salary >= 0 ) }">{% trans "Save & Continue" %}</button>
          {% else %}
          <a id="login-btn"  class="btn btn-primary btn-xxl gradient-btn" ng-click="saveSessionData()" ng-disabled="!(output.salary >= 0)" ng-class="{ 'btn-disabled' : !(output.salary >= 0 ) }">{% trans "Save & Continue" %}</a>
          {% endif %}
          <a id="refresh-grades-btn" class="btn btn-primary btn-xxl gradient-btn page-scroll" href="#careers" ng-disabled="!(output.salary >= 0)" ng-class="{ 'btn-disabled' : !(output.salary >= 0 ) }" style="display:none" ng-click="updateResults(personality)" >{% trans "Update Results" %}</a>
      </div>

  </form>
    

</section>
  

<section id="personality">
  
    <div class="strip">
    <h1>{% trans "Personality" %}</h1>
  </div>

  <div class="container bottom-100">

   <div class="row text-center">
        <div class="col-lg-8 col-lg-offset-2">


          <label id="togglepopover" class="switch">
          <!-- <input type="checkbox" checked> -->
          <span id="personalitySwitch" ng-model="personalitySwitch" class="slider round" ng-class="{ 'checkedon' : personalitySwitch }" ng-click="togglePersonality()" data-toggle="popover" data-placement="top" data-content="{% trans 'switch off personality for now' %}"></span>
        </label>
        </div>
      </div> 

      <div class="row text-center" >
        <div class="col-lg-8 col-lg-offset-2">
          <p class="bottom-10 top-60">{% trans "Not sure which one you are?" %} </p>
        </div>
      </div>
       <div class="row text-center">
        <div class="col-lg-6 col-lg-offset-3">
          <p class="bottom-10 top-5">{% trans "Take a more" %} {% if LANGUAGE_CODE == 'fr' %}
            <a href="https://www.16personalities.com/fr/types-de-personnalite" target="_blank">
          {% else %}
          <a href="https://www.16personalities.com/free-personality-test" target="_blank" onclick="dataLayer.push({'event': 'GTMevent','eventCategory': 'personality-test', 'eventAction': 'detailed-test-here-link', 'eventLabel': ''});">
          {% endif %}
            {% trans "detailed test here" %}</a> </p>
        </div>
      </div>
    
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
          <div class="col-sm-3 col-xs-6" style="margin-bottom:10px;"> <b>I</b> - {% trans "Introverted" %} <br> <b>E</b> - {% trans "Extraverted" %}  </div>
          <div class="col-sm-3 col-xs-6" style="margin-bottom:10px;"> <b>N</b> - {% trans "Intuitive" %} <br> <b>S</b> - {% trans "Observant" %} </div>
          <div class="col-sm-3 col-xs-6"> <b>T</b> - {% trans "Thinking" %} <br> <b>F</b> - {% trans "Feeling" %} </div>
          <div class="col-sm-3 col-xs-6"> <b>J</b> - {% trans "Judging" %} <br> <b>P</b> - {% trans "Prospecting" %} </div>
      </div>
    </div>
  
    <div class="row text-center">
      <div class="col-lg-6 col-lg-offset-3">
          <p class="bottom-30 top-30">{% trans "Or take a more" %} 
          {% if LANGUAGE_CODE == 'fr' %}
          <a href="https://www.16personalities.com/fr/types-de-personnalite" target="_blank">
          {% else %}
          <a href="https://www.16personalities.com/free-personality-test" target="_blank">
          {% endif %}
            {% trans "detailed test here" %}</a> </p>
      </div>
    </div>
    
    <div id="personality-myersbriggs" class="top-10">
      
      <div class="row">
        <!-- 
        <div ng-class="['col-lg-2', {'col-lg-offset-2':$first}, 'col-md-2', {'col-md-offset-2':$first}, 'col-sm-3', 'col-sm-offset-0', 'col-xs-5', {'col-xs-offset-1':$first}, {'col-xs-offset-1':$index==2}]" ng-repeat="personality in rows">
        <div class="item {$ personality.color $}" ng-click="getCareers(personality.code)" >
              <h3>{$ personality.code $}</h3>
              <h4>{$ personality.name $}</h4> 
          </div> 
        </div> 
        -->
        
        <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-0 col-xs-5 col-xs-offset-1">
          <div class="item green" ng-click="getCareers('INTJ')" >
              <h3>INTJ</h3>
              <h4>{% trans "Architect" %}</h4> 
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-sm-offset-0 col-xs-5">
          <div class="item green" ng-click="getCareers('INTP')" >
              <h3>INTP</h3>
              <h4>{% trans "Logician" %}</h4> 
          </div>
        </div>
         <div class="col-lg-2 col-md-2 col-sm-3 col-sm-offset-0 col-xs-5 col-xs-offset-1">
          <div class="item green" ng-click="getCareers('ENTJ')" >
              <h3>ENTJ</h3>
              <h4>{% trans "Commander" %}</h4> 
          </div>
        </div>
         <div class="col-lg-2 col-md-2 col-sm-3 col-sm-offset-0 col-xs-5">
          <div class="item green" ng-click="getCareers('ENTP')" >
              <h3>ENTP</h3>
              <h4>{% trans "Debater" %}</h4> 
          </div>
        </div>
        
        <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-0 col-xs-5 col-xs-offset-1">
          <div class="item blue" ng-click="getCareers('INFJ')" >
              <h3>INFJ</h3>
              <h4>{% trans "Advocate" %}</h4> 
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-sm-offset-0 col-xs-5">
          <div class="item blue" ng-click="getCareers('INFP')" >
              <h3>INFP</h3>
              <h4>{% trans "Mediator" %}</h4> 
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-sm-offset-0 col-xs-5 col-xs-offset-1">
          <div class="item blue" ng-click="getCareers('ENFJ')" >
              <h3>ENFJ</h3>
              <h4>{% trans "Protagonist" %}</h4> 
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-sm-offset-0 col-xs-5">
          <div class="item blue" ng-click="getCareers('ENFP')" >
              <h3>ENFP</h3>
              <h4>{% trans "Campaigner" %}</h4> 
          </div>
        </div>
        
        <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-0 col-xs-5 col-xs-offset-1">
          <div class="item orange" ng-click="getCareers('ISTJ')" >
              <h3>ISTJ</h3>
              <h4>{% trans "Logistician" %}</h4> 
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-sm-offset-0 col-xs-5">
          <div class="item orange" ng-click="getCareers('ISFJ')" >
              <h3>ISFJ</h3>
              <h4>{% trans "Defender" %}</h4> 
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-sm-offset-0 col-xs-5 col-xs-offset-1">
          <div class="item orange" ng-click="getCareers('ESTJ')" >
              <h3>ESTJ</h3>
              <h4>{% trans "Executive" %}</h4> 
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-sm-offset-0 col-xs-5">
          <div class="item orange" ng-click="getCareers('ESFJ')" >
              <h3>ESFJ</h3>
              <h4>{% trans "Consul" %}</h4> 
          </div>
        </div>
        
        <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-0 col-xs-5 col-xs-offset-1">
          <div class="item red" ng-click="getCareers('ISTP')" >
              <h3>ISTP</h3>
              <h4>{% trans "Virtuoso" %}</h4> 
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-sm-offset-0 col-xs-5">
          <div class="item red" ng-click="getCareers('ISFP')" >
              <h3>ISFP</h3>
              <h4>{% trans "Adventurer" %}</h4> 
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-sm-offset-0 col-xs-5 col-xs-offset-1">
          <div class="item red" ng-click="getCareers('ESTP')" >
              <h3>ESTP</h3>
              <h4>{% trans "Entrepreneur" %}</h4> 
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-sm-offset-0 col-xs-5">
          <div class="item red" ng-click="getCareers('ESFP')" >
              <h3>ESFP</h3>
              <h4>{% trans "Entertainer" %}</h4> 
          </div>
        </div>
          
        
      </div> 
    </div> <!-- end of personality-myersbriggs -->
    


  </div>
  
</section>
    
  <section id="careers">
    
 
    <div class="strip bottom-5">
      <h1>{% trans "Careers" %}</h1>
    </div>
          <div ng-show="careersLoading" class="loading row text-center">
        <div class="col-md-2 col-md-offset-5">
          <img class="loading-img" src="{% static 'img/rolling.svg' %}">
        </div>
    </div>

    <div class="row hideLoad" style="margin-top:-40px;">
      <div class="col-md-12 text-center">
        <h3 style="display:inline; line-height:30x;">{% trans "AWESOME!" %}</h3><br>
        <h3 style="display:inline">{% trans "We've found " %}</h3>
        <h2 class="red-text" style="display:inline; font-size:25px;">{$ careers.length $}</h2>
        <h3 style="display:inline">{% trans " matching careers. Help us filter down your options:" %}</h3>
   
 
        <h3>{% trans "First, choose a city. Then, select a career to show related programs." %}</h3>
        
       <!-- {% if not user.is_authenticated %}
        <h4 style="font-size: 15px; margin-bottom:40px;"><a href="{% url 'signin' LANGUAGE_CODE %}">{% trans "Sign in" %}</a> {% trans "to see them all." %}</h4> -->
      </div>
     <!-- {% endif %} -->
    </div>


 
    <div class="container">



  

      <div id="filters-area">
        <div class="row" opt-kind="" ok-key="sortBy">
          
          <div class="hideLoad" style="width:100%; text-align:center; margin-bottom:15px;">

            <select ng-model='outlookSort'  id="selectCity" class="dropdownmenu">
              <option  value="">{% trans "Select a city" %}</option>
              <option  value="[ottawa]" ok-sel="[ottawa]" ok-type="integer">Ottawa</option>
              <option  value="[toronto]"  ok-sel="[toronto]" ok-type="integer">{% trans "Toronto" %}</option>
              <option  ok-sel="[london]" ok-type="integer" value="london">London</option>
              <option  ok-sel="[hamilton_niagra]" ok-type="integer" value="hamilton_niagra">Hamilton & Niagra</option>
              <option  ok-sel="[kingston_pembrooke]" ok-type="integer" value="kingston_pembrooke">Kingston & Pembrooke</option>
              <option  ok-sel="[kitchener_waterloo_barrie]" ok-type="integer" value="kitchener_waterloo_barrie">Kitchener & Waterloo & Barrie</option>
              <option  ok-sel="[muskoka_kawartha]" ok-type="integer" value="muskoka_kawartha">Muskoka & Kawartha</option>
              <option  ok-sel="[northeast]" ok-type="integer" value="northeast">Northeast</option>
              <option  ok-sel="[northwest]" ok-type="integer" value="northwest">Northwest</option>
              <option  ok-sel="[stratford_bruce_peninsula]" ok-type="integer" value="stratford_bruce_peninsula">Stratford & Bruce Peninsula</option>
              <option  ok-sel="[windsor_sarnia]" ok-type="integer" value="windsor_sarnia">Windsor & Sarnia</option>
            </select>
        </div> 
             <div class="col-sm-6" style="padding:25px; padding-bottom:10px;">
               
          <div id="filters" class="dropdownmenu careershiding hidetemp">{% trans "Filters: " %} &nbsp; &nbsp; </div>
          <select ng-model="categoryfilter"   id="categoryfilter"   class="filterselects careershiding hidetemp" style="color:#3073CD;">
              <option value="">{% trans "All Industries" %}</option>
              <option ng-disabled="!checkCategoryDisable('Administrative & Support')" value="Administrative & Support">{% trans "Administrative & Support" %}</option>
              <option ng-disabled="!checkCategoryDisable('Arts & Design')"  value="Arts & Design">{%trans "Arts & Design" %}</option>
              <option ng-disabled="!checkCategoryDisable('Education')"  value="Education">{% trans "Education" %}</option>
              <option ng-disabled="!checkCategoryDisable('Finance & Economics')"  value="Finance & Economics">{% trans "Finance & Economics" %}</option>
              <option ng-disabled="!checkCategoryDisable('Health & Social Services')"  value="Health & Social Services">{% trans "Health & Social Services" %}</option>
              <option ng-disabled="!checkCategoryDisable('Information Technology')"  value="Information Technology">{% trans "Information Technology" %}</option>
              <option ng-disabled="!checkCategoryDisable('Policy & Law')"  value="Policy & Law">{% trans "Policy & Law" %}</option>
              <option ng-disabled="!checkCategoryDisable('Business Development & Sales')"  value="Business Development & Sales">{% trans "Business Development & Sales" %}</option>
              <option ng-disabled="!checkCategoryDisable('Social Science')"  value="Social Science">{% trans "Social Science" %}</option>
              <option ng-disabled="!checkCategoryDisable('Science & Engineering')"  value="Science & Engineering">{% trans "Science & Engineering" %}</option>
              <option ng-disabled="!checkCategoryDisable('Supply & Project Management')"  value="Supply & Project Management">{% trans "Supply & Project Management" %}</option>
            </select> 
            
            <select ng-model="demandfilter"  id="demandfilter"  class="filterselects careershiding hidetemp" style="margin-left:8px;color:#3073CD;">
              <option value="">{% trans "Career Demand" %}</option>
              <option ng-disabled="!checkDemandDisable(0)"  value="{$ 0 $}"> {% trans "No Data Available" %}</option>
              <option ng-disabled="!checkDemandDisable(3)"  value="{$ 3 $}">{% trans  "High Demand Career" %}</option>
              <option ng-disabled="!checkDemandDisable(2)"  value="{$ 2 $}">{% trans "Average Demand Career" %}</option>
              <option ng-disabled="!checkDemandDisable(1)" value="{$ 1 $}">{% trans "Low Demand Career" %}</option>
            </select>
            <!--<select ng-model="categoryfilter"  ng-change=" addFilters(this)" id="categoryfilter"   class="filterselects careershiding hidetemp" style="color:#3073CD;">
              <option value="">{% trans "Industries" %}</option>
              <option ng-repeat="career in careers | limitTo:careerLimit | unique: 'fields.category' | orderBy: 'fields.category' "  value="{$ career.fields.category $}">{$ career.fields.category $}</option>
            </select>
            <select ng-model="demandfilter"  id="demandfilter" ng-change="addDemandFilters(this)" class="filterselects careershiding hidetemp" style=" margin-left:8px;color:#3073CD;">
              <option value="">{% trans "Career Demand" %}</option>
             <option  ng-repeat="career in careers | limitTo:careerLimit | unique: 'fields.outlook_ontario' | orderBy: 'fields.outlook_ontario' "  value="{$ career.fields.outlook_ontario $}"> {$ careerdemandArray[career.fields.outlook_ontario] $}</option>
            </select>-->

         </div>
          
           <div class="col-sm-6 " style="padding:25px;">

            <div class="dropdownmenu careershiding hidetemp ">{% trans "Sort by: " %} &nbsp; &nbsp; </div>
             <ul class="sorts-list careershiding hidetemp " style="font-weight: bold;">
          
            <li class ="button-group sort-by-button-group"><a class="button" data-sort-value="name" onclick="pushCareerSortGTM('Name')">{% trans "Name" %}</a></li>|
            
            <li class="button-group sort-by-button-group"><a class="button" id="torontolowsort" onclick="pushCareerSortGTM('Salary')" data-sort-value="entryLevel" >{% trans "Entry Level Salary" %}</a>
            <!--<a class="button" id="ottawalowsort" onclick="pushCareerSortGTM('Salary')"  ok-type="integer"  ok-sel="[ottawa_low]">{% trans "Entry Level Salary" %}</a>
            <a class="button" id="londonlowsort"  ok-sel="[london_low]"   onclick="pushCareerSortGTM('Salary')" ok-type="integer">{% trans "Entry Level Salary" %}</a>
            <a class="button" id="hamiltonniagralowsort"  ok-sel="[hamilton_niagra_low]"   onclick="pushCareerSortGTM('Salary')" ok-type="integer">{% trans "Entry Level Salary" %}</a>
            <a class="button" id="kingstonpembrookelowsort"  ok-sel="[kingston_pembrooke_low]"   onclick="pushCareerSortGTM('Salary')" ok-type="integer">{% trans "Entry Level Salary" %}</a>
            <a class="button" id="kitchenerwaterloobarrielowsort"  ok-sel="[kitchener_waterloo_barrie_low]"   onclick="pushCareerSortGTM('Salary')" ok-type="integer">{% trans "Entry Level Salary" %}</a>
            <a class="button" id="muskokakawarthalowsort"  ok-sel="[muskoka_kawartha_low]"   onclick="pushCareerSortGTM('Salary')" ok-type="integer">{% trans "Entry Level Salary" %}</a>
            <a class="button" id="northeastlowsort"  ok-sel="[northeast_low]"   onclick="pushCareerSortGTM('Salary')" ok-type="integer">{% trans "Entry Level Salary" %}</a>
            <a class="button" id="northwestlowsort"  ok-sel="[northwest_low]"   onclick="pushCareerSortGTM('Salary')" ok-type="integer">{% trans "Entry Level Salary" %}</a>
            <a class="button" id="stratfordbrucepeninsulalowsort"  ok-sel="[stratford_bruce_peninsula_low]"   onclick="pushCareerSortGTM('Salary')" ok-type="integer">{% trans "Entry Level Salary" %}</a>
            <a class="button" id="windsorsarnialowsort"  ok-sel="[windsor_sarnia_low]"   onclick="pushCareerSortGTM('Salary')" ok-type="integer">{% trans "Entry Level Salary" %}</a> -->
            </li>|
            
            <li class="button-group sort-by-button-group"><a class="button" id="torontohighsort"   opt-ascending="false" data-sort-value="seniorLevel" >{% trans "Senior Level Salary" %}</a>
            <!--<a class="button" id="ottawahighsort" ok-sel="[ottawa_high]"  opt-ascending="false" ok-type="integer">{% trans "Senior Level Salary" %}</a>
            <a class="button" id="londonhighsort"  ok-sel="[london_high]" opt-ascending="false" ok-type="integer">{% trans "Senior Level Salary" %}</a>
            <a class="button" id="hamiltonniagrahighsort"  ok-sel="[hamilton_niagra_high]" opt-ascending="false"  ok-type="integer">{% trans "Senior Level Salary" %}</a>
            <a class="button" id="kingstonpembrookehighsort"  ok-sel="[kingston_pembrooke_high]" opt-ascending="false"  ok-type="integer">{% trans "Senior Level Salary" %}</a>
            <a class="button" id="kitchenerwaterloobarriehighsort"  ok-sel="[kitchener_waterloo_barrie_high]" opt-ascending="false"  ok-type="integer">{% trans "Senior Level Salary" %}</a>
            <a class="button" id="muskokakawarthahighsort"  ok-sel="[muskoka_kawartha_high]"  opt-ascending="false" ok-type="integer">{% trans "Senior Level Salary" %}</a>
            <a class="button" id="northeasthighsort"  ok-sel="[northeast_high]"  opt-ascending="false" ok-type="integer">{% trans "Senior Level Salary" %}</a>
            <a class="button" id="northwesthighsort"  ok-sel="[northwest_high]"   opt-ascending="false" ok-type="integer">{% trans "Senior Level Salary" %}</a>
            <a class="button" id="stratfordbrucepeninsulahighsort"  ok-sel="[stratford_bruce_peninsula_high]" opt-ascending="false"  ok-type="integer">{% trans "Senior Level Salary" %}</a>
            <a class="button" id="windsorsarniahighsort"  ok-sel="[windsor_sarnia_high]"  opt-ascending="false" ok-type="integer">{% trans "Senior Level Salary" %}</a>-->
            </li>
            <!-- <li><a class="button" ok-sel="[ottawa]" ok-type="integer">{% trans "Ottawa outlook" %}</a></li>|
            <li><a class="button" ok-sel="[toronto]" ok-type="integer">{% trans "Toronto outlook" %}</a></li>| -->
          </ul>
                 </div>
          


       </div>
        
  
  <div  class="row top-20" id="filtertags"></div> <!-- need this div tag to generate filter tags -->
        

<!--<div class="row">
  <span class="dot1"></span>High Demand Careers
  <span class="dot2"></span>Average Demand Careers
  <span class="dot3"></span>Low Demand Careers
</div>--->

<!--<div class="row">
 <ul>
  <li style="color:#cc2027; display:inline-block;"><span style="color:#333">High Demand Career</span></li>
  <li style="color:#f3971f; display:inline-block;"><span style="color:#333">Average Demand Careers</span></li>
  <li style="color:#6fbe44; display:inline-block;"><span style="color:#333">Low Demand Careers</span></li>
</ul>
</div>-->


<div class="row careershiding hidetemp">
       
        <div id="careerLabels" class="col-md-12 col-md-offset-2 col-xs-10 col-xs-offset-1">
         
          <div class="col-sm-3 col-xs-12" style="margin-bottom:10px;">  <span id="circle3" class="circle"></span>{% trans "High Demand Career" %}</div>
          <div class="col-sm-3 col-xs-12" style="margin-bottom:10px;">  <span id="circle2" class="circle"></span>{% trans "Average Demand Career" %}</div>
          <div class="col-sm-3 col-xs-12" style="margin-bottom:10px;">  <span id="circle1" class="circle"></span>{% trans "Low Demand Career" %}</div>
          <div class="col-sm-3 col-xs-12" style="margin-bottom:10px;">  <span id="circle4" class="circle"></span>{% trans "No Data Available" %}</div>
         
        </div>
        
</div>

      </div>

    

<!--</div>-->

    <div class="container">

    
      <div class="row" style="position: relative;">
        
<!--<div class="button-group sort-by-button-group">
  <button class="button is-checked" data-sort-value="original-order">original order</button>
  <button class="button" data-sort-value="name">name</button>
  <button class="button" data-sort-value="symbol">symbol</button>
  <button class="button" data-sort-value="number">number</button>
  <button class="button" data-sort-value="weight">weight</button>
  <button class="button" data-sort-value="category">category</button>
</div>-->

<div id="isotopeContainer" class="grid row career-wells-container top-10 careershiding">
</div>

        <!--<div  id="isotopeContainer" isotope-container class="row career-wells-container top-10 careershiding"  iso-use-init-event='true'>

          <!-- 
      <div ng-repeat="career in careers | limitTo: 4 | filter:categoryfilter" isotope-item iso-use-init-event='true' class="col-md-3 col-sm-6 col-xs-12" ng-click="getPrograms(career.pk);" ng-class="{ 'selected' : career.selected}">
      -->
         <!-- {% if user.is_authenticated %} -->
          <!--<div  ng-repeat="career in careers| limitTo:careerLimit  | filter: careerFilterFunction()"  isotope-item iso-use-init-event='true' class="col-md-3 col-sm-6 col-xs-12" ng-click="getPrograms(career.pk);" ng-class="{'selected' : career.selected}" >

            <div  class="well well-sm careershidingcards blurred" ng-class="{'outlook1': career.fields.outlook_ontario == 1 , 'outlook2': career.fields.outlook_ontario == 2 , 'outlook3': career.fields.outlook_ontario == 3 , 'outlook0': career.fields.outlook_ontario == 0}" outlook="{$ career.fields.outlook_ontario $}" ottawa="{$ career.fields.outlook_ottawa $}" 
            toronto="{$ career.fields.outlook_toronto $}" london="{$ career.fields.outlook_london $}" hamilton_niagra="{$ career.fields.hamilton_niagra_outlook $}" kingston_pembrooke = "{$ career.fields.kingston_pembrooke_outlook  $}" kitchener_waterloo_barrie = "{$ career.fields.kitchener_waterloo_barrie_outlook $}"
            muskoka_kawartha = "{$ career.fields.muskoka_kawartha_outlook $}" northeast = "{$ career.fields.northeast_outlook $}" prov = "{$ career.fields.provincial_salary $}" northwest = "{$ career.fields.northwest_outlook $}" stratford_bruce_peninsula = "{$ career.fields.stratford_bruce_peninsula_outlook $}" 
            windsor_sarnia = "{$ career.fields.windsor_sarnia_outlook $}" data-toggle="popover" data-placement="top" data-content="">
              <a href="https://www.monster.ca/types-of-careers" target="_blank" class="info-link" data-toggle="popover" data-content="{% trans 'sign up to see the career report when available' %}"> <img ng-click="$event.stopPropagation()" class="info-icon" src="/static/img/icon-info.svg" /> </a>
              <img data-toggle="popover" data-content="{% trans 'add to list' %}" ng-click="career.selected = !career.selected; saveCareer(career); $event.stopPropagation()" class="plus-icon" ng-src="{$ career.selected && '/static/img/like-hover.svg' || '/static/img/like.svg' $}"
              />
              {% if LANGUAGE_CODE == 'fr' %}
                <h4 class="name">{$ career.fields.name_french $}</h4> 
              {% else %}
                <h4 class="name">{$ career.fields.name $}</h4> 
              {% endif %}
          
              <!--<span class="degree">[{$ career.fields.degree $}]</span>-->
              <!--<span unselectable="on" class="income" income="{$ career.fields.income $}" ontario_low="{$ career.fields.ontario_low $}" ontario_high="{$ career.fields.ontario_high $}" ottawa_low="{$ career.fields.ottawa_low $}" ottawa_high="{$ career.fields.ottawa_high $}" london_low="{$ career.fields.london_low $}" london_high="{$ career.fields.london_high $}"  toronto_low="{$ career.fields.toronto_low $}" 
              toronto_high="{$ career.fields.toronto_high $}" hamilton_niagra_low = "{$ career.fields.hamilton_niagra_low $}" hamilton_niagra_high = "{$ career.fields.hamilton_niagra_high $}" kingston_pembrooke_low = "{$ career.fields.kingston_pembrooke_low $}"  kingston_pembrooke_high = "{$ career.fields.kingston_pembrooke_high $}"
              kitchener_waterloo_barrie_low  = "{$ career.fields.kitchener_waterloo_barrie_low  $}"   kitchener_waterloo_barrie_high = "{$ career.fields.kitchener_waterloo_barrie_high  $}" muskoka_kawartha_low = "{$ career.fields.muskoka_kawartha_low $}" muskoka_kawartha_high = "{$ career.fields.muskoka_kawartha_high $}" 
              northeast_low = "{$ career.fields.northeast_low $}" northeast_high = "{$ career.fields.northeast_high $}" northwest_low = "{$ career.fields.northwest_low $}" northwest_high = "{$ career.fields.northwest_high $}" stratford_bruce_peninsula_low = "{$ career.fields.stratford_bruce_peninsula_low $}" stratford_bruce_peninsula_high = "{$ career.fields.stratford_bruce_peninsula_high $}" 
              windsor_sarnia_low = "{$ career.fields.windsor_sarnia_low $}" windsor_sarnia_high = "{$ career.fields.windsor_sarnia_high $}"  ng-show="career.fields.ontario_low == null">{$ (career.fields.income/1000) | number:0 $}K </span>
              <div ng-if="outlookSort == '[toronto]'"> <span  unselectable="on"  class="income" income="{$ career.fields.low $}">{$ (career.fields.toronto_low) $}K - {$ (career.fields.toronto_high) $}K <span ng-if="{$ career.fields.provincial_toronto_salary $}">**</span></span> </div>
              <div ng-if="outlookSort == '[ottawa]'"><span  unselectable="on"  class="income" income="{$ career.fields.low $}">{$ (career.fields.ottawa_low) $}K - {$ (career.fields.ottawa_high) $}K<span ng-if="career.fields.provincial_ottawa_salary">**</span></span></div>
              <div ng-if="outlookSort == 'london'"><span  unselectable="on"  class="income" income="{$ career.fields.low $}">{$ (career.fields.london_low) $}K - {$ (career.fields.london_high) $}K<span ng-if="career.fields.provincial_london_salary">**</span></span></div>
              <div ng-if="outlookSort == 'hamilton_niagra'"><span  unselectable="on"  class="income" income="{$ career.fields.low $}">{$ (career.fields.hamilton_niagra_low) $}K - {$ (career.fields.hamilton_niagra_high) $}K<span ng-if="career.fields.provincial_hamilton_niagra_salary">**</span></span></div>
              <div ng-if="outlookSort == 'kingston_pembrooke'"><span  unselectable="on"   class="income" income="{$ career.fields.low $}">{$ (career.fields.kingston_pembrooke_low) $}K - {$ (career.fields.kingston_pembrooke_high) $}K<span ng-if="{$ career.fields.provincial_kingston_pembrooke_salary $}">**</span></span></div>
              <div ng-if="outlookSort == 'kitchener_waterloo_barrie'"><span  unselectable="on"  class="income"  income="{$ career.fields.low $}" >{$ (career.fields.kitchener_waterloo_barrie_low) $}K - {$ (career.fields.kitchener_waterloo_barrie_high) $}K<span ng-if="career.fields.provincial_kitchener_waterloo_barrie_salary">**</span></span></div>
              <div ng-if="outlookSort == 'muskoka_kawartha'"><span  unselectable="on"  class="income" income="{$ career.fields.low $}" >{$ (career.fields.muskoka_kawartha_low) $}K - {$ (career.fields.muskoka_kawartha_high) $}K<span ng-if="career.fields.provincial_muskoka_kawartha_salary">**</span></span></div>
              <div ng-if="outlookSort == 'northeast'"><span  unselectable="on"  class="income" income="{$ career.fields.low $}">{$ (career.fields.northeast_low) $}K - {$ (career.fields.northeast_high) $}K<span ng-if="career.fields.provincial_northeast_salary">**</span></span></div>
              <div ng-if="outlookSort == 'northwest'"><span  unselectable="on"  class="income"  income="{$ career.fields.low $}">{$ (career.fields.northwest_low) $}K - {$ (career.fields.northwest_high) $}K<span ng-if="career.fields.provincial_northwest_salary">**</span></span></div>
              <div ng-if="outlookSort == 'stratford_bruce_peninsula'"><span  unselectable="on" class="income" income="{$ career.fields.low $}">{$ (career.fields.stratford_bruce_peninsula_low) $}K - {$ (career.fields.stratford_bruce_peninsula_high) $}K<span ng-if="career.fields.provincial_stratford_bruce_peninsula_salary">**</span></span></div>
              <div ng-if="outlookSort == 'windsor_sarnia'"><span  unselectable="on"  class="income" income="{$ career.fields.low $}">{$ (career.fields.windsor_sarnia_low) $}K - {$ (career.fields.windsor_sarnia_high) $}K<span ng-if="career.fields.provincial_windsor_sarnia_salary">**</span></span></div>              
              <br>
            </div>
          </div>
          {% else %}
         
          <div id="isotest" ng-repeat="career in careers | limitTo:careerLimit  | filter:careerFilterFunction()" isotope-item iso-use-init-event='true' class="col-md-3 col-sm-6 col-xs-12">
            <div class="well well-sm careershidingcards blurred" ng-class="{'outlook1': career.fields.outlook_ontario == 1 , 'outlook2': career.fields.outlook_ontario == 2 , 'outlook3': career.fields.outlook_ontario == 3, 'outlook0': career.fields.outlook_ontario == 0}" outlook="{$ career.fields.outlook_ontario $}" ottawa="{$ career.fields.outlook_ottawa $}" 
            toronto="{$ career.fields.outlook_toronto $}" hamilton_niagra="{$ career.fields.hamilton_niagra_outlook $}"  london="{$ career.fields.outlook_london $}" kingston_pembrooke= "{$ career.fields.kingston_pembrooke_outlook  $}" kitchener_waterloo_barrie = "{$ career.fields.kitchener_waterloo_barrie_outlook $}"
            muskoka_kawartha = "{$ career.fields.muskoka_kawartha_outlook $}" northeast = "{$ career.fields.northeast_outlook $}" northwest="{$ northwest_outlook $}" stratford_bruce_peninsula = "{$ career.fields.stratford_bruce_peninsula_outlook $}"
             windsor_sarnia = "{$ career.fields.windsor_sarnia_outlook $}" data-toggle="popover"  data-placement="top" data-content="" ng-click="getPrograms(career.pk);" ng-show="$index == 0 || $index == 1 || $index == 2 || $index == 3">
              <a href="https://www.monster.ca/types-of-careers" target="_blank" class="info-link" data-toggle="popover" data-content="{% trans 'sign up to see the career report when available' %}"><img ng-click="$event.stopPropagation()" class="info-icon" src="/static/img/icon-info.svg" /> </a>
              <img data-toggle="popover" data-content="{% trans 'add to list' %}" ng-click="career.selected = !career.selected; saveCareer(career); $event.stopPropagation()" class="plus-icon" ng-src="{$ career.selected && '/static/img/like-hover.svg' || '/static/img/like.svg' $}"
              />
              {% if LANGUAGE_CODE == 'fr' %}
                <h4  unselectable="on" class="name">{$ career.fields.name_french $}</h4> 
              {% else %}
                <h4  unselectable="on" class="name">{$ career.fields.name $}</h4>
              {% endif %}
              <!-- <span class="degree">[{$ career.fields.degree $}]</span> -->
              <!--<span unselectable="on" class="income" income="{$ career.fields.income $}" ontario_low="{$ career.fields.ontario_low $}" ontario_high="{$ career.fields.ontario_high $}" ottawa_low="{$ career.fields.ottawa_low $}" ottawa_high="{$ career.fields.ottawa_high $}" london_low="{$ career.fields.london_low $}" london_high="{$ career.fields.london_high $}"  toronto_low="{$ career.fields.toronto_low $}" 
              toronto_high="{$ career.fields.toronto_high $}" hamilton_niagra_low = "{$ career.fields.hamilton_niagra_low $}" hamilton_niagra_high = "{$ career.fields.hamilton_niagra_high $}" kingston_pembrooke_low = "{$ career.fields.kingston_pembrooke_low $}"  kingston_pembrooke_high = "{$ career.fields.kingston_pembrooke_high $}"
              kitchener_waterloo_barrie_low  = "{$ career.fields.kitchener_waterloo_barrie_low  $}"   kitchener_waterloo_barrie_high = "{$ career.fields.kitchener_waterloo_barrie_high  $}" muskoka_kawartha_low = "{$ career.fields.muskoka_kawartha_low $}" muskoka_kawartha_high = "{$ career.fields.muskoka_kawartha_high $}" 
              northeast_low = "{$ career.fields.northeast_low $}" northeast_high = "{$ career.fields.northeast_high $}" northwest_low = "{$ career.fields.northwest_low $}" northwest_high = "{$ career.fields.northwest_high $}" stratford_bruce_peninsula_low = "{$ career.fields.stratford_bruce_peninsula_low $}" stratford_bruce_peninsula_high = "{$ career.fields.stratford_bruce_peninsula_high $}" 
              windsor_sarnia_low = "{$ career.fields.windsor_sarnia_low $}" windsor_sarnia_high = "{$ career.fields.windsor_sarnia_high $}"  ng-show="career.fields.ontario_low == null">{$ (career.fields.income/1000) | number:0 $}K </span>
              <div  ng-if="outlookSort == '[toronto]'"> <span  unselectable="on"  class="income" income="{$ career.fields.low $}">{$ (career.fields.toronto_low) $}K - {$ (career.fields.toronto_high) $}K <span ng-if="{$ career.fields.provincial_toronto_salary $}">**</span></span> </div>
              <div ng-if="outlookSort == '[ottawa]'"><span  unselectable="on"  class="income" income="{$ career.fields.low $}">{$ (career.fields.ottawa_low) $}K - {$ (career.fields.ottawa_high) $}K<span ng-if="career.fields.provincial_ottawa_salary">**</span></span></div>
              <div ng-if="outlookSort == 'london'"><span  unselectable="on"  class="income" income="{$ career.fields.low $}">{$ (career.fields.london_low) $}K - {$ (career.fields.london_high) $}K<span ng-if="career.fields.provincial_london_salary">**</span></span></div>
              <div ng-if="outlookSort == 'hamilton_niagra'"><span  unselectable="on"  class="income" income="{$ career.fields.low $}">{$ (career.fields.hamilton_niagra_low) $}K - {$ (career.fields.hamilton_niagra_high) $}K<span ng-if="career.fields.provincial_hamilton_niagra_salary">**</span></span></div>
              <div ng-if="outlookSort == 'kingston_pembrooke'"><span  unselectable="on"   class="income" income="{$ career.fields.low $}">{$ (career.fields.kingston_pembrooke_low) $}K - {$ (career.fields.kingston_pembrooke_high) $}K<span ng-if="{$ career.fields.provincial_kingston_pembrooke_salary $}">**</span></span></div>
              <div ng-if="outlookSort == 'kitchener_waterloo_barrie'"><span  unselectable="on"  class="income"  income="{$ career.fields.low $}" >{$ (career.fields.kitchener_waterloo_barrie_low) $}K - {$ (career.fields.kitchener_waterloo_barrie_high) $}K<span ng-if="career.fields.provincial_kitchener_waterloo_barrie_salary">**</span></span></div>
              <div ng-if="outlookSort == 'muskoka_kawartha'"><span  unselectable="on"  class="income" income="{$ career.fields.low $}" >{$ (career.fields.muskoka_kawartha_low) $}K - {$ (career.fields.muskoka_kawartha_high) $}K<span ng-if="career.fields.provincial_muskoka_kawartha_salary">**</span></span></div>
              <div ng-if="outlookSort == 'northeast'"><span  unselectable="on"  class="income" income="{$ career.fields.low $}">{$ (career.fields.northeast_low) $}K - {$ (career.fields.northeast_high) $}K<span ng-if="career.fields.provincial_northeast_salary">**</span></span></div>
              <div ng-if="outlookSort == 'northwest'"><span  unselectable="on"  class="income"  income="{$ career.fields.low $}">{$ (career.fields.northwest_low) $}K - {$ (career.fields.northwest_high) $}K<span ng-if="career.fields.provincial_northwest_salary">**</span></span></div>
              <div ng-if="outlookSort == 'stratford_bruce_peninsula'"><span  unselectable="on"   class="income" income="{$ career.fields.low $}">{$ (career.fields.stratford_bruce_peninsula_low) $}K - {$ (career.fields.stratford_bruce_peninsula_high) $}K<span ng-if="career.fields.provincial_stratford_bruce_peninsula_salary">**</span></span></div>
              <div ng-if="outlookSort == 'windsor_sarnia'"><span  unselectable="on"  class="income"  income="{$ career.fields.low $}">{$ (career.fields.windsor_sarnia_low) $}K - {$ (career.fields.windsor_sarnia_high) $}K<span ng-if="career.fields.provincial_windsor_sarnia_salary">**</span></span></div>              
              <br>
            </div>
              <div class="well well-sm blurred" ng-show="$index > 3">
              <img class="plus-icon" />
              {% if LANGUAGE_CODE == 'fr' %}
                <h4  unselectable="on" class="name">{$ career.fields.name_french $}</h4> 
              {% else %}
                <h4 unselectable="on" class="name">{$ career.fields.name $}</h4>
              {% endif %}
              <span unselectable="on" class="income" income="{$ career.fields.income $}">{$ (career.fields.income/1000) | number:0 $}K </span>
              <br>
            </div>
          </div>
 
          {% endif %}
          </div> -->
          
        {% if not user.is_authenticated %}
        <div class="lock"><img class="lock-img" src="{% static 'img/Sign_up_Lock-03.svg' %}">
          <div class="lock-text"><h1><a href="/{{LANGUAGE_CODE}}/signup" style="color:black;">{% trans "JOIN KLIQ" %}</a></h1><span style="margin-top:10px;">{%trans "More careers and programs are only available for registered users." %}<br><br><a href="/{{LANGUAGE_CODE}}/signin" style="color:#3073CD;">Login</a> or <a href="/{{LANGUAGE_CODE}}/signup" style="color:#3073CD;">Register</a>.</span></div>
        </div>
        {% endif %}

        </div>
        <!-- end of isotopeContainer -->
        

      </div>
      <span class="provincial">**{% trans "Salaries are rounded to provincial average and may vary." %}</span>
      <!-- end of row -->
      <div class="row text-center careershiding">
        <div class="col-md-4 col-md-offset-4">
          {% if user.is_authenticated %}
          <button ng-click="loadMore()" class="btn btn-primary gradient-btn top-30" ng-hide="(careerLimit >= (careers).length) || (activeFilter == true)">{% trans "Load more careers" %}</button>
          <!-- available: {$ (careers|filter:categoryfilter).length $} showing: {$ (careers|filter:categoryfilter|limitTo:careerLimit).length $} -->
          {% else %}
          <a href="{% url 'signin' LANGUAGE_CODE %}" class="btn btn-primary gradient-btn top-30" ng-hide="(careers | filter:categoryfilter | limitTo:careerLimit).length >= (careers | filter:categoryfilter).length">{% trans "Sign in to load more" %}</a>          {% endif %}
        </div>
      </div>
    </div> 
    <!-- end of container -->

  </section>


<section id="programs" ng-cloak>
  
    <div class="strip">
      <h1>{% trans "Programs" %}</h1>
    </div>

    <div ng-show="programsLoading" class="loading row text-center">
      <img class="loading-img" src="{% static 'img/rolling.svg' %}">
    </div>
    
    
     <div class="container top-30" ng-show="programs">
        <div class="row" ng-show="numPrograms">
          <div class="col-md-12 text-center">
              <h3 style="display:inline">{% trans "Based on your grades and selected choices, <br> we found " %}</h3> &nbsp; <h2 class="orange-text" style="display:inline; font-size: 24px;">{$ numPrograms $}</h2> &nbsp; <h3 style="display:inline">{% trans " matching programs across Ontario." %}</h3>
             
              <br><br><br><br>
          </div>
        </div>
        
    <!--
        <div id="filters-area" class="top-30 bottom-30">
          <div class="row" id="filters">
            <div class="col-md-12">
              <ul class="filter-list">
                Filters: 
                <li><a class="active">Show all</a></li>|
                <li><a>Coop</a></li>|
                <li><a>Scholarships</a></li>
              </ul>
            </div>
          </div>
        </div>
      -->


         <div class="programs-table col-md-14">
             <div class="row bottom-10">
                 <a class="col-md-1" style="right:-5px;text-align: center" ng-click="sortType = 'school'; sortReverse = !sortReverse">
                     <span ng-show="sortType == 'school' && !sortReverse" class="fa fa-caret-down"></span>
                     <span ng-show="sortType == 'school' && sortReverse" class="fa fa-caret-up"></span>
                     <b style="text-align:center;">{% trans "School" %}</b> 
                 </a>
                 <a class="col-md-2" style="right:-7px;text-align: center" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                     <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                     <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                     <b style="text-align:center;">{% trans "Program" %}</b> 
                 </a>
                 <a class="col-md-1" style="text-align: left" ng-click="sortType = 'city'; sortReverse = !sortReverse">
                     <span ng-show="sortType == 'city' && !sortReverse" class="fa fa-caret-down"></span>
                     <span ng-show="sortType == 'city' && sortReverse" class="fa fa-caret-up"></span>
                     <b style="text-align: left">{% trans "City, Province" %}</b>
                 </a>
                 <a class="col-md-1" ng-click="sortType = 'admission_avg'; sortReverse = !sortReverse">
                     <span ng-show="sortType == 'admission_avg' && !sortReverse" class="fa fa-caret-down"></span>
                     <span ng-show="sortType == 'admission_avg' && sortReverse" class="fa fa-caret-up"></span>
                     <b style="right:-3px;">{% trans "Admission Average" %}</b> 
                 </a>
                 <a class="col-md-1" ng-click="sortType = 'cost_per_year'; sortReverse = !sortReverse">
                     <span ng-show="sortType == 'cost_per_year' && !sortReverse" class="fa fa-caret-down"></span>
                     <span ng-show="sortType == 'cost_per_year' && sortReverse" class="fa fa-caret-up"></span>
                     <b style="right:-3px;">{% trans "Tuition<br>(per year)" %}</b> 
                 </a>
                 <a class="col-md-1" ng-click="sortType = 'res_cost'; sortReverse = !sortReverse">
                     <span ng-show="sortType == 'res_cost' && !sortReverse" class="fa fa-caret-down"></span>
                     <span ng-show="sortType == 'res_cost' && sortReverse" class="fa fa-caret-up"></span>
                     <b style="right:-3px;">{% trans "Residence Cost" %}</b>
                 </a>
                 <a class="col-md-1" ng-click="sortType = 'food_cost'; sortReverse = !sortReverse">
                     <span ng-show="sortType == 'food_cost' && !sortReverse" class="fa fa-caret-down"></span>
                     <span ng-show="sortType == 'food_cost' && sortReverse" class="fa fa-caret-up"></span>
                     <b style="right:-3px;">{% trans "Meal Plan" %} </b>
                 </a>
                 <a class="col-md-1" ng-click="sortType = '(scholarships|filter:{ fields: { school: programschool }}).length'; sortReverse = !sortReverse">
                     <span ng-show="sortType == '(scholarships|filter:{ fields: { school: program.school }}).length' && !sortReverse" class="fa fa-caret-down"></span>
                     <span ng-show="sortType == '(scholarships|filter:{ fields: { school: program.school }}).length' && sortReverse" class="fa fa-caret-up"></span>
                     <b style="right:-3px;"> {% trans "Scholarships Available" %}</b>
                 </a>
                 <a class="col-md-1" ng-click="sortType = 'fields.scholarships_avg'; sortReverse = !sortReverse">
                     <span ng-show="sortType == 'scholarships_avg' && !sortReverse" class="fa fa-caret-down"></span>
                     <span ng-show="sortType == 'scholarships_avg' && sortReverse" class="fa fa-caret-up"></span>
                     <b style="right:-3px;">{% trans "Average Scholarship" %}</b> 
                 </a>
                 <a class="col-md-1" ng-click="sortType = 'lang_score'; sortReverse = !sortReverse">
                     <span ng-show="sortType == 'lang_score' && !sortReverse" class="fa fa-caret-down"></span>
                     <span ng-show="sortType == 'lang_score' && sortReverse" class="fa fa-caret-up"></span>
                    <b style="right:-3px;">{% trans "TOEFL Score (IBT)" %}</b>
                 </a> 
                 <a class="col-md-1" ng-click="sortType = 'admission_avg'; sortReverse = !sortReverse">
                     <b style="right:-3px;">{% trans "Internship" %}</b>
                 </a>
        </div>
          
        {% if user.is_authenticated %}
          <div class="row program-row" ng-repeat="program in programs | orderBy:sortType:sortReverse">
              <div class="col-md-1 logo-col"> <img ng-src="{$ program.logo_path $}" style="width:100%;" /> </div>
              <div class="col-md-2 name"> <a href="{$ program.site_link $}" target="_blank" class="programname" onclick="dataLayer.push({ 'programUrl': href })"> {$ program.name $}</a><br>{$ program.school $} </div>
              <div class="col-md-1 city"> {$ program.city $}, {$ program.province $} </div>
              <div class="col-md-2 col-xs-4 admissionavg" ng-if="program.fields.admission_avg > 0"> {$ program.fields.admission_avg $}% </div>
			  <div class="col-md-2 col-xs-4 admissionavg" ng-if="program.fields.admission_avg == 0"> MET </div>
              <div class="col-md-1 col-xs-4 tuition"> {$ program.cost_per_year | currency:"$":0  $}</div>
              <div class="col-md-1 cost"><a ng-if="program.res_cost > 0" href="{$ program.res_link $}" target="_blank">{$ program.res_cost | currency:"$":0  $}</a></div>
              <div class="col-md-1 cost"><a ng-if="program.food_cost > 0" href="{$ program.food_link $}" target="_blank">{$ program.food_cost | currency:"$":0  $}</a> </div>
              <div class="col-md-1 col-xs-4 scholarship-num"> <a ng-show="(scholarships|filter:{ fields: { school: program.school }}).length > 0" href="{$ program.scholarship_link $}" target="_blank" class="scholarshipnum"> {$ (scholarships|filter:{ fields: { school: program.school }}).length $} </a> </div>
              <div class="col-md-1 col-xs-4 scholarship-avg"> {$ program.scholarships_avg | currency:"$":0 $} </div>
              <div class="row info-headers">
                <div class="col-xs-4">{% trans "Admission Average" %}</div>
                <div class="col-xs-4">{% trans "Tuition/Year" %}</div>
                <div class="col-xs-4">{% trans "Avg. Scholarship" %}</div>
              </div>
              <div class="col-md-1 col-xs-4 lang-score"> <a ng-if="program.lang_score > 0" href="{$ program.lang_link $}" target="_blank">{$ program.lang_score $}</a> </div>
              <div class="col-md-1 col-xs-4 coop"> yes/no </div>
          </div>
        {% else %}
        <div class="row program-row" ng-repeat="program in programs | limitTo: 7 | orderBy:sortType:sortReverse" ng-class="{ blurred : $index > 2 }">
          <div class="col-md-1 logo-col"> <img ng-src="{$ program.logo_path $}" style="width:100%;" /> </div>
          <div class="col-md-2 name"> <a ng-if="$index <= 2" href="{$ program.site_link $}" target="_blank" class="programname" onclick="dataLayer.push({ 'programUrl': href })"> {$ program.name $}</a><br>{$ program.school $} </div>
          <div class="col-md-1 city"> {$ program.city $}, {$ program.province $} </div>
          <div class="col-md-2 col-xs-4 admissionavg" ng-if="program.fields.admission_avg > 0"> {$ program.fields.admission_avg $}% </div>
		  <div class="col-md-2 col-xs-4 admissionavg" ng-if="program.fields.admission_avg == 0"> MET </div>
          <div class="col-md-1 col-xs-4 tuition"> {$ program.cost_per_year | currency:"$":0  $}</div>
          <div class="col-md-1 cost"><a ng-if="program.res_cost > 0 && $index <= 2" href="{$ program.res_link $}" target="_blank">{$ program.res_cost | currency:"$":0  $}</a></div>
          <div class="col-md-1 cost"><a ng-if="program.food_cost > 0 && $index <= 2" href="{$ program.food_link $}" target="_blank">{$ program.food_cost | currency:"$":0  $}</a> </div>
          <div class="col-md-1 col-xs-4 scholarship-num"> <a ng-show="(scholarships|filter:{ fields: { school: program.school }}).length > 0" href="{$ program.scholarship_link $}" target="_blank" class="scholarshipnum"> {$ (scholarships|filter:{ fields: { school: program.school }}).length $} </a> </div>
          <div class="col-md-1 col-xs-4 scholarship-avg"> {$ program.scholarships_avg | currency:"$":0 $} </div>
          <div class="row info-headers">
            <div class="col-xs-4">{% trans "Admission Average" %}</div>
            <div class="col-xs-4">{% trans "Tuition/Year" %}</div>
            <div class="col-xs-4">{% trans "Avg. Scholarship" %}</div>
          </div>
          <div class="col-md-1 col-xs-4 lang-score"> <a ng-if="program.lang_score > 0 && $index <= 2" href="{$ program.lang_link $}" target="_blank">{$ program.lang_score $}</a> </div>
          <div class="col-md-1 col-xs-4 coop"> yes/no </div>
      </div>
        {% endif %}
            
        </div> <!-- end of programs table -->
        
          
    </div> <!-- end of container -->
    
    
    <div id="footer">
      <span>{% trans "Made with ❤︎ and lots of" %}
      <img draggable="false" class="emoji" alt="☕" src="https://s.w.org/images/core/emoji/2.3/svg/2615.svg" style="width: 15px; text-align: inherit; margin: 0px 1px; font-size: 16px;">
      {% trans "in Ottawa/Toronto-" %} &copy; {% trans "2018 Kliq.ca Inc | All rights reserved" %}
      </span>
    </div>
    
    
</section>

    <!-- Jquery UI only added to animate colors in personality section -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" async></script>
    <!-- <script src="{% static 'vendors/magnific-popup/jquery.magnific-popup.min.js' %}"></script> -->
    <script src="{% static 'vendors/jquery-popupoverlay/jquery.popupoverlay.js' %}"></script>
    
    
<script>


  var scope =   angular.element(document.getElementById('filtertags')).scope();

 //var $grid = $('.grid').isotope(scope.IsotopeOptions);


 

// bind sort button click
$('.sort-by-button-group').on( 'click', function() {
  var sortValue = $(this).children().attr('data-sort-value');
  var scope =   angular.element(document.getElementById('filtertags')).scope();
  scope.sortData = sortValue;
  //alert(sortValue)
  $grid.isotope({ sortBy: sortValue });
});

// change is-checked class on buttons
$('.button-group').each( function( i, buttonGroup ) {
  var $buttonGroup = $( buttonGroup );
  console.log($buttonGroup);
  $buttonGroup.on( 'click', 'button', function() {
    $buttonGroup.find('.is-checked').removeClass('is-checked');
    $( this ).addClass('is-checked');
  });
}); 

$('.element-item').fadeTo( 500, 1, function() {
  var scope =   angular.element(document.getElementById('filtertags')).scope();
  $('.grid').isotope(scope.IsotopeOptions);
});

   function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

    function openNavR() {
        document.getElementById("mySidenavR").style.width = "250px";
    }

    function closeNavR() {
        document.getElementById("mySidenavR").style.width = "0";
    }

  $('.numeric').numeric();

  $('.integer').numeric(
      false,
      function () {
          alert('Integers only');
          this.value = '';
          this.focus();
      }
  );
  $('.positive').numeric(
      {negative: false},
      function () {
          alert('No negative values');
          this.value = '';
          this.focus();
      }
  );

  $('.positive-integer').numeric(
      {decimal: false, negative: false},
      function () {
          alert('Positive integers only');
          this.value = '';
          this.focus();
      }
  );

  $('.decimal-2-places').numeric({decimalPlaces: 2});

  $('.alternative-decimal-separator').numeric({altDecimal: ','});

  $('.alternative-decimal-separator-reverse').numeric({altDecimal: '.', decimal: ','});

  $('#remove').on(
      'click',
      function (e) {
          e.preventDefault();

          $('.numeric,.integer,.positive,.positive-integer,.decimal-2-places,.alternative-decimal-separator,.alternative-decimal-separator-reverse').removeNumeric();
      }
  );

  function DropDown(el) {
				this.dd = el;
				this.placeholder = this.dd.children('span');
				this.opts = this.dd.find('ul.dropdown > li');
				this.val = '';
				this.index = -1;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						return false;
					});

					obj.opts.on('click',function(){
						var opt = $(this);
						obj.val = opt.text();
						obj.index = opt.index();
						obj.placeholder.text( obj.val);
					});
				},
				getValue : function() {
					return this.val;
				},
				getIndex : function() {
					return this.index;
				}
			}


  $( document ).ready(function() {
    
   var scope =   angular.element(document.getElementById('filtertags')).scope();

 //var $grid = $('.grid').isotope(scope.IsotopeOptions);

		$grid.isotope('shuffle');
 

 
      $(".hidetemp").hide();
      $(".hideLoad").hide();
      
     
      
      $( "#selectCity" ).change(function(item) {
        
         var optionSelected = $("option:selected", this);
         var valueSelected = this.value;
         switch(valueSelected) {
        case "[toronto]":
         $('.grid div').each(function(){
                $(this).find(".priceLow").text($(this).attr("toronto_low"));
                $(this).find(".priceHigh").text($(this).attr("toronto_high"));   
                if($(this).attr("toronto_salary") == 'true') $(this).find(".priceRound").text("**");
        });
        break;
        case "[ottawa]":
         $('.grid div').each(function(){ 
                $(this).find(".priceLow").text($(this).attr("ottawa_low"));
                $(this).find(".priceHigh").text($(this).attr("ottawa_high"));
                if($(this).attr("ottawa_salary") == 'true') $(this).find(".priceRound").text("**");
        });
        break;
        case "london":  
          $('.grid div').each(function(){  
                $(this).find(".priceLow").text($(this).attr("london_low"));
                $(this).find(".priceHigh").text($(this).attr("london_high")); 
                if($(this).attr("london_salary") == 'true') $(this).find(".priceRound").text("**");
        });
        break;
        case "hamilton_niagra":
         $('.grid div').each(function(){
                $(this).find(".priceLow").text($(this).attr("hamilton_niagra_low"));
                $(this).find(".priceHigh").text($(this).attr("hamilton_niagra_high")); 
                if($(this).attr("hamilton_niagra_salary") == 'true') $(this).find(".priceRound").text("**");
        });
        break;
        case "kingston_pembrooke":
         $('.grid div').each(function(){ 
                $(this).find(".priceLow").text($(this).attr("kingston_pembrooke_low"));
                $(this).find(".priceHigh").text($(this).attr("kingston_pembrooke_high"));
                if($(this).attr("kingston_pembrooke_salary") == 'true') $(this).find(".priceRound").text("**");
        });
        break;
        case "kitchener_waterloo_barrie":  
          $('.grid div').each(function(){  
                $(this).find(".priceLow").text($(this).attr("kitchener_waterloo_barrie_low"));
                $(this).find(".priceHigh").text($(this).attr("kitchener_waterloo_barrie_high")); 
                if($(this).attr("kitchener_waterloo_barrie_salary") == 'true') $(this).find(".priceRound").text("**");
        });
        break;
        case "muskoka_kawartha":
         $('.grid div').each(function(){
                $(this).find(".priceLow").text($(this).attr("muskoka_kawartha_low"));
                $(this).find(".priceHigh").text($(this).attr("muskoka_kawartha_high"));
                if($(this).attr("muskoka_kawartha_salary") == 'true') $(this).find(".priceRound").text("**");
        });
        break;
        case "northeast":
         $('.grid div').each(function(){ 
                $(this).find(".priceLow").text($(this).attr("northeast_low"));
                $(this).find(".priceHigh").text($(this).attr("northeast_high"));
                if($(this).attr("northeast_salary") == 'true') $(this).find(".priceRound").text("**");
        });
        break;
        case "northwest":  
          $('.grid div').each(function(){  
                $(this).find(".priceLow").text($(this).attr("northwest_low"));
                $(this).find(".priceHigh").text($(this).attr("northwest_high"));
                if($(this).attr("northwest_salary") == 'true') $(this).find(".priceRound").text("**");
        });
        break;
        case "stratford_bruce_peninsula":
         $('.grid div').each(function(){
                $(this).find(".priceLow").text($(this).attr("stratford_bruce_peninsula_low"));
                $(this).find(".priceHigh").text($(this).attr("stratford_bruce_peninsula_high"));  
                if($(this).attr("stratford_bruce_peninsula_salary") == 'true') $(this).find(".priceRound").text("**");
        });
        break;
        case "windsor_sarnia":
         $('.grid div').each(function(){ 
                $(this).find(".priceLow").text($(this).attr("windsor_sarnia_low"));
                $(this).find(".priceHigh").text($(this).attr("windsor_sarnia_high"));  
                if($(this).attr("windsor_sarnia_salary") == 'true') $(this).find(".priceRound").text("**");
        });
        break;       
         
      }
      
      $grid.isotope('reloadItems');
         
             var elems = $grid.isotope('getItemElements')
                    // alert(scope.careerLimit)
             for ( var j = 0; j < scope.careerLimit ; j++)
             {
             scope.tempArray.push (scope.careers[j].fields.name)
             }
             $grid.show( elems )
             $grid.isotope({ sortBy: '.name' });
             setTimeout(function () {
                  $grid.isotope('reloadItems');  $grid.isotope('shuffle'); $grid.isotope({ sortBy: '.name' });$grid.isotope('reloadItems');  }, 400)
             
        
         $(".careershiding").removeClass("careershiding");
         $(".careershidingcards").removeClass("blurred");
         $(".element-item").attr('data-content',"{% trans 'show related programs' %}");
         $(".element-item").find("#like").attr('data-content',"{% trans 'add to list' %}");
         $(".element-item").find("#infobutton").attr('data-content',"{% trans 'sign up to see the career report when available' %}");
        // $(".careershidingcards").find("#like").attr('ng-click',"career.selected = !career.selected; saveCareer(career); $event.stopPropagation()");
         //$(".careershidingcards").find("#like").attr('ng-src'," car.selected && '/static/img/like-hover.svg' || '/static/img/like.svg' ");
         $(".hidetemp").show();
         
      });
      
      //$('#betabar').delay(5000).slideDown('slow');
      var dd = new DropDown( $('#dd') );
    
    $('#refresh-grades-btn').hide();
    $( "#personality" ).hide();
    $( "#careers" ).hide();
    $( "#programs" ).hide();
    
  })
  
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    

    if ($('body').scrollTop > 450 || document.body.scrollTop > 450 || document.documentElement.scrollTop > 450) {
      $('#betabar').slideUp();
    } else if ($('body').scrollTop <= 450 || document.body.scrollTop <= 450 || document.documentElement.scrollTop <= 450) { 
      $('#betabar').slideDown();
    }
  }
  $( "#startjourney-btn" ).click(function(e) { 
    if ( navigator.userAgent.match(/Android/i)
         || navigator.userAgent.match(/webOS/i)
         || navigator.userAgent.match(/iPhone/i)
         || navigator.userAgent.match(/iPad/i)
         || navigator.userAgent.match(/iPod/i)
         || navigator.userAgent.match(/BlackBerry/i)
         || navigator.userAgent.match(/Windows Phone/i)
         ) {
          $('html, body').stop().animate({
        scrollTop: ($("#grades").offset().top + 10)
      }, 1250, 'easeInOutExpo'); 
         } else {
            $('html, body').stop().animate({
        scrollTop: ($("#grades").offset().top + 300)
      }, 1250, 'easeInOutExpo'); 
         }
      e.preventDefault();
    });
    
  $("#login-btn").click(function(e) {
   $( "#personality" ).show();
   if ( navigator.userAgent.match(/Android/i)
         || navigator.userAgent.match(/webOS/i)
         || navigator.userAgent.match(/iPhone/i)
         || navigator.userAgent.match(/iPad/i)
         || navigator.userAgent.match(/iPod/i)
         || navigator.userAgent.match(/BlackBerry/i)
         || navigator.userAgent.match(/Windows Phone/i)
         ){
          $('html, body').stop().animate({
        scrollTop: ($("#personality").offset().top + 19)
      }, 1250, 'easeInOutExpo');
         } else {
            $('html, body').stop().animate({
        scrollTop: ($("#personality").offset().top + 160)
      }, 1250, 'easeInOutExpo');
           
         }
      e.preventDefault();
      
      $('[data-toggle="popover"]').popover({ trigger: "hover", container: "body" }); 
      $("#personalitySwitch").popover('show');
    
  });
  $( "#refresh-grades-btn" ).click(function() { scrollToCareers(); });
  
  $( "#txtarea-personality" ).on('input', function() {
    if ($("#txtarea-personality").val().length > 0) {
      enablePersonalityBtn();   
    }
    else {
      disablePersonalityBtn();
    }
  });
    
    $(document).on("click", ".item", function() {
      
      $(this).removeClass("grey");
      $("#personality .item").not(this).addClass( "grey" , 500 );
      $('#personalitySwitch').attr('data-content', "{% trans 'switch off personality for now' %}");
      setTimeout( scrollToCareers , 500 );
    });
    
    // 
     $(document).on("click", ".switch", function() {
       if($("#personalitySwitch").hasClass("checkedon")) {
          $("#personality .item").removeClass( "grey" , 500 );
          $('#personalitySwitch').attr('data-content', "{% trans 'switch off personality for now' %}");
       }
       else {
          $(this).removeClass("grey");
          $("#personality .item").not(this).addClass( "grey" , 500 );
          $('#personalitySwitch').attr('data-content', "{% trans 'switch personality back on' %}");
          setTimeout( scrollToCareers , 500 );
       }
    });
    
    function scrollToCareers() {
      $('#login-btn').hide();
      $('#refresh-grades-btn').show();
      
      if($("#careers").is(":visible")) {
      }
      else {
        $("#careers").show(); 
      }
      if ( navigator.userAgent.match(/Android/i)
         || navigator.userAgent.match(/webOS/i)
         || navigator.userAgent.match(/iPhone/i)
         || navigator.userAgent.match(/iPad/i)
         || navigator.userAgent.match(/iPod/i)
         || navigator.userAgent.match(/BlackBerry/i)
         || navigator.userAgent.match(/Windows Phone/i)
         ){
      $('html, body').stop().animate({
        scrollTop: ($("#careers").offset().top + 19)
      }, 1250, 'easeInOutExpo');
         } else {
           $('html, body').stop().animate({
        scrollTop: ($("#careers").offset().top + 180)
      }, 1250, 'easeInOutExpo');
        }
      
      setTimeout(popover, 1500);
      
    }
    
    function popover(){
        $('[data-toggle="popover"]').popover({ trigger: "hover", container: "body" }); 
      }
    
    $(document).on("click", ".well:not(.blurred)", function() {
      $(this).addClass("selected");
      $("#careers .well").not(this).removeClass( "selected" , 200 );
      setTimeout( scrollToPrograms , 400 );
    });
  
    
    function scrollToPrograms() {
        $("#programs").show(); 
        if ( navigator.userAgent.match(/Android/i)
         || navigator.userAgent.match(/webOS/i)
         || navigator.userAgent.match(/iPhone/i)
         || navigator.userAgent.match(/iPad/i)
         || navigator.userAgent.match(/iPod/i)
         || navigator.userAgent.match(/BlackBerry/i)
         || navigator.userAgent.match(/Windows Phone/i)
         ){
      $('html, body').stop().animate({
        scrollTop: ($("#programs").offset().top + 19)
        }, 1250, 'easeInOutExpo');
         } else {
          $('html, body').stop().animate({
            scrollTop: ($("#programs").offset().top + 180)
          }, 1250, 'easeInOutExpo');
          }
    }
   

    function filterTags($ft , category){
      
          
      var scope =   angular.element(document.getElementById('filtertags')).scope();
      $ft.find('.filtertagcancel').click(function(event){
       
          scope.removeFilter(category); 
          $ft.remove();
      });
      
}


   function filterdemandTags($ft,value){
   
     
     
      var scope = angular.element(document.getElementById('filtertags')).scope();
      $ft.find('.filtertagcancel').click(function(event){
          scope.removedemandFilter(value); 
          $ft.remove();
      });
}


    $('#categoryfilter').change(function() {
      //alert($(this).val());
    var scope =   angular.element(document.getElementById('filtertags')).scope();
     
    scope.addFilters($(this).val());
    
      dataLayer.push({
        'event': 'GTMevent',
        'eventCategory': 'filter-by',
        'eventAction': 'click',
        'eventLabel': $(this).val()
      });
    });
    
    
   $('#demandfilter').change(function() {
    var scope = angular.element(document.getElementById('filtertags')).scope();
    scope.addDemandFilters($(this).val());
    
      dataLayer.push({
        'event': 'GTMevent',
        'eventCategory': 'filter-by',
        'eventAction': 'click',
        'eventLabel': $(this).val()
      });
    });

</script>

<script type="text/javascript">
var sib_prefix = 'sib';
var sib_dateformat = 'mm-dd-yyyy';
</script>
<script type='text/javascript' src='https://my.sendinblue.com/public/theme/version4/assets/js/src/subscribe-validate.js?v=1.0'></script>
<script type='text/javascript'>
  jQuery.noConflict(true);
</script>
  
          
</body>

</html>
