{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="en">

<head>
  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
     <!-- Bootstrap Core CSS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/kliq.css' %}" rel="stylesheet">
    <link href="{% static 'css/subpage.css' %}" rel="stylesheet">
    
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>
    
    <!-- heap tracking plugin -->
    <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("2543832801");
    </script>
    
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-57XT3ZL');</script>

</head>

    
<div id="particles-js"></div>


<body ng-app="kliq" ng-controller="mainController">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-57XT3ZL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    
      <!-- jQuery -->
    <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script> 
    
     <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="{% static 'vendors/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js' %}"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
     
    <!-- Isotope -->
    <script src="{% static 'vendors/angular-isotope/angular-isotope.js' %}"></script>
  
      <!-- Our Angular Files -->
    <script src="{% static 'angularapp/app.js' %}"></script>
    <script src="{% static 'angularapp/MainController.js' %}"></script>
    <title>Kliq Profile</title>
    
    {% if user.is_authenticated %}    
    <div ng-init="getUserCareers()"></div>
    
                
    <div class="navgroup">
        {% if LANGUAGE_CODE == 'fr' %}
        <a href="{% url 'change_lang' 'en' %}" class="navbtn">English</a>
        {% else %}
        <a href="{% url 'change_lang' 'fr' %}" class="navbtn">Français</a>
        {% endif %}
        <a href="{% url 'home'%}" class="navbtn">{% trans "Home" %}</a>
    </div>
    

    
        <div id="dashboard-container" class="container" ng-cloak>
            
                <div class="col-md-4 col-sm-6 col-xs-12">

                  <div class="x_panel tile user">
                     <img src="/static/img/profile.png" class="userprofile" > 
                    <div class="x_title">
                      <h2>{{ profile.name }}</h2>
                    </div>
                    <div class="x_content">
                      <div class="widget_summary">
                        <div>
                            <p class="titletxt"> {% trans "Grade " %}</p>
                          {% trans "High school Student" %} <br>
                          <!-- {% trans "Grade " %} <span>{{ profile.grade }}</span>  -->
                        </div>   
                        <div>
                            <p class="titletxt"> {% trans "Email Address" %}</p>
                          <span>{{ profile.email }}</span>
                        </div>
                        <br>
                        <div>
                            <p> <a href="{% url 'logout'%}">{% trans "Logout" %}</a> </p>
                            <p> <a href="{% url 'delete_user_data'%}">{% trans "Delete my account" %}</a> </p>
                        </div>
                        
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-8 col-sm-6 col-xs-12">
                   <!--  <div class="row"> -->
                        <!-- <div class="col-md-12 col-xs-12"> -->
                            <div class="x_panel tile overflow_hidden">
                                <div class="x_title">
                                
                                </div>
                                <div class="x_content">
                                    {% if data %}
                                    <div class="row">
                                          <h4 style="text-align:center;">{% trans "Based on your test results you have access to:" %}</h4>
                                        <div class="col-lg-4 col-md-4 text-center">
                                            <div class="service-box">
                                                <h2 class="number"> {{ data.summary_programs }} </h2>
                                              <h3 class="light-grey-text">{% trans "PROGRAMS" %}</h3>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 text-center">
                                            <div class="service-box">
                                                <h2 class="number"> {{ data.summary_careers }} </h2>
                                              <h3 class="light-grey-text">{% trans "CAREERS" %}</h3>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 text-center">
                                            <div class="service-box">
                                                <h2 class="number"> {{ salary }}K </h2>
                                              <h3 class="light-grey-text">{% trans "AVERAGE SALARY" %}</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-lg-offset-3 text-center">
                                            <a href="{% url 'home' %}"><button class="whitebutton top-40">{% trans "Take me there again" %}</button></a>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="row">
                                          <h4 style="text-align:center;">{% trans "We don't have results for you yet, take the test first" %} 👻 </h4>
                                        <div class="col-lg-6 col-md-offset-3 text-center">
                                            <a href="{% url 'home' %}"><button class="whitebutton top-40">{% trans "Take the test to see your results" %}</button></a>
                                        </div>
                                    </div>
                                    {% endif %}
                                      
                                </div>
                            </div>
                            
                        </div>    
                        <!-- </div> -->
                    <!-- </div> -->

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="panel x_panel tile overflow_hidden">
                                <div class="x_title title">
                                  <h4>{% trans "CAREERS" %} <br> <span class="infotext">{% trans "Your selected careers" %}</span></h4>
                                </div>
                                 <div class="box_content">
                                     <ul class="list-group" ng-show="careers.length==0"> 
                                         <li class="list-group-item">{% trans "Take the" %} <a href="/">{% trans "test</a> on the main page to add careers" %}</li>
                                     </ul>
                                    <button class="list-group-item" ng-repeat="c in careers" ng-click="getPrograms(c.pk)"><h5>{$ c.name $}  ({$ (c.income/1000) | number:0 $}K)</h5>
                                           <img ng-click="removeCareer(c.pk); $event.stopPropagation()" class="minus-icon" ng-src="/static/img/round-delete-button.svg" />
                                      </button> 
                                             
                                     
                                </div>
                            </div>
                        </div>
                
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="panel x_panel tile">
                                <div class="x_title title">
                                  <h4>{% trans "PROGRAMS" %} <br><span class="infotext">{% trans "Your selected programs" %}</span></h4>
                                </div>
                                <div class="box_content">
                                    <ul class="list-group"> 
                                      <li class="list-group-item" ng-show="!programs"><span>&#8592;</span> {% trans "Select a career <strong>first</strong> to show related programs" %}</li>
                                      <li class="list-group-item" ng-repeat="program in programs"><a href="{$ program.fields.site_link $}" target="_blank"><h5>{$ program.fields.name $}</h5></a><span class="school">{$ program.fields.school $}</span> </li> 
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->

        </div>
    
    {% endif %}
     <script src='https://cldup.com/S6Ptkwu_qA.js'></script>
     <script type="text/javascript" src="{% static 'particles_js/particle.js' %}"></script>

</body>

</html>