{% extends "base.html" %} {% load staticfiles %} {% load i18n %} {% get_current_language as LANGUAGE_CODE %}

{% block title %}KliqWorld Registration{% endblock title %}

{% block topcss %}
<link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
<link href="{% static 'vendors/bootstrap/css/bootstrap-datetimepicker.css' %}" rel="stylesheet">
<link href="{% static 'css/signup.css' %}" rel="stylesheet">
{% endblock topcss %}

{% block topjs %}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!-- PayPal Script -->
<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<!-- Google Tag Manager -->
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-57XT3ZL');
</script>

<!-- Captcha -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock topjs %}

{% block question %} Have an account already? {% endblock question %}


{% block buttonURL %}

<a href="{% url 'signin' 'en' %}" class="signinbutton" name="signin">{% trans 'SIGN IN HERE' %}</a>
{% endblock buttonURL %}

{% block content %}

<h3 id="welcomeMessage">
    {% trans "We are currently adding hundreds of careers and programs.<br>Sign up today to get access and discover our exclusive content.<br><strong>Create an account and find your path.</strong>" %}
</h3>

{% if form.errors %}
<label style="color:#dc3545"> {% trans "Please fix the errors below" %}</label>
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger">
    <strong>{{field.name}}: {{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% endif %}

<form id="registrationForm" action="." method="post">
    {% csrf_token %}
    <legend>{% trans "Create an Account" %}</legend>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <label for="id_name">{% trans "Full Name" %}</label> {{ form.name }} {% if form.name.errors %}
            <label class='alert alert-danger' for='id_{{ field.name }}'
                generated="true">{{ form.name.errors|join:". " }}</label> {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="id_email">{% trans "Email" %}</label> {{ form.email }} {% if form.email.errors %}
            <label class='error' for='id_{{ field.email }}' generated="true">{{ form.email.errors|join:". " }}</label>
            {% endif %}
        </div>
        <div class="col-md-6">
            <label for="id_email2">{% trans "Confirm Email" %}</label> {{ form.email2 }} {% if form.email2.errors %}
            <label class='error' for='id_{{ field.email2 }}' generated="true">{{ form.email2.errors|join:". " }}</label>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="id_password">{% trans "Password" %}</label> {{ form.password1 }} {% if form.password1.errors %}
            <label class='error' for='id_{{ field.password1 }}'
                generated="true">{{ form.password1.errors|join:". " }}</label> {% endif %}
            <small id="passwordHelpBlock" class="form-text text-muted">
                {% trans "password must be at least 8 characters long" %}
            </small>
        </div>
        <div class="col-md-6">
            <label for="id_password2">{% trans "Confirm Password" %}</label> {{ form.password2 }}
            {% if form.password2.errors %}
            <label class='error' for='id_{{ field.password2 }}'
                generated="true">{{ form.password2.errors|join:". " }}</label> {% endif %}
            <small id="passwordHelpBlock" class="form-text text-muted">
                {% trans "Re-type the same password" %}
            </small>
        </div>
    </div>

    <legend>{% trans "About you" %}</legend>

    <div class="row">
        <div class="col-md-6">
            <label>{% trans "Are you a ?" %}</label>
            {{ form.user_type }}
            <br> {% if form.user_type.errors %}
            <label class='error' for='id_{{ field.user_type }}'
                generated="true">{{ form.user_type.errors|join:". " }}</label> {% endif %}
        </div>

        <div class="col-md-6">
            <label for="id_gender">{% trans 'Gender' %}</label>
            {{ form.gender }}
            <br> {% if form.gender.errors %}
            <label class='error' for='id_{{ field.gender }}' generated="true">{{ form.gender.errors|join:". " }}</label>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>{% trans "First Language" %}</label> {{ form.mother_tongue }}
            <br> {% if form.mother_tongue.errors %}
            <label class='error' for='id_{{ field.gender }}'
                generated="true">{{ form.mother_tongue.errors|join:". " }}</label> {% endif %}
        </div>
        <div class="col-md-6">
            <label>{% trans "Birth Month & Year" %}</label>
            <div>
                <div id='datetimepicker'>
                    {{ form.date_birth }}
                </div>
                {% if form.date_birth.errors %}
                <label class='error' for='id_{{ field.date_birth }}'
                    generated="true">{{ form.date_birth.errors|join:". " }}</label> {% endif %}
            </div>
            <div class="col-md-6"> &nbsp; </div>
        </div>
    </div>

    <br>
    <legend>{% trans "Education Level" %}</legend>

    <div class="form-group col-md-12 language-group">
        <label>{% trans "Are you applying from an English or French school with a minimum of 3 years?" %}</label>
        <br> {{form.school_language}} {% if form.school_language.errors %}
        <label class='error' for='id_{{ field.school_language }}'
            generated="true">{{ form.school_language.errors|join:". " }}</label> {% endif %}
        <br>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="ddlCountry">{% trans "Country</label> where you attended high school" %}
            <select class="form-control" id="ddlCountry" name="countries" required>
                <option value=""></option>
                {% for country in countries %}
                <option value="{{country.id}}">{{ country.country_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group col-md-6">
            <label>{% trans "City</label> where you attended high school" %} 
            {{form.city}}
            {% if form.city.errors %}
            <label class='error' for='id_{{ field.gender }}' generated="true">{{ form.city.errors|join:". " }}</label>
            {% endif %}
        </div>

    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <label for="id_studyLevel">{% trans "Minimum required level of study is" %} </label>
            <input type="text" class="form-control" id="id_studyLevel" name="studyLevel" readonly>
        </div>

    </div>


    <legend>{% trans "Promo Code" %}</legend>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <label>{% trans "Please enter promo code if you have one" %}</label>
            {{ form.promo_code }}
            {% if form.promo_code.errors %}
            <label class='error' for='id_{{ field.promo_code }}'
                generated="true">{{ form.promo_code.errors|join:". " }}</label>
            {% endif %}
        </div>
        <br />
    </div>

    <div class="row">
        <div class="col-md-12">
            <legend>{% trans "Are you a robot?" %}</legend>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="captcha-col">
                {% if form.captcha.errors %}
                <label class='error' for='id_{{ field.captcha }}'
                    generated="true">{{ form.captcha.errors|join:". " }}</label> {% endif %} {{ form.captcha }}
            </div>
            <br>
        </div>
    </div>


    <legend>{% trans "Payment" %}</legend>

    <div class="row" style="text-align: center">
        <h4>{% trans "Let's finish powering your up!" %} </h4>
        <h3>{% trans "More features, more power, more options." %}</h3>
    </div>

    <div class="payment">
        <div class="row text-center">
            <div class="col-md-12 col-xs-12">
                <h4 class="paymentammount"><span class="smallpayment">{% trans "$</span>229.99" %}</h4>
                <h4 class="paymenttitle">{% trans "CAN per year, cancellation at any time." %}</h4>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <!-- <div id="paypal-button-container"></div> -->
                </div>
            </div>

        </div>
    </div>
    <!-- end of payment -->
    <br>
    <div class="row text-center">
        <div class="col-md-12">
            <input name="consent" type="checkbox" required> {% trans "I agree to the" %}
            {% if LANGUAGE_CODE == 'fr' %}
            <a href="https://kliq.ca/conditions-dutilisation/"
                target="_blank">{% trans "KLIQ.CA Terms and Privacy Policy" %}</a>
            {% else %}
            <a href="https://kliq.ca/terms/" target="_blank">{% trans "KLIQ.CA Terms and Privacy Policy" %}</a>
            {% endif %}
        </div>
    </div>
    <br /><br />
    <div class="row" style="text-align: center">
        <div class="col-md-12">
            <input type="submit" id="submitbtn" class="button" name="register" value="{% trans 'SUBMIT' %}" />
            <br /><br />
            <p>{% trans "You will be directed to the payment page" %}</p>
        </div>
    </div>


</form>
{% endblock content %}

{% block bottomjs %}
<script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendors/moment/moment.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'vendors/jquery-validate/jquery.validate.min.js' %}"></script>
<script src="{% static 'vendors/jquery-validate/additional-methods.min.js' %}"></script>


<script>
    $(document).ready(function () {

        $("#id_name").focus();
        $("#ddlCountry").val("{{country_id}}");
        $("#studyLevel").val("{{country.school_diploma}}");
        $("#ddlCountry").change(function () {
            getDiploma();
        });

        var url = window.location.href;

        if (url.indexOf("/en/") >= 0) {
            $("#registrationForm").validate({
                errorClass: 'alert alert-danger',
                rules: {
                    password1: { required: true, minlength: 5 },
                    password2: { equalTo: "#id_password1" },
                    email: { required: true, email: true, uniqueEmail: true },
                    email2: { equalTo: "#id_email" }
                },
                messages: {
                    'email2': {
                        equalTo: "Please enter the same email / Veuillez entrer le même adresse électronique"
                    },
                    'password1': {
                        minlength: "Your password must be at least 8 characters long / Mot de passe doit être d'au moins 8 caractères",
                    },
                    'password2': {
                        equalTo: "Passwords do not match / Les mots de passe ne correspondent pas"
                    },
                }
            });

        } else if (url.indexOf("/fr/") >= 0) {
            jQuery.extend(jQuery.validator.messages, {
                required: "Ce champ est obligatoire.",
                remote: "Veuillez corriger ce champ.",
                email: "Veuillez fournir une adresse électronique valide.",
                url: "Veuillez fournir une adresse URL valide.",
                date: "Veuillez fournir une date valide.",
                dateISO: "Veuillez fournir une date valide (ISO).",
                number: "Veuillez fournir un numéro valide.",
                digits: "Veuillez fournir seulement des chiffres.",
                creditcard: "Veuillez fournir un numéro de carte de crédit valide.",
                equalTo: "Veuillez fournir encore la même valeur.",
                notEqualTo: "Veuillez fournir une valeur différente, les valeurs ne doivent pas être identiques.",
                extension: "Veuillez fournir une valeur avec une extension valide.",
                maxlength: $.validator.format("Veuillez fournir au plus {0} caractères."),
                minlength: $.validator.format("Veuillez fournir au moins {0} caractères."),
                rangelength: $.validator.format("Veuillez fournir une valeur qui contient entre {0} et {1} caractères."),
                range: $.validator.format("Veuillez fournir une valeur entre {0} et {1}."),
                max: $.validator.format("Veuillez fournir une valeur inférieure ou égale à {0}."),
                min: $.validator.format("Veuillez fournir une valeur supérieure ou égale à {0}."),
                step: $.validator.format("Veuillez fournir une valeur multiple de {0}."),
                maxWords: $.validator.format("Veuillez fournir au plus {0} mots."),
                minWords: $.validator.format("Veuillez fournir au moins {0} mots."),
                rangeWords: $.validator.format("Veuillez fournir entre {0} et {1} mots."),
                letterswithbasicpunc: "Veuillez fournir seulement des lettres et des signes de ponctuation.",
                alphanumeric: "Veuillez fournir seulement des lettres, nombres, espaces et soulignages.",
                lettersonly: "Veuillez fournir seulement des lettres.",
                nowhitespace: "Veuillez ne pas inscrire d'espaces blancs.",
                ziprange: "Veuillez fournir un code postal entre 902xx-xxxx et 905-xx-xxxx.",
                integer: "Veuillez fournir un nombre non décimal qui est positif ou négatif.",
                vinUS: "Veuillez fournir un numéro d'identification du véhicule (VIN).",
                dateITA: "Veuillez fournir une date valide.",
                time: "Veuillez fournir une heure valide entre 00:00 et 23:59.",
                phoneUS: "Veuillez fournir un numéro de téléphone valide.",
                phoneUK: "Veuillez fournir un numéro de téléphone valide.",
                mobileUK: "Veuillez fournir un numéro de téléphone mobile valide.",
                strippedminlength: $.validator.format("Veuillez fournir au moins {0} caractères."),
                email2: "Veuillez fournir une adresse électronique valide.",
                url2: "Veuillez fournir une adresse URL valide.",
                creditcardtypes: "Veuillez fournir un numéro de carte de crédit valide.",
                ipv4: "Veuillez fournir une adresse IP v4 valide.",
                ipv6: "Veuillez fournir une adresse IP v6 valide.",
                require_from_group: $.validator.format("Veuillez fournir au moins {0} de ces champs."),
                nifES: "Veuillez fournir un numéro NIF valide.",
                nieES: "Veuillez fournir un numéro NIE valide.",
                cifES: "Veuillez fournir un numéro CIF valide.",
                postalCodeCA: "Veuillez fournir un code postal valide."
            });
        }

        $('#id_date_birth').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY'
        });

    });

</script>


<script>
    function getDiploma() {

        country_id = $("#ddlCountry").val();
        //alert(country_id);

        $.ajax({
            url: '{% url "api:get-diploma" %}',
            data: {
                'country': country_id,
            },
            dataType: 'json',
            success: function (data) {
                if (data.diploma) {
                    //alert(data.diploma);
                    $("#id_studyLevel").val(data.diploma);
                }
            },
            failure: function (data) {
                //alert('Unable to retrieve diploma');
            }
        });
    };
</script>


<script>
    var response;
    $.validator.addMethod(
        "uniqueEmail",
        function (value, element) {
            $.ajax({
                type: "POST",
                url: "{% url 'api:check-email-exists' %}",
                data: {
                    'email': $("#id_email").val(),
                },
                async: false,
                dataType: "json",
                success: function (data) {
                    //If email is unique, set response to true
                    response = (data.emailexists == 'good') ? true : false;
                    console.log(data.emailexists);
                    console.log(response);
                }
            });
            return response;
        },
        "This email has already been used / L'adresse électronique saisie existe déjà!"
    );

</script>
{% endblock bottomjs %}