{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}


    {% block title %} KLIQWorld Sign in {% endblock title %}
        
    {% block topcss %}
        <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
        <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    {% endblock topcss %}
        
    
    {% block question %} {% trans "Don't have an account yet?" %} {% endblock question %}
    
    {% block buttonURL %}
        <a href="{% url 'signup' 'en' %}" class="signinbutton" name="signin">{% trans 'REGISTER FREE' %}</a>
    {% endblock buttonURL %}
    

    {% block content %}
        
        {% get_current_language as LANGUAGE_CODE %}
        
         <h1 class="welcome">{% trans "It's good to see you again" %}</h1>
         <br>
         <p id="welcomeMessage">{% trans "We are currently adding hundreds of careers and programs.<br>More options to find your perfect path. <br>Stay tuned for more updates.</p>" %}
          
            <div class="row" style="text-align:center">
                <div class='col-md-6 col-sm-4 col-md-offset-3 col-sm-offset-4'>
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        
                        <form action="" method="post"  >
                            {% csrf_token %}
                    		<label for="id_email">{% trans "Email" %}</label>
                              <!-- <input name="username" type="email" class="form-control" id="email" required> -->
                              {{ form.username }}
                    	     {% for error in form.username.errors %}
                                <div class="alert alert-danger"><p>{{ form.username.errors }}</p></div>
                              {% endfor %}
                    		<br>
                    	   
                    	    <label for="id_password">{% trans "Password" %}</label>
                             <!-- <input name="password" type="password" class="form-control" id="password" required> -->
                             {{ form.password }}
                             {% for error in form.password.errors %}
                                <div class="alert alert-danger" ><p>{{ form.password.errors }}</p></div>
                              {% endfor %}
                    		
                    		<input type="submit" value="{% trans 'Sign in' %}"   class="btn-primary"/>
                    		{% if LANGUAGE_CODE == 'fr' %}
                    		<a href="{% url 'password_reset_fr' %}">
							{% else %}
							<a href="{% url 'password_reset_en' %}">
							{% endif %}
                    		    <p style="text-align:center">{% trans "Forgot your password?" %}</p>
                    		</a>
                    		<a href="{% url 'signup' LANGUAGE_CODE %}">
                    		    <p style="text-align:center">{% trans "Create an account" %}</p>
                    		</a>
                    		
                        </form> <!-- end of sign in form -->
                        
                        

        
        
              </div> 
        </div>   
{% endblock content %}
{% block bottomjs %}

     <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script> 
        <script>
                 $(document).ready(function() {
                     var url = window.location.href
                   var elements = document.getElementsByTagName("INPUT");
                    for (var i = 0; i < elements.length; i++) {
                        
                        elements[i].oninvalid = function(e) {
                            e.target.setCustomValidity("");
                            if (!e.target.validity.valid  && url.indexOf("/en/") >= 0) {
                                e.target.setCustomValidity("This field is required!");
                            } else if (!e.target.validity.valid   && url.indexOf("/fr/") >= 0){
                                e.target.setCustomValidity("Ce champ est obligatoire!");
                            }
                        };
                        elements[i].oninput = function(e) {
                            e.target.setCustomValidity("");
                        };
                        
                    }
                    
                })
        </script>
                        
{% endblock bottomjs %}