{% extends "registration/base.html" %}
{% load i18n %}
{% block title %}{% trans "Payment" %}{% endblock %}

{% block content %}
    
<div>
    <h2>{% trans "Payment was cancelled" %}</h2>
    <p>
        {% trans "Your payment was not successful. You have not been charged." %}
        <br><br>
        <a href="{% url 'home' %}">{% trans "Return to home" %}</a>
    </p>
</div>

{% endblock %}