{% extends "registration/base.html" %}
{% load i18n %}
{% block title %}{% trans "Payment Complete" %}{% endblock %}

{% block content %}
    
<div>
    <h2>{% trans "Your payment was successful!" %}</h2>
    <p>
        {% trans "Check your email and click on the activation link so you can start enjoying the tool!" %}
        <br><br>
        <a href="{% url 'home' %}">{% trans "Go to home page" %}</a>
    </p>
</div>

{% endblock %}