{% extends "registration/base.html" %}
{% load i18n %}
{% block title %}{% trans "Payment" %}{% endblock %}

{% block content %}
    
<div>
    <h2>{% trans "Checkout" %}</h2>
    <p>
        {% trans "You will be charged $229.00 CAD. Click the button to continue to PayPal" %}
        <br><br>
        {{ form.render }}
        <br/>
        <a href="{% url 'home' %}">{% trans "Return to home" %}</a>
    </p>
</div>

{% endblock %}