{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html>
    <body>
        <div style="text-align:center">
            <img src="/static/img/kliq-logo.png" style="width:150px;" />
        </div>
        <br>
        {% trans "Hi" %} {{ name }}, <br><br>
        {% trans "Welcome to Kliq.ca! You are now registered so go ahead and" %}
        {% if LANGUAGE_CODE == 'fr' %}
        <a href="/fr/">
        {% else %}
        <a href="/">
        {% endif %}
            {% trans "explore your career path!" %}</a>
        <br><br> {% trans "We wish you the best." %}
        <br><br>
        {% trans "Cheers!" %}
        <br>
        {% trans "The Kliq.ca team" %}
        
    </body>
</html>