{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html>
    <body>
        <div style="text-align:center">
            <img src="/static/img/EmailHeader.png" style="width:480px;" />
        </div>
        <br>
        <div style="text-align:center; width: 500px; margin-left:auto; margin-right:auto">
            <p style="font-family: arial, helvetica, sans-serif; line-height: 28px; font-size: 24px; font-weight:bold;" > 
            {% trans "Hi" %} {{ name }},</p>
            <p style="font-family: arial, helvetica, sans-serif; line-height: 19px; font-size: 16px; color:#777777">
                {% trans "You’ve just taken a big step towards planning your career!" %}
            </p>
            <p style="font-family: arial, helvetica, sans-serif; line-height: 17px; font-size: 14px; color:#aaaaaa">
                {% trans "Your registration to the lifesaver tool, KLIQ, is nearly complete. Please take a few moments to confirm your enrolment, Activate your account by clicking on the link below:" %}
            </p>
            
            {% if LANGUAGE_CODE == 'fr' %}
                {% autoescape off %}
             <a href="http://{{ domain }}{% url 'activate' uidb64=uid token=token lang='fr' %}">
               https://{{ domain }}{% url 'activate' uidb64=uid token=token lang='fr' %}
              </a>
            {% endautoescape %}
            {% else %}
             {% autoescape off %}
             <a href="http://{{ domain }}{% url 'activate' uidb64=uid token=token lang='en' %}">
               https://{{ domain }}{% url 'activate' uidb64=uid token=token lang='en' %}
              </a>
            {% endautoescape %}
            
            {% endif %}
            
        <p style="font-family: arial, helvetica, sans-serif; line-height: 17px; font-size: 14px; color:#aaaaaa">
            {% trans "KLIQ.CA SQUAD" %}
        </p>
        
        </div>
        
        <footer style="width:100%; margin:0; margin-top:30px; padding: 30px; background-color:#444444;">
            <p style="margin: 0;font-size: 16px;line-height: 22px;text-align: center; color:#bbbbbb; font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; ">
            {% trans "Made with" %} <span style="color: rgb(255, 0, 0); font-size: 18px; line-height: 21px;">❤︎</span>
            {% trans "and lots of ☕ in Ottawa/Toronto © 2018" %}
            <br>
            <a style="color:#C7702E;text-decoration: underline;" href="http://kliq.ca/" target="_blank" rel="noopener noreferrer">Kliq.ca Inc</a>
            &#160;| {% trans "All rights reserved" %}
            </p>
        </footer>
      
    </body>
</html>